Repository lightningnetwork/lnd, pull requests merged in 2018-09, with the labels that each got.

#1740 chainntnfs/interface_test: fix unreliable historical block ntfns test
  chainntnfs/interface_test.go
Labels: P2, bug fix, first pass review done

#1516 tor+server: add automatic support for v3 onion services
  config.go
  docs/configuring_tor.md
  server.go
  tor/controller.go
  tor/controller_test.go
Labels: P3, needs review, networking, privacy, tor

#1843 Start deprecating noencryptwallet
  cmd/lncli/commands.go
  config.go
  docker/lnd/start-lnd.sh
  docs/INSTALL.md
  lnd.go
  lntest/node.go
  macaroons/README.md
  sample-lnd.conf
  walletunlocker/service.go
Labels: P3, breaking, documentation, needs review, security

#1738 payment failure message with attached channel_update not validated
  discovery/gossiper.go
  routing/ann_validation.go
  routing/notifications_test.go
  routing/pathfind_test.go
  routing/router.go
  routing/router_test.go
Labels: P2, bug fix, routing, validation

#1847 [utxonursery] Use kidoutput broadcast height as height hint
  contractcourt/chain_arbitrator.go
  contractcourt/channel_arbitrator.go
  contractcourt/contract_resolvers.go
  server.go
  utxonursery.go
  utxonursery_test.go
Labels: P2, bug fix, first pass review done, utxo sweeping

#1295 rpc: add support for a `forgetchannel` RPC only enabled w/ the debug flag
  .gitignore
  channeldb/channel.go
  cmd/lncli/commands.go
  cmd/lncli/main.go
  config_debug.go
  config_production.go
  lnd_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: P3, channel management, needs testing, rpc

#1952 cnct: add channel_arbitor htlcOutgoingContestResolver test
  contractcourt/chain_watcher_test.go
  contractcourt/channel_arbitrator_test.go
Labels: P3, channel management, contracts, tests, utxo sweeping

#1807 discovery/gossiper: check ErrNoGraphEdgesFound for restransmitStaleChannels
  discovery/gossiper.go
Labels: P3, logging

#1799 docs:fix markdown issues in docker/README.md
  docker/README.md
Labels: ready to merge

#1943 utxonursery: add test coverage
  Makefile
  server.go
  utxonursery.go
  utxonursery_test.go
Labels: P3, first pass review done, tests, utxo sweeping

#1919 remove the need for lnwallet to have access to the private key
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  mock.go
  server.go
Labels: P3, enhancement, needs review, security, wallet

#1905 Defer channel restoration until after channel active check.
  discovery/gossiper_test.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  lnpeer/peer.go
  peer.go
  server.go
Labels: bug fix, channel management, database, funding

#1733 lntest/node: persist network subscription state across restarts
  lntest/node.go
Labels: P2, bug fix, test flake, testing
