Repository lightningnetwork/lnd, pull requests merged in 2018-03, with the labels that each got.

#786 Fix FindRoutes in router test
  routing/router_test.go
Labels: testing

#785 Add more details on using macaroons with GRPC.
  docs/grpc/java.md
  docs/macaroons.md
Labels: documentation, macaroons

#803 glide: add explicit version to x/crypto deps
  glide.lock
  glide.yaml
Labels: golang

#719 lnrpc+walletunlocker: extend wallet creation to allow user generated entropy + entropy restore (BIP 39)
  cmd/lncli/commands.go
  lnd.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnwallet/btcwallet/btcwallet.go
  walletunlocker/service.go
  walletunlocker/service_test.go
Labels: wallet

#804 Added the missing fee to ListPayments (was always 0)
  rpcserver.go
Labels: rpc

#781 routing+gossiper: avoid unnecessarily validating sigs for announcement that is "stale"
  discovery/gossiper.go
  discovery/gossiper_test.go
  routing/router.go
  routing/router_test.go
Labels: routing

#787 lnrpc+htlcswitch+channeldb: add new forwarding log time series and query interface
  channeldb/error.go
  channeldb/forwarding_log.go
  channeldb/forwarding_log_test.go
  cmd/lncli/commands.go
  cmd/lncli/main.go
  htlcswitch/circuit.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/mock.go
  htlcswitch/packet.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  lnd_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
  server.go
Labels: HTLC, fees, rpc

#805 Add clarification to add port in externalip configuration if port oth…
  sample-lnd.conf
Labels: config, documentation

#784 Wire protocol errors
  fundingmanager.go
  lnwallet/errors.go
  lnwallet/interface_test.go
  lnwallet/reservation.go
  lnwallet/wallet.go
  lnwire/error.go
Labels: wire protocol

#769 multi: modify key derivation to be fully deterministic, remove p2pkh, wallet now witness only
  breacharbiter_test.go
  chainregistry.go
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/codec.go
  cmd/lncli/commands.go
  contractcourt/briefcase_test.go
  contractcourt/chain_watcher.go
  fundingmanager.go
  fundingmanager_test.go
  glide.lock
  glide.yaml
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  keychain/btcwallet.go
  keychain/derivation.go
  keychain/interface_test.go
  lnd.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnwallet/btcwallet/btcwallet.go
  lnwallet/btcwallet/signer.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/common_test.go
  lnwallet/config.go
  lnwallet/interface.go
  lnwallet/interface_test.go
  lnwallet/script_utils.go
  lnwallet/script_utils_test.go
  lnwallet/signdescriptor.go
  lnwallet/signdescriptor_test.go
  lnwallet/transactions_test.go
  lnwallet/wallet.go
  mock.go
  pilot.go
  rpcserver.go
  test_utils.go
  utxonursery_test.go
Labels: breaking, database, wallet

#808 update btcwallet+keychain to include waddrmgr deadlock fix
  glide.lock
  glide.yaml
  keychain/btcwallet.go
Labels: code health, upstream, wallet

#779 lnwire+lnwallet+htlcswitch: modify lnwire.MilliSatoshi to be unsigned, fix fee related bugs that emerged
  htlcswitch/link.go
  htlcswitch/link_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/reservation.go
  lnwallet/transactions_test.go
  lnwire/msat.go
  zpay32/invoice_internal_test.go
Labels: bug, wallet, wire protocol

#775 Switch Persistence [1/4]: Infra for Sphinx Batched Decoding and Replay Protection
  glide.lock
  glide.yaml
  htlcswitch/failure.go
  htlcswitch/iterator.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  lnd_test.go
  server.go
Labels: HTLC, routing

#665 cmd/lncli: add closeallchannels command
  cmd/lncli/commands.go
  cmd/lncli/main.go
Labels: channel closing

#778 Switch Persistence [2.5/4]: Establish Switch-Sphinx-Wallet APIs for Switch Persistence
  breacharbiter_test.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: HTLC

#761 Switch Persistence [ALL]: Forwarding Packages + Sphinx Replay Protection + Circuit Persistence
  breacharbiter_test.go
  config.go
  htlcswitch/circuit.go
  htlcswitch/circuit_map.go
  htlcswitch/circuit_test.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mailbox.go
  htlcswitch/mailbox_test.go
  htlcswitch/mock.go
  htlcswitch/packet.go
  htlcswitch/sequencer.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  htlcswitch/test_utils.go
  lnd_test.go
  lntest/node.go
  peer.go
  rpcserver.go
  server.go
  test_utils.go
Labels: database, safety

#816 Update go version for Docker lnd build
  docker/lnd/Dockerfile
Labels: docker, golang

#817 Remove deprecated --witness_only arg
  docker/README.md
Labels: cli

#814 Rebroadcast Funding Txn
  breacharbiter_test.go
  channeldb/channel.go
  channeldb/channel_test.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/test_utils.go
  lnd.go
  lnwallet/channel_test.go
  lnwallet/wallet.go
  test_utils.go
Labels: funding

#820 lnwallet/interface_test: extend publish timeout
  lnwallet/interface_test.go
Labels: testing

#790 Wire error handoff
  fundingmanager.go
  htlcswitch/link.go
  lnwire/channel_id.go
  peer.go
Labels: channel management, wire protocol

#823 peer: modify the msgStream to not buffer messages off the wire indefi…
  peer.go
Labels: wire protocol

#821 htlcswitch/switch: improve safety of switch shutdown
  htlcswitch/switch.go
Labels: HTLC

#802 build: switch from glide to dep for dependency management
  .travis.yml
  Gopkg.lock
  Gopkg.toml
  docker/lnd/Dockerfile
  docs/INSTALL.md
  glide.lock
  glide.yaml
  gotest.sh
Labels: golang

#783 config+cmd/lncli: add flags to specify the base directory for lnd and supported backend nodes
  cmd/lncli/main.go
  config.go
Labels: config

#830 link test: increase timeout for message sends
  htlcswitch/link_test.go
Labels: testing

#782 funding: implement reservation zombie sweeper
  fundingmanager.go
  fundingmanager_test.go
  lnd.go
  lnwallet/reservation.go
  lnwallet/wallet.go
Labels: wallet

#826 Reextract Circuit Error Encrypters
  htlcswitch/circuit_map.go
  htlcswitch/circuit_test.go
  htlcswitch/failure.go
  htlcswitch/iterator.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  peer.go
  server.go
Labels: database, onion routing, security

#824 Configurable CoinType for HD Derivation
  chainparams.go
  chainregistry.go
  keychain/btcwallet.go
  keychain/interface_test.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/btcwallet/config.go
  lnwallet/btcwallet/signer.go
  lnwallet/interface_test.go
Labels: crypto, wallet

#828 Switch ITest Hardening
  lnd_test.go
  lntest/harness.go
Labels: testing

#842 lnd_test: removes unnecessary disconnects from switch itest
  lnd_test.go
Labels: testing

#838 Litecoind Backend
  chainregistry.go
  config.go
  docs/INSTALL.md
  fundingmanager.go
  fundingmanager_test.go
  lnd.go
  rpcserver.go
Labels: backend

#850 fixing version to beta
  version.go
Labels: code health

#849 discovery: format log message with Errorf
  discovery/gossiper.go
Labels: code health

#851 Fixing a small typo on INSTALL.md
  docs/INSTALL.md
Labels: documentation

#853 Fix go bin path in INSTALL.md
  docs/INSTALL.md
Labels: documentation

#866 Docs: Inconsistent ZMQ port numbers in examples
  docs/INSTALL.md
Labels: documentation

#873 move defaultchanconfs setting in sample-lnd.conf to bitcoin section
  sample-lnd.conf
Labels: config, documentation

#874 macaroons: don't attempt zeroing key from mem if it doesn't exist
  macaroons/store.go
Labels: macaroons

#834 multi: specify retrieving active, inactive, public, and private channels from listchannels rpc
  cmd/lncli/commands.go
  lnd_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/harness.go
  rpcserver.go
Labels: channels, rpc

#847 rpc: Fix typo in OpenChannelRequest
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: rpc

#864 [Feature] Add TLSExtraDomain to config
  config.go
  lnd.go
Labels: config

#938 Invoice macaroon path fix
  config.go
Labels: config, macaroons

#930 breacharbiter: reuse spend events instead of re-registering
  breacharbiter.go
Labels: HTLC, safety

#911 Litecoin fixes
  chainparams.go
  rpcserver.go
  sample-lnd.conf
Labels: backend, documentation, litecoin

#942 htlcswitch: trivial whitespace
  htlcswitch/switch.go
Labels: code health

#934 Neutrino, stop the chainservice before node DB.
  chainregistry.go
Labels: database

#949 config: determine the bitcoind chain directory from the chain params …
  config.go
Labels: config

#953 channeldb: update ShortChanID in-mem during MarkAsOpen
  channeldb/channel.go
  channeldb/channel_test.go
Labels: channels

#962 Makefile w/ dep
  Makefile
  cmd/lncli/main.go
  lnd.go
  version.go
Labels: golang/build system

#928 docs: encode macaroon in python grpc example
  docs/grpc/python.md
Labels: documentation, macaroons

#982 server: cleanup persistent connection retries
  fundingmanager.go
  fundingmanager_test.go
  lnd.go
  lnd_test.go
  lntest/harness.go
  lntest/node.go
  server.go
Labels: p2p

#877 config: default naked ports to localhost
  config.go
Labels: config

#840 Add CSV delay flag to openchannel
  cmd/lncli/commands.go
  fundingmanager.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  pilot.go
  rpcserver.go
  server.go
Labels: channels, rpc

#876 Support space characters surrounding = in bitcoind configuration files
  config.go
Labels: backend, bitcoind, config

#965 Switch to Makefile Build System
  .travis.yml
  Makefile
  gotest.sh
  lntest/node.go
  make/testing_flags.mk
Labels: golang/build system, testing
