Repository lightningnetwork/lnd, pull requests merged in 2018-11, with the labels that each got.

#2122 [watchtower/blob] variable length sweep addr
  watchtower/blob/justice_kit.go
  watchtower/blob/justice_kit_test.go
Labels: P2, needs review, watchtower

#2044 chainntnfs: re-enable height hint cache
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/bitcoindnotify/bitcoind_test.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/btcdnotify/btcd_test.go
  chainntnfs/height_hint_cache.go
  chainntnfs/height_hint_cache_test.go
  chainntnfs/interface_test.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/txnotifier.go
  chainntnfs/txnotifier_test.go
  chainregistry.go
  lnwallet/interface_test.go
Labels: P2, needs review, needs testing, notifications

#2027 Option to disable incoming push amounts on channel opening
  config.go
  fundingmanager.go
  fundingmanager_test.go
  lnwallet/errors.go
Labels: P2, config, funding

#1944 lnrpc: allow pubkey in SendToRoute
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: P4, enhancement, routing, rpc

#1782 rpcserver: show inactive channels in GetInfo
  docker/README.md
  docs/grpc/javascript.md
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: P3, channels, needs testing, rpc

#2153 lnd_test: add waitForChannelPendingForceClose
  lnd_test.go
Labels: P2

#2124 [watchtower/lookout]: on-chain breach monitoring
  watchtower/blob/justice_kit.go
  watchtower/blob/justice_kit_test.go
  watchtower/lookout/interface.go
  watchtower/lookout/justice_descriptor.go
  watchtower/lookout/justice_descriptor_test.go
  watchtower/lookout/log.go
  watchtower/lookout/lookout.go
  watchtower/lookout/lookout_test.go
  watchtower/lookout/mock.go
  watchtower/lookout/punisher.go
  watchtower/wtdb/mock.go
  watchtower/wtdb/session_info.go
Labels: P2, enhancement, safety, security, watchtower

#2149 discovery/gossiper: send node anns when constructing full chan proof
  discovery/gossiper.go
  discovery/gossiper_test.go
  routing/router.go
Labels: P2, discovery, gossip, needs testing

#1937 Data loss protect resending
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/db.go
  channeldb/db_test.go
  channeldb/legacy_serialization.go
  channeldb/migrations.go
  channeldb/migrations_test.go
  contractcourt/chain_watcher.go
  htlcswitch/link.go
  lnd_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  peer.go
Labels: P2, interop, needs review, safety, wallet

#2221 rpc: properly set output index in OpenChannelSync resp
  rpcserver.go
Labels: bug fix, funding, rpc

#2140 [watchtower/wtserver] rename server package, add godocs, general code health
  watchtower/wtserver/interface.go
  watchtower/wtserver/log.go
  watchtower/wtserver/mock.go
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
Labels: P3, code health, logging, watchtower

#1892 travis cache
  .travis.yml
  Makefile
Labels: P3, golang/build system, travis

#2094 config: validate node color after reading config
  config.go
Labels: P4, bug
