Repository lightningnetwork/lnd, pull requests merged in 2018-10, with the labels that each got.

#1951 chainntnfs: Reorder commit hints and notify
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/txconfnotifier.go
Labels: P2, needs review, notifications, safety

#1389 Add --noprivate flag to describegraph rpc to filter out private channels
  channeldb/db_test.go
  cmd/lncli/commands.go
  lnd_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: P3, graph, needs rebase, privacy

#1888 lnrpc+routing: fix unmarshallRoute and simplify route structure
  routing/heap.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
Labels: first pass review done

#2059 rpc: prevent spending unconfirmed funds within OpenChannel by default
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/harness.go
  rpcserver.go
Labels: P2, funding, needs review, needs testing, rpc

#1936 conctractcourt: check sweep sanity + reliable publication
  contractcourt/contract_resolvers.go
Labels: P2, contracts, needs review, utxo sweeping, wallet

#1954 server: ensure each time we update a node ann we also update the on-disk version
  chan_series.go
  channeldb/graph.go
  discovery/gossiper.go
  lnd_test.go
  lnwallet/fee_estimator.go
  server.go
Labels: bug fix, needs review, needs testing, p2p, server, tor

#1512 [watchtower/wtwire]: Watchtower Wire Messages
  watchtower/wtwire/create_session.go
  watchtower/wtwire/create_session_reply.go
  watchtower/wtwire/error.go
  watchtower/wtwire/error_code.go
  watchtower/wtwire/features.go
  watchtower/wtwire/init.go
  watchtower/wtwire/message.go
  watchtower/wtwire/state_update.go
  watchtower/wtwire/state_update_reply.go
  watchtower/wtwire/wtwire.go
  watchtower/wtwire/wtwire_test.go
Labels: P2, first pass review done, watchtower, wtwire

#1535 [watchtower/server] Server-Side Wire Protocol
  watchtower/server/interface.go
  watchtower/server/log.go
  watchtower/server/mock.go
  watchtower/server/server.go
  watchtower/server/server_test.go
  watchtower/wtdb/breach_hint.go
  watchtower/wtdb/mock.go
  watchtower/wtdb/session_id.go
  watchtower/wtdb/session_info.go
  watchtower/wtdb/session_state_update.go
Labels: P2, first pass review done, watchtower, wtserver, wtwire

#1981 rpc+server: ensure we don't leak unadvertised nodes within invoice routing hints
  chan_series.go
  channeldb/graph.go
  channeldb/graph_test.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  fundingmanager.go
  fundingmanager_test.go
  lnd_test.go
  routing/router.go
  rpcserver.go
Labels: P2, first pass review done, needs testing, payments, privacy, routing, rpc

#2053 update 'configuring_tor' file
  docs/configuring_tor.md
Labels: config, documentation

#1787 chainntnfs: Isolate conf notifications during historical scans
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/txconfnotifier.go
  chainntnfs/txconfnotifier_test.go
Labels: P2, bug fix, notifications

#2111 Bump Go versions and use '.x' to always get latest patch versions
  .travis.yml
Labels: golang/build system, travis
