Repository lightningnetwork/lnd, pull requests merged in 2018-12, with the labels that each got.

#1902 Move chan series to discovery
  discovery/chan_series.go
  discovery/syncer.go
  server.go
Labels: P3, code health, discovery, refactoring

#2123 [Tests] No forwarding of stale node announcements
  discovery/gossiper_test.go
Labels: P2, enhancement, testing

#2148 Add missing REST endpoints for SignMessage and VerifyMessage
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: P3, REST, enhancement, gRPC, rpc

#2115 path finding: Disable bit decoupling
  routing/missioncontrol.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/router_test.go
Labels: P2, discovery, p2p, routing

#2030 Validate own node announcement, signature length
  channeldb/graph.go
  discovery/gossiper.go
Labels: P2, database, gossip

#2093 lnrpc: add new WalletKit sub-RPC server
  chainregistry.go
  lnrpc/signrpc/signer.pb.go
  lnrpc/signrpc/signer.proto
  lnrpc/walletrpc/config_active.go
  lnrpc/walletrpc/config_default.go
  lnrpc/walletrpc/driver.go
  lnrpc/walletrpc/gen_protos.sh
  lnrpc/walletrpc/log.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit_server.go
  log.go
  rpcserver.go
  subrpcserver_config.go
Labels: P2, enhancement, gRPC

#2006 Scoring based autopilot attachment heuristic
  autopilot/agent.go
  autopilot/agent_test.go
  autopilot/heuristic_constraints.go
  autopilot/interface.go
  autopilot/prefattach.go
  autopilot/prefattach_test.go
  pilot.go
Labels: P3, autopilot, needs review, needs testing, rpc

#2007 Server: make maximum backoff configurable
  config.go
  server.go
Labels: P3, config, needs testing

#2033 lnrpc: Add payment hash to SendResponse
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: P3, gRPC, needs testing, routing, rpc

#1984 Add listunspent RPC call
  cmd/lncli/commands.go
  cmd/lncli/main.go
  lnd_test.go
  lnrpc/README.md
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/harness.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  rpcserver.go
Labels: P3, gRPC, rpc, wallet

#2304 [autopilot] Don't fail on no more positive nodes
  autopilot/agent.go
  autopilot/choice.go
Labels: P3, autopilot, enhancement, needs review

#2156 [Integration tests]: make sure miner have seen tx before mining
  lnd_test.go
Labels: P3, bug fix, needs review, testing

#2117 Save integration tests backend logs
  .gitignore
  lnd_test.go
  lntest/harness.go
Labels: P3, enhancement, needs review, testing

#2324 docs: revamp INSTALL.md
  docs/INSTALL.md
Labels: documentation, enhancement

#2225 lnd_test: use context with timeout when instead of context.Background
  lnd_test.go
Labels: P2, enhancement, needs review, needs testing

#2039 Add Autopilot sub-RPC server
  .gitignore
  autopilot/manager.go
  cmd/lncli/autopilotrpc_active.go
  cmd/lncli/autopilotrpc_default.go
  cmd/lncli/main.go
  lnd.go
  lnrpc/autopilotrpc/autopilot.pb.go
  lnrpc/autopilotrpc/autopilot.proto
  lnrpc/autopilotrpc/autopilot_server.go
  lnrpc/autopilotrpc/config_active.go
  lnrpc/autopilotrpc/config_default.go
  lnrpc/autopilotrpc/driver.go
  lnrpc/autopilotrpc/log.go
  log.go
  pilot.go
  rpcserver.go
  subrpcserver_config.go
Labels: P3, autopilot, lncli, routing

#2329 multi: replace per channel sigPool with global daemon level sigPool
  breacharbiter_test.go
  contractcourt/chain_arbitrator.go
  fundingmanager.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/test_utils.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/sigpool.go
  lnwallet/test_utils.go
  peer.go
  rpcserver.go
  server.go
  test_utils.go
Labels: P3, channels, needs review, optimization, wallet

#1745 channeldb: avoid creating empty buckets
  channeldb/graph.go
  routing/router.go
  routing/router_test.go
Labels: P3

#2191 release: update release script to allow user to specify systems
  release.sh
Labels: P3, enhancement, golang/build system, needs testing, releases

#2338 github: add PR contribution checklist
  .github/pull_request_template.md
Labels: P3, documentation, enhancement
