Repository lightningnetwork/lnd, pull requests merged in 2018-05, with the labels that each got.

#1149 Trim Open Circuits Using HTLC Index of Pending Commitments
  Makefile
  channeldb/channel.go
  config.go
  htlcswitch/circuit_map.go
  htlcswitch/hodl/config.go
  htlcswitch/hodl/flags.go
  htlcswitch/hodl/mask_debug.go
  htlcswitch/hodl/mask_production.go
  htlcswitch/hodl/mask_test.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  lnd_test.go
  lntest/node.go
  lnwallet/channel.go
  make/testing_flags.mk
  peer.go
Labels: htlcswitch, safety

#1198 router: Validation Barrier Shutdown
  discovery/gossiper.go
  routing/router.go
  routing/validation_barrier.go
  routing/validation_barrier_test.go
Labels: discovery, routing, safety

#1202 htlcswitch/link: ensure circuits are committed in-order
  htlcswitch/link.go
Labels: HTLC, htlcswitch, safety

#1180 Empty commitsig fix
  htlcswitch/link_test.go
  lnwallet/channel.go
Labels: commitments

#1166 Isolate Pending Channels in Switch
  breacharbiter_test.go
  channeldb/channel.go
  channeldb/channel_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_watcher.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/circuit_map.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/mailbox.go
  htlcswitch/mailbox_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  htlcswitch/test_utils.go
  lnd.go
  lnwallet/channel.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  pilot.go
  rpcserver.go
  test_utils.go
Labels: htlcswitch, safety

#1199 peer/server: Remove Broadcast err chans
  peer.go
  server.go
Labels: p2p, safety, server

#1201 server: Peer Async Disconnect w/ Scheduled peerConnected
  peer.go
  server.go
Labels: p2p, safety, server

#945 Move DecayedLog from lightning-onion to htlcswitch.
  Gopkg.lock
  Gopkg.toml
  htlcswitch/circuit_test.go
  htlcswitch/decayedlog.go
  htlcswitch/decayedlog_test.go
  htlcswitch/mock.go
  server.go
Labels: routing

#1204 Update Bitcoind docs with a note about multiple LND instances
  docs/INSTALL.md
Labels: bitcoind, documentation

#1203 routing+server: add new QueryBandwidth method to reduce outbound fail…
  routing/missioncontrol.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/router.go
  routing/router_test.go
  server.go
Labels: routing

#1169 Docker: Build LND locally rather than pulling down from GitHub
  docker/lnd/Dockerfile
Labels: docker

#1164 "Production" Docker Image
  Dockerfile
  README.md
  docs/DOCKER.md
Labels: docker

#1137 macaroons: add unit tests and documentation
  docs/macaroons.md
  lnd.go
  macaroons/README.md
  macaroons/constraints_test.go
  macaroons/service.go
  macaroons/service_test.go
  rpcserver.go
Labels: documentation, macaroons, testing
