Repository lightningnetwork/lnd, pull requests merged in 2018-06, with the labels that each got.

#618 Change wallet password
  cmd/lncli/commands.go
  cmd/lncli/main.go
  lnd.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnwallet/interface.go
  macaroons/service.go
  walletunlocker/service.go
  walletunlocker/service_test.go
Labels: rpc, wallet

#1159 multi: add onion services support
  Gopkg.lock
  channeldb/addr.go
  channeldb/addr_test.go
  channeldb/nodes.go
  config.go
  discovery/bootstrapper.go
  docs/configuring_tor.md
  lnd.go
  lnwire/lnwire.go
  lnwire/lnwire_test.go
  pilot.go
  rpcserver.go
  server.go
  tor/README.md
  tor/controller.go
  tor/net.go
  tor/onionaddr.go
  tor/tor.go
  torsvc/README.md
  torsvc/interface.go
  torsvc/net.go
  torsvc/torsvc.go
Labels: onion routing, p2p, privacy

#1008 server: fix inbound/outbound peer connection logic
  rpcserver.go
  server.go
Labels: p2p

#1339 htlcswitch/link: remove deadlock in htlc validation
  htlcswitch/link.go
Labels: htlcswitch, safety

#1345 discovery: bypass server for direct message sends
  discovery/gossiper.go
  discovery/gossiper_test.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  lnpeer/peer.go
  peer.go
  server.go
Labels: discovery, p2p, server

#1344 integration tests: shut down nodes using defer
  lnd_test.go
  lntest/node.go
Labels: code health, testing

#1205 server: improve initial peer bootstrapping
  discovery/bootstrapper.go
  server.go
Labels: discovery

#1390 rpc: sort closed channels in order of ascending height
  rpcserver.go
Labels: rpc

#1296 htlcswitch: add basic table driven tests for ExpectedFee
  htlcswitch/link.go
  htlcswitch/link_test.go
Labels: htlcswitch, testing

#1148 Updating in line with a PR
  docs/INSTALL.md
Labels: documentation

#1372 peer: prevent processing close msg if channel is not found
  fundingmanager.go
  peer.go
Labels: channel management, p2p

#1262 rpc: add support for unix sockets
  cmd/lncli/main.go
  config.go
  lncfg/address.go
  lncfg/address_test.go
  lnd.go
  sample-lnd.conf
  server.go
Labels: rpc

#1382 routing: fix route fee calculation and channel capacity check
  lnd_test.go
  routing/pathfind.go
  routing/pathfind_test.go
Labels: channels, fees, routing

#1358 routing: routing may come up with suboptimal routes (weight function)
  routing/pathfind.go
  routing/pathfind_test.go
Labels: routing
