Repository lightningnetwork/lnd, pull requests merged in 2018-08, with the labels that each got.

#1659 htlcswitch/link: conditional batch ticker
  htlcswitch/link.go
  htlcswitch/link_test.go
  peer.go
Labels: P2, htlcswitch, optimization

#1364 Data loss protection
  channeldb/channel.go
  channeldb/db.go
  contractcourt/chain_watcher.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  lnd_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  peer.go
Labels: P2, needs testing, ready to merge, recovery, safety

#1543 [watchtower/blob]: Blob of Justice encryption/decryption and v0 plaintext encoding
  lnwallet/channel.go
  lnwallet/script_utils.go
  lnwallet/script_utils_test.go
  watchtower/blob/justice_kit.go
  watchtower/blob/justice_kit_test.go
Labels: P2, first pass review done, safety, security, watchtower

#1628 chainntnfs: handle historical confs and spends asynchronously
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/interface_test.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/txconfnotifier.go
  chainntnfs/txconfnotifier_test.go
Labels: P2, backend, enhancement, notifications

#1579 multi: update primary interfaces to be compatible with latest version of BIP 158, use latest btcd+neutrino+btcwallet
  Gopkg.lock
  Gopkg.toml
  breacharbiter.go
  breacharbiter_test.go
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/interface.go
  chainntnfs/interface_test.go
  chainntnfs/neutrinonotify/neutrino.go
  chainparams.go
  channeldb/channel_test.go
  channeldb/graph.go
  channeldb/graph_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_watcher.go
  contractcourt/chain_watcher_test.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  contractcourt/contract_resolvers.go
  discovery/gossiper_test.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/mock.go
  lnwallet/btcwallet/blockchain.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/channel.go
  lnwallet/interface.go
  lnwallet/interface_test.go
  lnwallet/script_utils.go
  lnwallet/script_utils_test.go
  lnwallet/wallet.go
  mock.go
  peer.go
  routing/chainview/bitcoind.go
  routing/chainview/btcd.go
  routing/chainview/interface.go
  routing/chainview/interface_test.go
  routing/chainview/neutrino.go
  routing/notifications_test.go
  routing/router.go
  rpcserver.go
  test_utils.go
  utxonursery.go
Labels: P2, backend, needs review, neutrino

#1675 server: peer backoff backoff
  peer.go
  server.go
Labels: P2, needs review, p2p, server

#1566 multi: share the same bitcoind connection between multiple rescan clients
  Gopkg.lock
  Gopkg.toml
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/bitcoindnotify/driver.go
  chainntnfs/interface_test.go
  chainregistry.go
  config.go
  docs/INSTALL.md
  lnwallet/interface_test.go
  routing/chainview/bitcoind.go
  routing/chainview/interface_test.go
  sample-lnd.conf
Labels: P2, backend, bitcoind, config, needs testing, notifications, ready to merge

#1635 Move funding tx broadcasting to Fundingmanager
  fundingmanager.go
  fundingmanager_test.go
  lnwallet/interface_test.go
  lnwallet/reservation.go
  lnwallet/wallet.go
  mock.go
Labels: P2, funding, needs testing

#1668 Ticker Package
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  peer.go
  server.go
  test_utils.go
  ticker/mock.go
  ticker/ticker.go
  ticker/ticker_test.go
Labels: P2, htlcswitch, needs testing, testing

#1679 Makefile: move linter v2
  Makefile
  htlcswitch/circuit_test.go
  routing/chainview/interface_test.go
Labels: P3, code health, golang/build system, needs review

#1551 [htlcswitch]: revert replace link, ensure removed links are stopped
  chancloser.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  peer.go
  server.go
Labels: P2, bug fix, first pass review done, htlcswitch, needs testing, safety

#1460 Adds extra confirmation to payinvoice and sendpayment, can be bypassed by force.
  cmd/lncli/commands.go
Labels: P4, cli, needs rebase, payments

#1658 [server]: Start Peers Asynchronously
  peer.go
  server.go
Labels: P2, dos/hardening, p2p, ready to merge, safety, server

#1692 autopilot+config: support opening private channels with autopilot agent
  autopilot/agent_test.go
  config.go
  pilot.go
Labels: P2, autopilot, wallet

#1741 autopilot: check if already connected before returning error
  pilot.go
Labels: bug fix

#1742 Remove --render option from `lncli describegraph`
  Gopkg.lock
  Gopkg.toml
  cmd/lncli/commands.go
Labels: P3, golang/build system, travis

#1608 contractcourt/contract_resolvers: correct off-by-one HTLC expiry
  contractcourt/contract_resolvers.go
  lnd_test.go
Labels: P2, needs review

#1693 multi: allow use of unconfirmed outputs for funding transactions
  autopilot/agent.go
  autopilot/agent_test.go
  cmd/lncli/commands.go
  config.go
  fundingmanager.go
  lnd_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/harness.go
  lntest/node.go
  lnwallet/interface_test.go
  lnwallet/wallet.go
  pilot.go
  rpcserver.go
  server.go
Labels: P2, autopilot, enhancement, wallet

#1687 Send ChannelUpdate with Disabled bit if channel inactive for 20 minutes
  config.go
  htlcswitch/switch.go
  lnd_test.go
  lntest/harness.go
  peer.go
  server.go
Labels: P2, discovery, gossip, needs review, needs testing

#1749 [htlcswitch]: improve code health of switch
  htlcswitch/switch.go
Labels: P3, code health, htlcswitch, needs review

#1748 [htlcswitch]: Relax Circuit Deletion
  htlcswitch/circuit_map.go
  htlcswitch/circuit_test.go
  htlcswitch/link.go
Labels: P2, database, htlcswitch, needs review

#1747 [htlcswitch]: Set AddRef on failed packets
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
Labels: P2, bug fix, database, htlcswitch, needs review

#1698 [htlcswitch] fwdpkg cleanup
  channeldb/channel.go
  channeldb/forwarding_package.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  lnwallet/channel.go
  lnwallet/errors.go
Labels: HTLC, htlcswitch, needs testing

#1278 chainntnfs: introduce persistent height hint layer to ChainNotifier implementations
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/bitcoindnotify/bitcoind_debug.go
  chainntnfs/bitcoindnotify/driver.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/btcdnotify/btcd_debug.go
  chainntnfs/btcdnotify/driver.go
  chainntnfs/height_hint_cache.go
  chainntnfs/height_hint_cache_test.go
  chainntnfs/interface_test.go
  chainntnfs/neutrinonotify/driver.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/neutrinonotify/neutrino_debug.go
  chainntnfs/txconfnotifier.go
  chainntnfs/txconfnotifier_test.go
  chainregistry.go
  lnd_test.go
  lnwallet/interface_test.go
Labels: P2, first pass review done, needs testing, notifications

#1696 contractcourt handoff 2
  contractcourt/briefcase_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_watcher.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
Labels: P2, bug fix, needs review, needs testing, utxo sweeping

#1754 Unify gossiper and router announcement handling
  discovery/gossiper.go
  discovery/gossiper_test.go
  fundingmanager.go
  fundingmanager_test.go
  routing/errors.go
  routing/router.go
  server.go
Labels: P2, bug fix, funding, gossip
