Repository lightningnetwork/lnd, pull requests merged in 2019-05, with the labels that each got.

#2887 config: lower outgoing htlc broadcast delta
  config.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  htlcswitch/test_utils.go
  lnd_test.go
Labels: chain handling, config, payments, safety

#3019 invoicesrpc: SubscribeSingleInvoice check RHashStr
  lnrpc/invoicesrpc/invoices.pb.go
  lnrpc/invoicesrpc/invoices.proto
  lnrpc/invoicesrpc/invoices_server.go
Labels: ready to merge

#1662 lnrpc: better payment failure reporting
  cmd/lncli/commands.go
  lnd_test.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_server.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/missioncontrol.go
  routing/payment_session.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
Labels: P3, enhancement, onion routing, rpc

#2913 cnct+htlcswitch+invoices: move invoice parameter check to registry
  breacharbiter_test.go
  channeldb/invoice_test.go
  channeldb/invoices.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_watcher.go
  contractcourt/channel_arbitrator.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/htlc_success_resolver.go
  contractcourt/htlc_timeout_resolver_test.go
  contractcourt/interfaces.go
  contractcourt/mock_registry_test.go
  contractcourt/utils_test.go
  fundingmanager.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lnd_multi-hop_htlc_local_chain_claim_test.go
  lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lnd_multi-hop_htlc_remote_chain_claim_test.go
  lnd_test.go
  lntest/node.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/interface.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  peer.go
  rpcserver.go
  server.go
  test_utils.go
  witness_beacon.go
Labels: htlcswitch, payments, refactoring, safety

#3076 lnrpc: fix typos
  lnrpc/invoicesrpc/invoices.pb.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: trivial

#2704 config: allow adding multiple tls ips and domains
  config.go
  lnd.go
Labels: P3, config, enhancement, gRPC, rpc

#2312 rpc: add node color to NodeUpdate and GetInfo
  cmd/lncli/commands.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/notifications.go
  routing/notifications_test.go
  rpcserver.go
Labels: P3, enhancement, gRPC, needs review, needs testing

#2308 rpcserver: add channels to GetNodeInfo response
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: enhancement, graph, needs review, needs testing

#3075 routing/router: nil path pubkeys before spewing
  routing/router.go
Labels: trivial

#3103 discovery/sync_manager: restart historical sync on first connected peer
  discovery/sync_manager.go
  discovery/sync_manager_test.go
Labels: discovery, graph, itests, neutrino, test flake

#3106 watchtower/wtdb: add bbolt-backed ClientDB
  channeldb/codec.go
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/interface.go
  watchtower/wtclient/session_negotiator.go
  watchtower/wtclient/session_queue.go
  watchtower/wtdb/client_chan_summary.go
  watchtower/wtdb/client_db.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/client_session.go
  watchtower/wtdb/codec_test.go
  watchtower/wtdb/db_common.go
  watchtower/wtdb/tower.go
  watchtower/wtdb/tower_db.go
  watchtower/wtdb/version.go
  watchtower/wtmock/client_db.go
Labels: watchtower, wtclient, wtdb

#3026 sweep: add support for multiple fee preferences to UtxoSweeper
  contractcourt/commit_sweep_resolver.go
  lnwallet/fee_estimator.go
  server.go
  sweep/fee_estimator_mock_test.go
  sweep/sweeper.go
  sweep/sweeper_test.go
  sweep/walletsweep.go
  utxonursery.go
  utxonursery_test.go
Labels: enhancement, fees, utxo sweeping

#1881 Neutrino integration tests
  .travis.yml
  Makefile
  lnd_test.go
  lntest/btcd.go
  lntest/harness.go
  lntest/neutrino.go
  lntest/node.go
  make/testing_flags.mk
  rpcserver.go
Labels: P3, needs review, needs testing, tests

#2761 [reliable payments] router payment state machine
  channeldb/codec.go
  channeldb/control_tower.go
  channeldb/control_tower_test.go
  channeldb/db.go
  channeldb/legacy_serialization.go
  channeldb/meta_test.go
  channeldb/migration_09_legacy_serialization.go
  channeldb/migrations.go
  channeldb/migrations_test.go
  channeldb/payments.go
  channeldb/payments_test.go
  htlcswitch/control_tower.go
  htlcswitch/control_tower_test.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  routing/missioncontrol.go
  routing/mock_test.go
  routing/payment_lifecycle.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
  server.go
Labels: payments

#3125 [trivial] routerrpc test: run make fmt
  lnrpc/routerrpc/router_backend_test.go
Labels: trivial

#3130 route: return 0 fee from TotalFees for empty route.
  routing/route/route.go
  routing/route/route_test.go
Labels: bug fix, payments, rpc

#3129 chanbackup: close temp SCB file before rename
  chanbackup/backupfile.go
Labels: bug fix, safety, windows
