Repository lightningnetwork/lnd, pull requests merged in 2019-03, with the labels that each got.

#2437 Consider max HTLC during pathfinding.
  routing/pathfind.go
  routing/pathfind_test.go
  routing/router_test.go
  routing/testdata/basic_graph.json
  routing/testdata/excessive_hops.json
  routing/testdata/spec_example.json
Labels: P2, enhancement, routing, spec

#2713 [trivial] rpcserver: make listchannels debug log
  rpcserver.go
Labels: trivial

#2702 rpcserver: prevent overflow in channel count
  rpcserver.go
Labels: bug fix, gRPC, rpc

#2690 peer: deprioritize gossip traffic
  discovery/gossiper.go
  discovery/mock_test.go
  fundingmanager_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  lnpeer/peer.go
  peer.go
  server.go
Labels: discovery, enhancement, p2p, server

#2565 routing: sendPayment broken down into multiple functions
  routing/router.go
Labels: P3, code health, refactoring

#2746 lncli: fix command line argument parsing for sendpayment
  cmd/lncli/commands.go
Labels: trivial

#2749 lnwallet: within ForceClose, mark the channel as borked, prevent mutations for borked channels
  channeldb/channel.go
  contractcourt/chain_arbitrator.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: P1, bug fix

#2680 Add password length validation condition on create wallet cli
  cmd/lncli/commands.go
  walletunlocker/service.go
Labels: enhancement, lncli, rpc, validation, wallet

#2497 lnrpc: deprecate QueryRoutes with more than one route
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/missioncontrol.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
Labels: P3, code health, gRPC, rpc

#2671 lnwallet/btcwallet: remove invalid transactions from the wallet when broadcast fails
  contractcourt/htlc_success_resolver.go
  fundingmanager.go
  lnwallet/btcwallet/btcwallet.go
  utxonursery.go
  watchtower/lookout/punisher.go
Labels: P2, bug fix, wallet

#2633 [autopilot] distribute available funds among channels
  autopilot/agent.go
  autopilot/agent_test.go
Labels: P2, autopilot, bug fix

#2766 contractcourt: fix off-by-one error in closeObserver
  contractcourt/chain_arbitrator.go
  contractcourt/chain_watcher.go
  contractcourt/chain_watcher_test.go
  lnwallet/channel_test.go
  lnwallet/test_utils.go
Labels: P2, bug fix

#2490 Tor null auth and listen fixes
  config.go
  tor/controller.go
Labels: P3, bug fix, enhancement, security, tor

#2618 watchtower/wtclient: reliable, asynchronous pipeline for revoked state backups
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtclient/candidate_iterator.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/errors.go
  watchtower/wtclient/interface.go
  watchtower/wtclient/log.go
  watchtower/wtclient/session_negotiator.go
  watchtower/wtclient/session_queue.go
  watchtower/wtclient/stats.go
  watchtower/wtclient/task_pipeline.go
  watchtower/wtdb/client_session.go
  watchtower/wtdb/session_info.go
  watchtower/wtdb/tower.go
  watchtower/wtmock/client_db.go
  watchtower/wtmock/peer.go
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
  watchtower/wtwire/create_session_reply.go
  watchtower/wtwire/error_code.go
Labels: watchtower, wtclient

#1228 Fee estimation RPC
  cmd/lncli/commands.go
  cmd/lncli/main.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  lnwallet/interface_test.go
  mock.go
  rpcserver.go
Labels: P3, blocked, fees, rpc

#2705 travis: use go 1.12.x
  .travis.yml
Labels: P3, blocked, golang/build system

#2779 watchtower/wtserver: add DeleteSession request
  watchtower/wtdb/mock.go
  watchtower/wtserver/create_session.go
  watchtower/wtserver/delete_session.go
  watchtower/wtserver/interface.go
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
  watchtower/wtserver/state_update.go
  watchtower/wtwire/delete_session.go
  watchtower/wtwire/delete_session_reply.go
  watchtower/wtwire/message.go
  watchtower/wtwire/wtwire_test.go
Labels: watchtower, wtserver, wtwire

#2765 breacharbiter: watch for spends on all inputs until reaching terminal states
  breacharbiter.go
  breacharbiter_test.go
  mock.go
Labels: channel closing, watchtower

#2590 lnwire: features "maxAllowedSize" fix
  lnwire/features.go
  lnwire/init_message.go
Labels: P3, bug fix, wire protocol

#2773 channeldb: convert all Update calls to use Batch
  channeldb/channel.go
  channeldb/graph.go
  channeldb/invoices.go
Labels: database, optimization, performance

#2058 Reconnect to peer when switching networks
  server.go
Labels: mobile, networking, p2p

#2640 routing: add cltv limit
  cmd/lncli/commands.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/heap.go
  routing/missioncontrol.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/router.go
  rpcserver.go
Labels: cli, enhancement, routing, rpc

#2777 channeldb+routing+discovery: reject zombie announcements
  channeldb/db.go
  channeldb/error.go
  channeldb/graph.go
  channeldb/graph_test.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  routing/ann_validation.go
  routing/router.go
  routing/router_test.go
  server.go
Labels: P2, database, enhancement, gossip, graph

#2845 routerrpc: register router sub server logger
  lnrpc/routerrpc/log.go
  log.go
Labels: trivial

#2846 lntest/timeout: split into darwin and non-darwin timeouts
  lnd_test.go
  lntest/harness.go
  lntest/timeouts.go
  lntest/timeouts_darwin.go
Labels: golang/build system, itests, testing
