Repository lightningnetwork/lnd, pull requests merged in 2019-02, with the labels that each got.

#2493 Validate addresses before writing them to DB
  channeldb/addr.go
  channeldb/addr_test.go
Labels: bug fix, database, enhancement

#2513 wtpolicy+wtwire+wtserver: add base reward
  watchtower/wtpolicy/policy.go
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
  watchtower/wtwire/create_session.go
  watchtower/wtwire/summary.go
Labels: enhancement, watchtower

#2514 watchtower/multi: move MockSigner+MockPeer to wtmock
  watchtower/lookout/justice_descriptor_test.go
  watchtower/wtmock/peer.go
  watchtower/wtmock/signer.go
  watchtower/wtserver/server_test.go
Labels: code health, watchtower

#2500 server: require the DLP bit for all incoming/outgoing connections
  peer.go
  server.go
Labels: P2, safety, security

#2496 [trivial] lntest/node: print amounts in same format
  lntest/harness.go
  lntest/node.go
Labels: trivial

#2385 peer: write buffer pool
  lnpeer/write_buffer_pool.go
  lnpeer/write_buffer_pool_test.go
  peer.go
  queue/gc_queue.go
  queue/gc_queue_test.go
  server.go
Labels: P2, enhancement, optimization, server

#2515 watchtower/wtpolicy: altruist output calculation
  watchtower/lookout/justice_descriptor.go
  watchtower/lookout/justice_descriptor_test.go
  watchtower/wtdb/session_info.go
  watchtower/wtpolicy/policy.go
Labels: enhancement, watchtower

#2477 lnrpc: replace ChanPoint w/ OutPoint in ListUnspent resp
  cmd/lncli/commands.go
  cmd/lncli/types.go
  lnrpc/gen_protos.sh
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: gRPC, lncli

#2580 [trivial] cleanup subserver imports
  lnrpc/autopilotrpc/autopilot_server.go
  lnrpc/invoicesrpc/invoices_server.go
  lnrpc/walletrpc/walletkit_server.go
Labels: trivial

#2584 utxonursery: use baby expiry as height hint
  utxonursery.go
Labels: bug fix, neutrino

#2564 routing: move payment session to separate file
  routing/missioncontrol.go
  routing/payment_session.go
Labels: trivial

#2550 autopilot: don't block Stop on pending connection
  autopilot/agent.go
  autopilot/agent_test.go
Labels: P3, autopilot, bug fix

#2521 lnrpc: deprecate SendToRoute with more than one route
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: P3, code health, gRPC, rpc

#1988 rpc: Add SubscribeChannels RPC.
  channelnotifier/channelnotifier.go
  channelnotifier/log.go
  contractcourt/chain_arbitrator.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  lnd_test.go
  lnrpc/autopilotrpc/autopilot.pb.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  log.go
  rpcserver.go
  server.go
  subscribe/subscribe.go
  subscribe/subscribe_test.go
Labels: P3, channels, enhancement, needs review, needs testing, notifications

#2516 watchtower: client justice transaction creation + blob encryption
  input/input.go
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
Labels: watchtower, wtclient

#2457 invoices: CancelInvoice
  channeldb/invoices.go
  cmd/lncli/invoicesrpc_active.go
  cmd/lncli/invoicesrpc_default.go
  cmd/lncli/main.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch_test.go
  htlcswitch/test_utils.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lnrpc/invoicesrpc/invoices.pb.go
  lnrpc/invoicesrpc/invoices.proto
  lnrpc/invoicesrpc/invoices_server.go
  lnrpc/invoicesrpc/utils.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: P2, database, enhancement, payments

#2601 rpc: fix regression in SendToRouteSync payment hash parsing
  rpcserver.go
Labels: P2, bug fix, rpc, trivial

#2591 [trivial] fundingmanager: don't spew log shortChanID
  fundingmanager.go
Labels: trivial

#2517 Proper cleanup neutrino database in case of error
  chainregistry.go
Labels: P2, bug fix, server

#2587 build+test+make: modify travis make directive to also compile sub-ser…
  make/testing_flags.mk
Labels: golang/build system, testing, trivial

#2604 watchtower/wtclient: weight + sweep pkscript fixups
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
Labels: trivial, watchtower, wtclient

#2605 watchtower/wtwire/features: make wtwire features uniform
  watchtower/wtwire/features.go
Labels: trivial, watchtower, wtwire

#2606 watchtower/multi: send connection features + chain hash in Init
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
  watchtower/wtwire/init.go
  watchtower/wtwire/message.go
  watchtower/wtwire/wtwire.go
  watchtower/wtwire/wtwire_test.go
Labels: watchtower, wtserver, wtwire

#2572 routing: add outgoing channel restriction
  cmd/lncli/commands.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/router.go
  rpcserver.go
Labels: enhancement, payments, routing, rpc

#2556 lnrpc+rpcserver: return all utxos by default from ListUnspent
  cmd/lncli/commands.go
  cmd/lncli/types.go
  lnd_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/harness.go
  rpcserver.go
Labels: bug fix, lncli, rpc

#2615 wtwire: add CheckRemoteInit helper
  watchtower/config.go
  watchtower/standalone.go
  watchtower/wtserver/server.go
  watchtower/wtwire/features.go
  watchtower/wtwire/init.go
  watchtower/wtwire/init_test.go
Labels: watchtower, wtserver, wtwire

#2639 [trivial] routing: remove unused code, nodeIndex and chanIndex
  routing/pathfind.go
  routing/router.go
Labels: code health, trivial

#2549 routing: ignore ChannelUpdates for unknown channels
  channeldb/graph_test.go
  routing/router.go
  routing/router_test.go
Labels: P2, bug fix, discovery, gossip

#2212 Bos score enabled Autopilot
  autopilot/combinedattach.go
  autopilot/externalscoreattach.go
  autopilot/externalscoreattach_test.go
  autopilot/interface.go
  autopilot/manager.go
  lnrpc/autopilotrpc/autopilot.pb.go
  lnrpc/autopilotrpc/autopilot.proto
  lnrpc/autopilotrpc/autopilot_server.go
Labels: P2, autopilot, code health, enhancement, refactoring

#2411 netann: channel status manager
  config.go
  lnd_test.go
  netann/chan_status_manager.go
  netann/chan_status_manager_test.go
  netann/channel_state.go
  netann/channel_update.go
  netann/channel_update_test.go
  netann/interface.go
  peer.go
  server.go
  test_utils.go
Labels: channels, gossip

#2419 brontide: read buffer pool
  brontide/conn.go
  brontide/listener.go
  brontide/noise.go
  buffer/buffer_test.go
  buffer/read.go
  buffer/utils.go
  buffer/write.go
  lnpeer/write_buffer_pool.go
  lnpeer/write_buffer_pool_test.go
  peer.go
  pool/read_buffer.go
  pool/recycle.go
  pool/recycle_test.go
  pool/write_buffer.go
  queue/gc_queue.go
  queue/gc_queue_test.go
  server.go
Labels: dos/hardening, enhancement, p2p, server

#1595 discovery/gossiper: reliably send channel update msg to remote peer
  channeldb/db.go
  channeldb/meta_test.go
  channeldb/migrations.go
  channeldb/migrations_test.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  discovery/message_store.go
  discovery/message_store_test.go
  discovery/mock_test.go
  discovery/reliable_sender.go
  discovery/reliable_sender_test.go
  server.go
Labels: P3, discovery, needs testing, reviewee-respond

#2651 lncli: returning non 0 exit code when paying invoice fails
  cmd/lncli/commands.go
Labels: bug fix, cli, needs review, payments, trivial

#2083 rpc+lnd: add new sub RPC server, Router service
  lnrpc/routerrpc/config_active.go
  lnrpc/routerrpc/config_default.go
  lnrpc/routerrpc/driver.go
  lnrpc/routerrpc/log.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  rpcserver.go
  subrpcserver_config.go
Labels: P2, enhancement, gRPC, needs review, rpc

#2679 lnd_test: remove unkeyed field references
  lnd_test.go
Labels: trivial

#2610 Small integration test fixes
  lnd_test.go
Labels: P2, bug fix, neutrino, testing

#2501 htlcswitch: batch preimage writes/consistency fix
  breacharbiter_test.go
  channeldb/witness_cache.go
  channeldb/witness_cache_test.go
  contractcourt/channel_arbitrator.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_success_resolver.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  invoices/invoiceregistry.go
  lntypes/preimage.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/interface.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  mock.go
  server.go
  witness_beacon.go
Labels: bug fix, htlcswitch, optimization

#2474 lnpeer+brontide: reduce memory footprint using read/write pools for message encode/decode
  brontide/conn.go
  brontide/noise.go
  peer.go
  pool/read.go
  pool/worker.go
  pool/worker_test.go
  pool/write.go
  server.go
Labels: enhancement, optimization, p2p

#2434 Set max HTLC in forwarding policies.
  htlcswitch/link.go
  htlcswitch/link_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnwallet/channel.go
  peer.go
  routing/notifications.go
  routing/notifications_test.go
  rpcserver.go
Labels: P2, discovery, enhancement, htlcswitch, needs review
