Repository lightningnetwork/lnd, pull requests merged in 2019-04, with the labels that each got.

#2775 discovery: check if stale within isMsgStale for ChannelUpdate messages
  discovery/gossiper.go
  discovery/gossiper_test.go
  discovery/reliable_sender.go
Labels: bug fix, gossip

#2847 channeldb: add reject and channel caches
  channeldb/channel.go
  channeldb/channel_cache.go
  channeldb/channel_cache_test.go
  channeldb/db.go
  channeldb/graph.go
  channeldb/invoices.go
  channeldb/migrations.go
  channeldb/options.go
  channeldb/reject_cache.go
  channeldb/reject_cache_test.go
  config.go
  lncfg/caches.go
  lncfg/interface.go
  lncfg/workers.go
  lnd.go
Labels: database, gossip, optimization

#2868 chainntnfs: Always commit bitcoind spendhints
  chainntnfs/bitcoindnotify/bitcoind.go
Labels: backend, bitcoind, bug fix

#2740 discovery: introduce gossiper syncManager subsystem
  config.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  discovery/reliable_sender_test.go
  discovery/sync_manager.go
  discovery/sync_manager_test.go
  discovery/syncer.go
  discovery/syncer_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  peer.go
  rpcserver.go
  server.go
Labels: P2, enhancement, gossip

#2883 lnd_test: use child harness chan backup restore cases
  lnd_test.go
Labels: trivial

#2896 [trivial] lnrpc/routerrpc: make fmt on router backend test
  lnrpc/routerrpc/router_backend_test.go
Labels: trivial

#2841 docs: fix broken TOC in Tor docs
  docs/configuring_tor.md
Labels: documentation

#2830 docs: update contribution checklist
  .github/pull_request_template.md
  docs/code_contribution_guidelines.md
Labels: documentation

#2014 Re-create forwardings after externalIP change
  nat/pmp.go
  nat/upnp.go
  server.go
Labels: P3, needs review, networking, p2p

#1865 config: Experimental support for Litecoin/simnet
  chainparams.go
  config.go
  lnd.go
Labels: first pass review done, needs testing

#2949 lncfg: parse network for TCP addresses to listen on correct interface
  config.go
  lncfg/address.go
Labels: bug fix, gRPC, networking, rpc

#2922 rpcserver: Prevent SendCoins to Pubkey
  lnd_test.go
  rpcserver.go
Labels: bug fix, rpc, wallet

#2989 Update jackpal/gateway to v1.0.5
  go.mod
  go.sum
Labels: bug fix, nat, p2p

#2956 [lnd_test] wait for state update in completePaymentRequests
  lnd_test.go
Labels: enhancement, itests, test flake

#2820 wtclient: session private key derivation
  keychain/derivation.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/derivation.go
  watchtower/wtclient/interface.go
  watchtower/wtclient/session_negotiator.go
  watchtower/wtdb/client_session.go
  watchtower/wtdb/mock.go
  watchtower/wtdb/tower.go
  watchtower/wtmock/client_db.go
  watchtower/wtmock/keyring.go
  watchtower/wtserver/create_session.go
  watchtower/wtserver/delete_session.go
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
  watchtower/wtserver/state_update.go
  watchtower/wtwire/create_session_reply.go
  watchtower/wtwire/delete_session_reply.go
  watchtower/wtwire/error_code.go
Labels: watchtower, wtclient, wtserver

#2932 discovery: SyncManager improvements
  discovery/gossiper.go
  discovery/gossiper_test.go
  discovery/mock_test.go
  discovery/sync_manager.go
  discovery/sync_manager_test.go
  discovery/syncer.go
  discovery/syncer_test.go
  server.go
Labels: P2, bug fix, discovery, enhancement

#2783 watchtower/wtdb: add bbolt-backed tower database
  channeldb/codec.go
  watchtower/lookout/lookout_test.go
  watchtower/wtclient/client_test.go
  watchtower/wtdb/codec.go
  watchtower/wtdb/codec_test.go
  watchtower/wtdb/log.go
  watchtower/wtdb/mock.go
  watchtower/wtdb/session_info.go
  watchtower/wtdb/session_state_update.go
  watchtower/wtdb/tower_db.go
  watchtower/wtdb/tower_db_test.go
  watchtower/wtdb/version.go
  watchtower/wtmock/tower_db.go
  watchtower/wtserver/create_session.go
  watchtower/wtserver/server_test.go
Labels: watchtower, wtdb, wtserver

#2924 peer: resume partial writes due to timeouts
  brontide/conn.go
  brontide/noise.go
  brontide/noise_test.go
  lncfg/workers.go
  peer.go
Labels: brontide, p2p

#2958 multi: move Route to sub-pkg routing/route
  discovery/chan_series.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  discovery/sync_manager.go
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_server.go
  routing/missioncontrol.go
  routing/notifications_test.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/route/route.go
  routing/router.go
  routing/router_test.go
  routing/validation_barrier.go
  rpcserver.go
  server.go
Labels: P3, refactoring, routing

#2189 add litecoin regtest to lnd
  chainparams.go
  chainregistry.go
  config.go
  lnd.go
Labels: enhancement, litecoin, needs review, needs testing, testing

#2916 discovery: make gossip replies synchronous
  discovery/sync_manager.go
  discovery/syncer.go
  discovery/syncer_test.go
  lnpeer/errors.go
  peer.go
Labels: P2, discovery, enhancement, optimization, p2p

#2855 contractcourt: detect local force closes based on commitment outputs
  contractcourt/chain_watcher.go
  contractcourt/chain_watcher_test.go
Labels: commitments, enhancement, safety, scb
