Repository lightningnetwork/lnd, pull requests merged in 2019-11, with the labels that each got.

#3654 multi: convert the existing channeldb.ChannelType uint8 into a bit field
  breacharbiter_test.go
  chanbackup/single_test.go
  channeldb/channel.go
  channeldb/channel_test.go
  chanrestore.go
  fundingmanager.go
  htlcswitch/link.go
  htlcswitch/test_utils.go
  lnwallet/channel.go
  lnwallet/interface_test.go
  lnwallet/reservation.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  test_utils.go
Labels: v0.9.0

#3653 chainfees: create new chainfees package extracting fees from lnwallet
  breacharbiter.go
  breacharbiter_test.go
  chainregistry.go
  chancloser.go
  contractcourt/chain_arbitrator.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  lnrpc/walletrpc/config_active.go
  lnrpc/walletrpc/walletkit_server.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/chainfee/estimator.go
  lnwallet/chainfee/estimator_test.go
  lnwallet/chainfee/log.go
  lnwallet/chainfee/rates.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/config.go
  lnwallet/interface.go
  lnwallet/interface_test.go
  lnwallet/log.go
  lnwallet/reservation.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  lnwallet/wallet.go
  lnwallet/wallet_test.go
  mock.go
  peer_test.go
  rpcserver.go
  server.go
  sweep/fee_estimator_mock_test.go
  sweep/sweeper.go
  sweep/sweeper_test.go
  sweep/txgenerator.go
  sweep/walletsweep.go
  sweep/walletsweep_test.go
  test_utils.go
  tlv/bench_test.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtdb/codec.go
  watchtower/wtpolicy/policy.go
  watchtower/wtwire/create_session.go
  watchtower/wtwire/wtwire.go
Labels: v0.9.0

#3650 proto+lnrpc: update gRPC-REST gateway to v1.8.6
  go.mod
  go.sum
  lnrpc/README.md
  lnrpc/gen_protos.sh
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.swagger.json
Labels: REST, bug fix

#3520 [autopilot] Trigger channel opening on external score update
  autopilot/agent.go
  autopilot/agent_test.go
  autopilot/manager.go
  pilot.go
Labels: P3, autopilot, bug fix, v0.9.0

#3633 channeldb: isolate migrations
  .golangci.yml
  channeldb/db.go
  channeldb/log.go
  channeldb/migration_01_to_11/addr.go
  channeldb/migration_01_to_11/channel.go
  channeldb/migration_01_to_11/channel_test.go
  channeldb/migration_01_to_11/codec.go
  channeldb/migration_01_to_11/db.go
  channeldb/migration_01_to_11/error.go
  channeldb/migration_01_to_11/graph.go
  channeldb/migration_01_to_11/graph_test.go
  channeldb/migration_01_to_11/invoices.go
  channeldb/migration_01_to_11/legacy_serialization.go
  channeldb/migration_01_to_11/log.go
  channeldb/migration_01_to_11/meta.go
  channeldb/migration_01_to_11/meta_test.go
  channeldb/migration_01_to_11/migration_09_legacy_serialization.go
  channeldb/migration_01_to_11/migration_10_route_tlv_records.go
  channeldb/migration_01_to_11/migration_11_invoices.go
  channeldb/migration_01_to_11/migration_11_invoices_test.go
  channeldb/migration_01_to_11/migrations.go
  channeldb/migration_01_to_11/migrations_test.go
  channeldb/migration_01_to_11/options.go
  channeldb/migration_01_to_11/payment_control.go
  channeldb/migration_01_to_11/payments.go
  channeldb/migration_01_to_11/payments_test.go
  channeldb/payments_test.go
Labels: v0.9.0

#3470 htlcswitch+lnwire: invalid onion payload
  htlcswitch/hop/payload.go
  htlcswitch/hop/payload_test.go
  htlcswitch/link.go
  lnwire/onion_error.go
  lnwire/onion_error_test.go
  routing/result_interpretation.go
  routing/result_interpretation_test.go
  tlv/stream.go
  tlv/stream_test.go
Labels: P2, error messages, htlcswitch, spec, v0.9.0

#3674 doc: describe macaroon bakery
  docs/macaroons.md
  macaroons/README.md
Labels: documentation, macaroons, v0.9.0

#3442 single-shot, sender-side mpp via sendtoroute
  channeldb/payments.go
  channeldb/payments_test.go
  contractcourt/interfaces.go
  contractcourt/mock_registry_test.go
  htlcswitch/hop/iterator.go
  htlcswitch/hop/iterator_test.go
  htlcswitch/hop/payload.go
  htlcswitch/hop/payload_test.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  invoices/interface.go
  invoices/invoiceregistry.go
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  record/mpp.go
  record/record_test.go
  routing/route/route.go
  routing/route/route_test.go
  tlv/record.go
  tlv/truncated.go
  tlv/truncated_test.go
Labels: amp, enhancement, routing, spec, v0.9.0

#3518 [trivial] make: default backend variable to btcd
  make/testing_flags.mk
Labels: P3, itests, makefile

#3664 cnct/test: add outgoing contest resolver test
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_outgoing_contest_resolver_test.go
Labels: v0.9.0

#3687 lnwallet: fix loop binding bug
  lnwallet/wallet.go
Labels: v0.9.0, wallet

#3661 proto: deprecate duplicate string fields in requests
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: v0.9.0

#3686 routing: use distinct probability estimation for local channels
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/probability_estimator.go
  server.go
Labels: mission control, payments, routing, v0.9.0

#2927 htlcswitch: fix empty commit sig and no commit sig
  htlcswitch/link.go
  htlcswitch/link_isolated_test.go
  htlcswitch/link_test.go
  lnwallet/channel.go
Labels: bug fix, commitments, htlcswitch, v0.9.0

#3685 flat features
  autopilot/graph.go
  channeldb/graph.go
  channeldb/graph_test.go
  channeldb/migration_01_to_11/graph.go
  channeldb/migration_01_to_11/graph_test.go
  discovery/gossiper.go
  discovery/mock_test.go
  feature/default_sets.go
  feature/manager.go
  feature/manager_internal_test.go
  feature/set.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  lnpeer/peer.go
  lnwire/features.go
  lnwire/init_message.go
  peer.go
  routing/notifications_test.go
  server.go
Labels: amp, spec

#2533 add named volume to lnd service for persisting data accross container…
  docker/README.md
  docker/docker-compose.yml
  docker/lnd/start-lnd.sh
Labels: P3, docker, enhancement, needs review

#3665 cnct: add resolver constructors
  contractcourt/briefcase.go
  contractcourt/channel_arbitrator.go
  contractcourt/commit_sweep_resolver.go
  contractcourt/contract_resolvers.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_outgoing_contest_resolver_test.go
  contractcourt/htlc_success_resolver.go
  contractcourt/htlc_timeout_resolver.go
  contractcourt/htlc_timeout_resolver_test.go
Labels: v0.9.0

#3710 lncli: do not hang on ctrl-c
  lnd.go
  signal/signal.go
Labels: v0.9.0

#3594 cnct: decode onion for incoming contest resolver
  contractcourt/briefcase_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  contractcourt/contract_resolvers.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_outgoing_contest_resolver_test.go
  contractcourt/htlc_success_resolver.go
  contractcourt/htlc_timeout_resolver.go
  contractcourt/interfaces.go
  htlcswitch/hop/iterator.go
  server.go
Labels: amp, blocked, incomplete, onion routing, routing, v0.9.0

#3701 tlv+hop: contain odd/even logic in payload parsing
  htlcswitch/hop/payload.go
  htlcswitch/hop/payload_test.go
  tlv/record.go
  tlv/stream.go
  tlv/stream_test.go
  tlv/tlv_test.go
Labels: database, tlv, v0.9.0

#3706 lnrpc+routerrpc+lncli: add msat fields
  lnrpc/marshall_utils.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: payments, routing, rpc, v0.9.0

#3726 [test only] add TestTxNotifierSpendDuringHistoricalRescan
  chainntnfs/txnotifier_test.go
Labels: testing

#3649 build: bump btcsuite and neutrino dependencies to latest tagged versions
  go.mod
  go.sum
  lnwallet/interface_test.go
Labels: P2, bitcoind, v0.9.0

#3644 cnct: commit sweep without nursery
  contractcourt/chain_arbitrator.go
  contractcourt/chain_watcher_test.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  contractcourt/commit_sweep_resolver.go
  contractcourt/commit_sweep_resolver_test.go
  contractcourt/contract_resolvers.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_success_resolver.go
  contractcourt/htlc_timeout_resolver.go
  contractcourt/htlc_timeout_resolver_test.go
  contractcourt/interfaces.go
  input/input.go
  rpcserver.go
  server.go
  utxonursery.go
  utxonursery_test.go
Labels: chain handling, commitments, contracts, v0.9.0

#3705 routing+htlcswitch: improve failed payment logging
  htlcswitch/failure.go
  htlcswitch/link_test.go
  routing/payment_lifecycle.go
  routing/route/route.go
Labels: v0.9.0

#3729 invoicesrpc+lnrpc: add msat fields to invoices
  lnrpc/invoicesrpc/addinvoice.go
  lnrpc/invoicesrpc/invoices.pb.go
  lnrpc/invoicesrpc/invoices.proto
  lnrpc/invoicesrpc/invoices_server.go
  lnrpc/invoicesrpc/utils.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: payments, rpc, v0.9.0

#3713 cert: extract common certificate related functions into own package
  cert/go.mod
  cert/selfsigned.go
  cert/tls.go
  go.mod
  lnd.go
Labels: code health, refactoring, security

#3739 routing: last hop restriction
  cmd/lncli/commands.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/router.go
  rpcserver.go
Labels: v0.9.0

#2520 specify a tag, branch or commit during docker prod build
  Dockerfile
  docs/DOCKER.md
Labels: P3, docker, enhancement, needs review, v0.9.0

#3667 fundingmanager+routing log touch ups
  fundingmanager.go
  routing/router.go
  server.go
  watchtower/lookout/lookout.go
Labels: trivial, v0.9.0

#3721 rpc+cnct: update AbandonChannel to also remove cnct and channel graph state
  channeldb/db.go
  channeldb/db_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_arbitrator_test.go
  lntest/itest/lnd_test.go
  rpcserver.go
Labels: P2, bug fix, channel management, database, rpc, safety, v0.9.0

#1152 itest: add tests for macaroon authentication
  lntest/itest/lnd_test.go
  lntest/itest/macaroons.go
  lntest/node.go
Labels: P3, authentication, itests, macaroons, needs review, testing, v0.9.0

#3499 channeldb+rpcserver: expose legacy payments as multi-path payments
  channeldb/mp_payment.go
  channeldb/payment_control.go
  channeldb/payment_control_test.go
  channeldb/payments.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_server.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  routing/control_tower.go
  routing/control_tower_test.go
  routing/result_interpretation.go
  rpcserver.go
Labels: P2, amp, database, rpc, v0.9.0

#3493 routing: track amt ranges in mission control
  cmd/lncli/cmd_query_mission_control.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/probability_estimator.go
  routing/probability_estimator_test.go
  routing/result_interpretation.go
  routing/result_interpretation_test.go
Labels: mission control, payments, routing, v0.9.0

#3757 lnrpc: fix nanonsecond typo
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: code health, rpc, trivial, v0.9.0

#3648 config+itest: allow unsafe disconnect by default
  config.go
  lntest/harness.go
  lntest/itest/lnd_test.go
Labels: P3, enhancement, gRPC, p2p

#3756 Makefile: non-verbose unit tests
  Makefile
  make/testing_flags.mk
Labels: makefile, trivial

#3759 build: bump travis bitcoind version to 0.19.0.1
  .travis.yml
  lntest/itest/onchain.go
  scripts/install_bitcoind.sh
Labels: bitcoind, travis, v0.9.0

#3693 migrate to tlv for invoice body
  channeldb/db.go
  channeldb/invoice_test.go
  channeldb/invoices.go
  channeldb/log.go
  channeldb/migration12/invoices.go
  channeldb/migration12/log.go
  channeldb/migration12/migration.go
  channeldb/migration12/migration_test.go
  channeldb/migtest/migtest.go
  cmd/lncli/commands.go
  htlcswitch/link_test.go
  htlcswitch/test_utils.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lnrpc/invoicesrpc/addinvoice.go
  lnrpc/invoicesrpc/utils.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnwire/features.go
  rpcserver.go
  zpay32/invoice.go
Labels: P2, database, enhancement, migration, payments, v0.9.0

#3736 routing: allow route to self
  cmd/lncli/commands.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  routing/pathfind.go
  routing/pathfind_test.go
  rpcserver.go
Labels: channel management, enhancement, payments, routing, v0.9.0
