Repository lightningnetwork/lnd, pull requests merged in 2019-06, with the labels that each got.

#2717 lnrpc+rpcserver: display payreq via listpayments
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  routing/router.go
  rpcserver.go
Labels: enhancement, gRPC, payments, rpc

#990 added conf_target and sat_per_byte to closeallchannels
  cmd/lncli/commands.go
Labels: P3, channel closing, needs testing, rpc

#2802 routing: probability based path finding
  cmd/lncli/cmd_query_mission_control.go
  cmd/lncli/main.go
  cmd/lncli/routerrpc_active.go
  cmd/lncli/routerrpc_default.go
  config.go
  lnrpc/routerrpc/config_active.go
  lnrpc/routerrpc/config_default.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_server.go
  lntest/itest/lnd_test.go
  lntest/node.go
  routing/heap.go
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/mock_test.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/route/route.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
  server.go
Labels: P2, payments, performance, routing, routing nodes

#2973 routerrpc: async payment rpc
  channeldb/payment_control.go
  channeldb/payment_control_test.go
  channeldb/payments.go
  cmd/lncli/commands.go
  lnrpc/routerrpc/config_active.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_server.go
  lntypes/hash.go
  routing/control_tower.go
  routing/control_tower_test.go
  routing/mock_test.go
  routing/payment_session_test.go
  routing/router.go
  rpcserver.go
  server.go
  subrpcserver_config.go
Labels: gRPC, incomplete, payments, routing

#3089 sweep+rpc+cmd/lncli: expose pending input sweeps over RPC + CLI
  cmd/lncli/main.go
  cmd/lncli/types.go
  cmd/lncli/walletrpc_active.go
  cmd/lncli/walletrpc_default.go
  cmd/lncli/walletrpc_types.go
  lnrpc/walletrpc/config_active.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit_server.go
  rpcserver.go
  subrpcserver_config.go
  sweep/sweeper.go
  sweep/sweeper_test.go
Labels: cli, enhancement, fees, rpc, utxo sweeping

#3140 sweep+rpc: add support to bump fee of inputs/transactions
  cmd/lncli/types.go
  cmd/lncli/walletrpc_active.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit_server.go
  lntest/itest/lnd_test.go
  lntest/itest/onchain.go
  lntest/node.go
  sweep/sweeper.go
  sweep/sweeper_test.go
Labels: cli, enhancement, fees, rpc, utxo sweeping

#3199 [trivial] Update output log file location to itest package
  .gitignore
  make/testing_flags.mk
Labels: trivial

#3133 watchtower: integrate altruist watchtower and watchtower client
  config.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  lncfg/address.go
  lncfg/watchtower.go
  lncfg/wtclient.go
  lnd.go
  lntest/itest/lnd_test.go
  log.go
  peer.go
  rpcserver.go
  server.go
  utxonursery.go
  watchtower/blob/derivation.go
  watchtower/blob/justice_kit.go
  watchtower/blob/justice_kit_test.go
  watchtower/blob/type.go
  watchtower/blob/type_test.go
  watchtower/conf.go
  watchtower/conf_experimental.go
  watchtower/errors.go
  watchtower/interface.go
  watchtower/lookout/interface.go
  watchtower/lookout/justice_descriptor_test.go
  watchtower/lookout/lookout.go
  watchtower/lookout/lookout_test.go
  watchtower/standalone.go
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/session_negotiator.go
  watchtower/wtclient/session_queue.go
  watchtower/wtdb/breach_hint.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/client_session.go
  watchtower/wtdb/codec.go
  watchtower/wtdb/session_info.go
  watchtower/wtdb/session_state_update.go
  watchtower/wtdb/tower_db.go
  watchtower/wtdb/tower_db_test.go
  watchtower/wtmock/tower_db.go
  watchtower/wtpolicy/policy.go
  watchtower/wtpolicy/policy_test.go
  watchtower/wtserver/create_session.go
  watchtower/wtserver/server.go
  watchtower/wtserver/server_test.go
  watchtower/wtwire/features.go
  watchtower/wtwire/init_test.go
  watchtower/wtwire/message.go
Labels: safety, watchtower, wtclient

#3213 lnrpc/walletrpc: reject nil outpoints as args
  lnrpc/walletrpc/walletkit_server.go
Labels: P3, bug fix

#3195 routing+zpay32: copy pubkeys before nilling Curve and spewing
  routing/router.go
  zpay32/hophint.go
Labels: P2, bug fix, routing

#3212 rpcserver: hide channels in getnodeinfo by default
  cmd/lncli/commands.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: cli, enhancement

#3228 [trivial] lnrpc/rpc.proto: remove trailing spaces
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: trivial

#3211 channeldb/migrations: skip migration for empty outgoing payments bucket
  channeldb/migrations.go
Labels: P2, bug fix, database
