Repository lightningnetwork/lnd, pull requests merged in 2019-08, with the labels that each got.

#3348 htlcswitch: make max cltv expiry configurable and lower default
  config.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/test_utils.go
  peer.go
Labels: P3, enhancement, safety, v0.8.0

#3359 discovery: flag flip no historical gossip
  config.go
  discovery/gossiper.go
  discovery/sync_manager.go
  discovery/syncer.go
  discovery/syncer_test.go
  server.go
Labels: config, discovery, gossip, v0.8.0

#3164 routing: persistent mission control
  channeldb/payments.go
  channeldb/payments_test.go
  lnrpc/routerrpc/config.go
  lnrpc/routerrpc/config_active.go
  lnrpc/routerrpc/config_default.go
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_server.go
  lnwire/onion_error.go
  routing/missioncontrol.go
  routing/missioncontrol_store.go
  routing/missioncontrol_store_test.go
  routing/missioncontrol_test.go
  routing/mock_test.go
  routing/payment_lifecycle.go
  routing/router.go
  routing/router_test.go
  server.go
Labels: P2, database, enhancement, routing, v0.8.0

#3354 Peernotifier: Add Peer Notifier package
  log.go
  peernotifier/log.go
  peernotifier/peernotifier.go
  server.go
Labels: v0.8.0

#3380 rpc: add unary+streaming interceptors to log all errors
  log.go
  rpcserver.go
Labels: enhancement, logging, rpc, v0.8.0

#3061 tlv: add library for new message/payload serialization format
  tlv/bench_test.go
  tlv/primitive.go
  tlv/record.go
  tlv/stream.go
  tlv/tlv_test.go
  tlv/truncated.go
  tlv/varint.go
  tlv/varint_test.go
Labels: P2, spec, v0.8.0, wire protocol

#3379 REST: increase max msg size for REST proxy
  lnd.go
Labels: REST, v0.8.0

#3384 Makefile: ensure submodules are linted, covered, and tested
  Makefile
  make/testing_flags.mk
Labels: v0.8.0

#3355 discovery+rpc: expose graph synced status within GetInfo
  discovery/sync_manager.go
  discovery/sync_manager_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: discovery, enhancement, v0.8.0

#3391 htlcswitch+invoices: always return incorrect_or_unknown_payment_details
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/switch_test.go
  invoices/invoiceregistry.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  lntest/itest/lnd_test.go
  lnwire/onion_error.go
  lnwire/onion_error_test.go
  routing/missioncontrol.go
  routing/missioncontrol_store_test.go
Labels: v0.8.0

#3389 invoices: fix synchronization issue with single invoice subscribers
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lnrpc/invoicesrpc/invoices_server.go
Labels: v0.8.0

#1734 routing: prune based on channel sets instead of channels
  cmd/lncli/cmd_query_mission_control.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_server.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lntest/itest/lnd_test.go
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/mock_test.go
  routing/nodepair.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/route/route.go
  routing/router.go
  routing/router_test.go
Labels: P3, enhancement, routing, v0.8.0

#3387 tlv: add tests for all primitive encodings
  tlv/primitive.go
  tlv/primitive_test.go
Labels: tlv, trivial, v0.8.0

#3400 cmd/lncli: properly set synced_to_graph for getinfo command
  cmd/lncli/commands.go
  discovery/sync_manager.go
Labels: trivial, v0.8.0

#3402 multi: remove debug invoices
  config.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  invoices/invoiceregistry.go
  lntest/itest/lnd_test.go
  peer.go
  rpcserver.go
  server.go
Labels: config, v0.8.0

#3256 routing: failure attribution
  htlcswitch/link.go
  htlcswitch/switch_test.go
  lntest/itest/lnd_test.go
  routing/missioncontrol.go
  routing/mock_test.go
  routing/payment_lifecycle.go
  routing/payment_session.go
  routing/payment_session_source.go
  routing/payment_session_test.go
  routing/result_interpretation.go
  routing/result_interpretation_test.go
  routing/router.go
  routing/router_test.go
Labels: error messages, payments, routing, v0.8.0

#3419 lnwallet: when signing create account if not found
  lnwallet/btcwallet/signer.go
  lnwallet/interface_test.go
Labels: bug fix, v0.8.0, wallet

#3366 discovery: prevent broadcast of anns received during initial graph sync
  discovery/gossiper.go
  discovery/gossiper_test.go
Labels: enhancement, gossip, optimization, v0.8.0

#3424 tlv: limit decoded record size
  tlv/stream.go
  tlv/tlv_test.go
Labels: v0.8.0

#3406 pilot+discovery: die spew
  discovery/gossiper.go
  pilot.go
  utxonursery.go
Labels: logging, trivial, v0.8.0

#3362 multi: update the switch+router to be aware of the new TLV EOB format
  channeldb/db.go
  channeldb/migration_10_route_tlv_records.go
  channeldb/migrations_test.go
  channeldb/payment_control_test.go
  channeldb/payments.go
  channeldb/payments_test.go
  config.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/interfaces.go
  contractcourt/mock_registry_test.go
  go.mod
  go.sum
  htlcswitch/interfaces.go
  htlcswitch/iterator.go
  htlcswitch/iterator_test.go
  htlcswitch/link.go
  htlcswitch/mock.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lncfg/protocol_legacy_off.go
  lncfg/protocol_legacy_on.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_server.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  lnwire/features.go
  routing/control_tower_test.go
  routing/missioncontrol_store_test.go
  routing/missioncontrol_test.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/route/route.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
  server.go
  tlv/onion_types.go
  tlv/record.go
  tlv/record_test.go
Labels: enhancement, htlcswitch, incomplete, payments, routing, v0.8.0

#3372 routing: process payment successes in mission control
  cmd/lncli/cmd_query_mission_control.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/mock_test.go
  routing/pathfind.go
  routing/payment_lifecycle.go
  routing/result_interpretation.go
  routing/result_interpretation_test.go
  routing/router.go
Labels: mission control, payments, routing, v0.8.0

#3059 lnd: close the wallet unlock grpc server
  lnd.go
Labels: P3, bug fix

#2203 htlcswitch+config+server: adding RejectHTLC flag
  config.go
  htlcswitch/switch.go
  lntest/itest/lnd_test.go
  server.go
Labels: P3, htlcswitch, needs review, server

#3432 zpay32: BOLT 11 Feature Bits
  lnwire/features.go
  zpay32/invoice.go
  zpay32/invoice_test.go
Labels: v0.8.0

#3427 rpcserver: order updates in getnodeinfo by increasing pubkey
  rpcserver.go
Labels: bug fix, rpc, v0.8.0

#3010 lntest/itest: prevent direct connection within testNodeAnnouncement
  lntest/itest/lnd_test.go
Labels: P2, bug fix, itests
