Repository lightningnetwork/lnd, pull requests merged in 2019-09, with the labels that each got.

#3434 lntest/itest: resolve mempool flake in multi-hop htlc local timeout test
  lntest/itest/lnd_test.go
Labels: itests, test flake, v0.8.0

#3456 rpc: populate missing fields for waiting close channels
  rpcserver.go
Labels: trivial, v0.8.0

#3455 cmd/lncli: return error upon missing channel backup when parsing
  cmd/lncli/commands.go
Labels: bug, lncli, trivial, v0.8.0

#2088 chainntnfs/interface_test: lower mempool spend check timeout
  chainntnfs/interface_test.go
  chainntnfs/test_utils.go
Labels: P3, enhancement, needs testing, v0.8.0

#3390 channeldb+cnct+invoices: track invoice htlcs
  channeldb/codec.go
  channeldb/db.go
  channeldb/invoice_test.go
  channeldb/invoices.go
  channeldb/migration_09_legacy_serialization.go
  channeldb/migration_11_invoices.go
  channeldb/migration_11_invoices_test.go
  channeldb/migrations.go
  contractcourt/channel_arbitrator.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/interfaces.go
  contractcourt/mock_registry_test.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lnrpc/invoicesrpc/addinvoice.go
  lnrpc/invoicesrpc/utils.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
  server.go
Labels: database, payments, v0.8.0

#3441 htlcswitch+routing: omit next_hop_id in final hop payload
  htlcswitch/iterator.go
  htlcswitch/iterator_test.go
  record/hop.go
  routing/route/route.go
  tlv/onion_types.go
Labels: htlcswitch, routing, tlv, v0.8.0

#1583 [itests] Bitcoind integration test
  .travis.yml
  lntest/bitcoind.go
  lntest/btcd.go
  lntest/itest/lnd_test.go
  lntest/neutrino.go
Labels: P2, bitcoind, itests, v0.8.0

#3401 htlcswitch: avoid proposing fee updates exceeding max fee allowed
  config.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/test_utils.go
  lnwallet/channel.go
  peer.go
Labels: channels, commitments, enhancement, fees, v0.8.0

#3466 htlcswitch/hop: new package for hop payload parsing/encapsulation
  htlcswitch/circuit_map.go
  htlcswitch/hop/forwarding_info.go
  htlcswitch/hop/network.go
  htlcswitch/hop/payload.go
  htlcswitch/hop/type.go
  htlcswitch/iterator.go
  htlcswitch/iterator_test.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
Labels: code health, htlcswitch, mpp, v0.8.0

#3449 routerrpc: report route success probability
  lnrpc/routerrpc/router_backend.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: enhancement, routing, rpc, v0.8.0

#3479 channeldb: fix migration bug due to interplay between migration #9 an…
  channeldb/migration_09_legacy_serialization.go
  channeldb/migrations.go
Labels: bug fix, database, migration, v0.8.0

#3282 [mobile] Mobile RPCs
  .gitignore
  Makefile
  cmd/lnd/main.go
  lnd.go
  mobile/README.md
  mobile/bindings.go
  mobile/gen_bindings.sh
  mobile/sample_lnd.conf
  rpcserver.go
Labels: P2, enhancement, golang/build system, mobile, ready to merge, v0.8.0

#3468 htlcswitch: move hop iterator into htlcswitch/hop package
  htlcswitch/circuit.go
  htlcswitch/circuit_map.go
  htlcswitch/circuit_test.go
  htlcswitch/failure.go
  htlcswitch/hop/error_encryptor.go
  htlcswitch/hop/iterator.go
  htlcswitch/hop/iterator_test.go
  htlcswitch/hop/log.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/log.go
  htlcswitch/mock.go
  htlcswitch/packet.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  server.go
Labels: v0.8.0

#3465 tlv+htlcswitch: validate presence/omission of parsed onion payload types
  htlcswitch/hop/payload.go
  htlcswitch/hop/payload_test.go
  tlv/record.go
  tlv/stream.go
  tlv/stream_test.go
Labels: mpp, onion routing, tlv, v0.8.0

#3439 discovery+switch: apply zero forwarding policy updates in-memory as w…
  discovery/gossiper.go
  discovery/gossiper_test.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  rpcserver.go
Labels: bug fix, gossip, htlcswitch, v0.8.0

#3484 htlcswitch/hop: fix logging
  htlcswitch/log.go
Labels: v0.8.0

#3488 channeldb/test: make route comparison a pure function
  channeldb/payment_control_test.go
  channeldb/payments_test.go
Labels: v0.8.0

#3490 cnct: do not log resolver shutting down as error
  contractcourt/channel_arbitrator.go
  contractcourt/commit_sweep_resolver.go
  contractcourt/contract_resolvers.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_success_resolver.go
  contractcourt/htlc_timeout_resolver.go
Labels: code health, refactoring, v0.8.0

#3467 config: Add norest config for disabling REST API
  config.go
  mobile/sample_lnd.conf
Labels: P3, REST, config, enhancement

#3458 build: update travis and Makefile to build using Go 1.13
  .travis.yml
  Makefile
  chainntnfs/neutrinonotify/neutrino.go
  docs/INSTALL.md
  go.mod
  go.sum
  lnwallet/btcwallet/blockchain.go
Labels: enhancement, golang/build system, v0.8.0

#3485 channeldb: remove older migrations
  channeldb/db.go
  channeldb/error.go
  channeldb/legacy_serialization.go
  channeldb/migration_09_legacy_serialization.go
  channeldb/migrations.go
  channeldb/migrations_test.go
  channeldb/payments_test.go
Labels: database, migration, safety, v0.8.0

#3414 lnwire+htlcswitch: report htlc accept height
  channeldb/invoices.go
  contractcourt/htlc_incoming_resolver_test.go
  htlcswitch/link.go
  htlcswitch/switch_test.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  lnwire/onion_error.go
  lnwire/onion_error_test.go
  routing/missioncontrol_store_test.go
  routing/result_interpretation_test.go
Labels: onion routing, spec, v0.8.0

#3495 chainntnfs: start concurrent queues prior to connection
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/neutrinonotify/neutrino.go
Labels: bug fix, notifications, v0.8.0

#3496 cnct: do not create an action for incoming dust htlcs
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
Labels: bug fix, channels, contracts, v0.8.0

#3511 Rename chainnotifer_server.go to chainnotifier_server.go
  lnrpc/chainrpc/chainnotifier_server.go
Labels: code health, trivial

#2084 Retransmit NodeAnnouncement on regular intervals
  discovery/gossiper.go
  discovery/gossiper_test.go
  server.go
Labels: P3, first pass review done, needs review, p2p, v0.8.0

#3521 Makefile: remove -u when installing go-acc, consolidate dep installation
  Makefile
Labels: v0.8.0

#3512 [contractcourt] Gracefully advance channel arbitrator state machine on breach
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
Labels: channel closing, contracts, v0.8.0

#3513 [trivial] lint: skip generated files
  .golangci.yml
  Makefile
Labels: code health, trivial, v0.8.0

#3515 make: compile wtclientrpc by default
  cmd/lncli/wtclient.go
  cmd/lncli/wtclient_default.go
  cmd/lncli/wtclient_types.go
  lnrpc/wtclientrpc/config.go
  lnrpc/wtclientrpc/config_default.go
Labels: golang/build system, v0.8.0, wtclient

#3525 Makefile+release: only use -trimpath on release script
  Makefile
  release.sh
Labels: v0.8.0

#3369 htlcswitch/link: remove channel_reestablish timeout
  breacharbiter_test.go
  discovery/gossiper_test.go
  discovery/reliable_sender_test.go
  discovery/sync_manager_test.go
  go.sum
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  lntest/harness.go
  lntest/itest/lnd_multi-hop_htlc_local_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_remote_chain_claim_test.go
  lntest/itest/lnd_test.go
  lntest/itest/onchain.go
  lntest/node.go
  lntest/wait/wait.go
  peer.go
  server.go
Labels: v0.8.0

#3519 Update Dockerfile go version to 1.13
  docker/lnd/Dockerfile
Labels: docker, v0.8.0

#3523 multi: enable max htlc update
  channeldb/graph.go
  cmd/lncli/commands.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  routing/localchans/manager.go
  routing/localchans/manager_test.go
  routing/router.go
  rpcserver.go
  server.go
Labels: P3, enhancement, routing, rpc, v0.8.0

#2485 [lnwire+funding] Don't send ErrorCode on wire
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/link.go
  lntest/itest/lnd_test.go
  lnwire/error.go
  lnwire/lnwire.go
  peer.go
Labels: P3, funding, interop, wire protocol

#3505 zpay32: check route+hop hints while decoding
  zpay32/invoice.go
  zpay32/invoice_test.go
Labels: dos/hardening, enhancement, v0.8.0

#3440 routing: add build route functionality
  channeldb/graph.go
  channeldb/graph_test.go
  cmd/lncli/cmd_build_route.go
  cmd/lncli/commands.go
  cmd/lncli/routerrpc_active.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router_server.go
  routing/pathfind.go
  routing/route/route.go
  routing/router.go
  routing/router_test.go
Labels: enhancement, routing, rpc, v0.8.0

#3510 Handle RBF signaling publication failures in wallet
  go.mod
  go.sum
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface_test.go
Labels: backend, v0.8.0, wallet

#3039 rpc: bi-directional streaming for predicate-based channel acceptance
  chanacceptor/acceptor_test.go
  chanacceptor/chainedacceptor.go
  chanacceptor/interface.go
  chanacceptor/rpcacceptor.go
  fundingmanager.go
  fundingmanager_test.go
  lnd.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
  server.go
Labels: enhancement, funding, gRPC, rpc, v0.8.0

#1910 Fundingmanager state machine cleanup
  fundingmanager.go
  fundingmanager_test.go
Labels: P3, code health, funding, needs review, refactoring, v0.8.0

#3540 docs: update watchtower docs to include wtclientrpc info
  docs/watchtower.md
  lncfg/wtclient.go
  lnrpc/wtclientrpc/driver.go
  lnrpc/wtclientrpc/wtclient.go
Labels: documentation, v0.8.0, watchtower

#3535 peer: link updater refactor
  lnwire/commit_sig.go
  lnwire/revoke_and_ack.go
  lnwire/update_add_htlc.go
  lnwire/update_fail_htlc.go
  lnwire/update_fail_malformed_htlc.go
  lnwire/update_fee.go
  lnwire/update_fulfill_htlc.go
  peer.go
Labels: code health, v0.8.0

#3016 [contractcourt] Republish close tx on startup
  chancloser.go
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/db_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_arbitrator_test.go
  contractcourt/chain_watcher.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  htlcswitch/link.go
  lntest/itest/lnd_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/test_utils.go
  peer.go
Labels: P2, bug fix, channel closing, commitments, contracts, v0.8.0

#3480 contractcourt: supplement resolvers with confirmed commit set HTLCs
  .golangci.yml
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
Labels: bug fix, channel closing, contracts, v0.8.0

#3365 multi: implement new safu commitment format
  breacharbiter.go
  breacharbiter_test.go
  chanbackup/single.go
  chanbackup/single_test.go
  channeldb/channel.go
  chanrestore.go
  contractcourt/chain_arbitrator_test.go
  contractcourt/chain_watcher.go
  contractcourt/chain_watcher_test.go
  contractcourt/commit_sweep_resolver.go
  discovery/mock_test.go
  fundingmanager.go
  fundingmanager_test.go
  htlcswitch/decayedlog_test.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/linkfailure.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  input/script_utils.go
  input/witnessgen.go
  lncfg/protocol_legacy_off.go
  lncfg/protocol_legacy_on.go
  lnpeer/peer.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/interface_test.go
  lnwallet/reservation.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  lnwallet/wallet.go
  lnwire/features.go
  peer.go
  rpcserver.go
  server.go
  sweep/txgenerator.go
  test_utils.go
  watchtower/lookout/justice_descriptor_test.go
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
Labels: P2, channels, commitments, funding, safety, v0.8.0

#3358 config: allow mainnet neutrino
  config.go
Labels: config, neutrino, trivial, v0.8.0

#3551 channeldb: safe invoice migration
  channeldb/meta_test.go
  channeldb/migration_11_invoices.go
  channeldb/migration_11_invoices_test.go
Labels: database, migration, safety, v0.8.0
