Repository lightningnetwork/lnd, pull requests merged in 2020-02, with the labels that each got.

#2593 fuzz: adding fuzz harnesses for acts 1-3, encryption+decryption
  brontide/noise.go
  fuzz/brontide/fuzz_utils.go
  fuzz/brontide/random_actone.go
  fuzz/brontide/random_actthree.go
  fuzz/brontide/random_acttwo.go
  fuzz/brontide/random_init_decrypt.go
  fuzz/brontide/random_init_enc_dec.go
  fuzz/brontide/random_init_encrypt.go
  fuzz/brontide/random_resp_decrypt.go
  fuzz/brontide/random_resp_enc_dec.go
  fuzz/brontide/random_resp_encrypt.go
  fuzz/brontide/static_actone.go
  fuzz/brontide/static_actthree.go
  fuzz/brontide/static_acttwo.go
  fuzz/brontide/static_init_decrypt.go
  fuzz/brontide/static_init_enc_dec.go
  fuzz/brontide/static_init_encrypt.go
  fuzz/brontide/static_resp_decrypt.go
  fuzz/brontide/static_resp_enc_dec.go
  fuzz/brontide/static_resp_encrypt.go
Labels: P3, brontide, fuzzing, security, v0.10

#3957 record+routing/route: add AMP record
  record/amp.go
  record/record_test.go
  routing/route/route.go
  routing/route/route_test.go
Labels: amp, enhancement, onion routing, routing, v0.10

#3915 htlcswitch: Disallow circular routes on same channel
  config.go
  htlcswitch/failure_detail.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  server.go
Labels: htlcswitch, v0.10

#3844 invoiceregistry+htlcswitch: Introduce resolution types and add link errors
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/interfaces.go
  contractcourt/mock_registry_test.go
  htlcswitch/failure.go
  htlcswitch/failure_detail.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/mock.go
  htlcswitch/packet.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  invoices/resolution.go
  invoices/resolution_result.go
  invoices/update.go
Labels: htlcswitch, v0.10

#3990 Copy InputIndex into the underlying SignDescriptor struct
  lnrpc/signrpc/signer_server.go
Labels: v0.10

#3995 [trivial] contractcourt/chainwatcher: add missing chanpoint log
  contractcourt/chain_watcher.go
Labels: logging, trivial

#3964 routing/test: integrated routing test
  routing/graph.go
  routing/integrated_routing_context_test.go
  routing/integrated_routing_test.go
  routing/mock_graph_test.go
  routing/pathfind.go
  routing/router.go
  routing/unified_policies.go
Labels: database, graph, routing, testing

#3992 lnwallet: fix invalid value use in restoreUpdate
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: channels, commitments, database

#3951 sweep: add exclusive groups
  sweep/bucket_list.go
  sweep/sweeper.go
  sweep/sweeper_test.go
Labels: chain handling, commitments, contracts, utxo sweeping

#3876 contractcourt: keep channels with timed-out initiated htlcs.
  config.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_arbitrator_test.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  server.go
  test_utils.go
Labels: channel management, commitments, enhancement, mobile, neutrino

#4012 [trivial] channeldb: remove unused payments status serialization
  channeldb/payments.go
Labels: mpp

#3781 [htlcnotifier 3/4]: Add HTLC Notifier
  htlcswitch/htlcnotifier.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  htlcswitch/test_utils.go
  peer.go
  server.go
Labels: HTLC, P3, htlcswitch, v0.10

#3691 lnwallet: Make available balance HTLC fee aware
  htlcswitch/link.go
  htlcswitch/link_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: P3, enhancement, htlcswitch, incomplete

#3961 channeldb: Indicate cooperative close initator
  chancloser.go
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/db.go
  channeldb/db_test.go
  channeldb/error.go
  contractcourt/chain_arbitrator.go
  contractcourt/chain_arbitrator_test.go
  contractcourt/chain_watcher.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  fundingmanager.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  lnwallet/channel.go
  peer.go
  rpcserver.go
Labels: accounting, channels, v0.10

#4003 lncli: change listinvoices reversed flag to paginate-forwards
  cmd/lncli/commands.go
Labels: UI, cli, v0.10
