Repository lightningnetwork/lnd, pull requests merged in 2020-09, with the labels that each got.

#4547 htlcswitch: reduce db contention when removing forwarding packages
  channeldb/channel.go
  htlcswitch/link.go
  lnwallet/channel.go
  peer/brontide.go
Labels: enhancement, htlcswitch, optimization, v0.12

#4556 docs: update sample-lnd.conf
  sample-lnd.conf
Labels: config, documentation, v0.12

#4463 Advanced macaroons 1/2: Custom URI permissions
  cmd/lncli/cmd_macaroon.go
  cmd/lncli/main.go
  lnrpc/rest-annotations.yaml
  lnrpc/rpc.pb.go
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_macaroons_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/lnd_send_multi_path_payment_test.go
  lntest/itest/log_error_whitelist.txt
  lntest/itest/macaroons.go
  macaroons/README.md
  macaroons/service.go
  macaroons/service_test.go
  rpcserver.go
Labels: gRPC, macaroons, permissions, v0.11.1, v0.12

#4596 routerrpc: pass in probability source
  lnrpc/routerrpc/router_server.go
Labels: bug fix, routing

#4310 lncli: add profiles for easy multi-node management
  cmd/lncli/cmd_macaroon.go
  cmd/lncli/cmd_profile.go
  cmd/lncli/commands.go
  cmd/lncli/macaroon_jar.go
  cmd/lncli/macaroon_jar_test.go
  cmd/lncli/main.go
  cmd/lncli/profile.go
Labels: cli, enhancement, node-management, v0.12

#4464 Advanced macaroons 2/2: Custom macaroon validator for external subservers
  lnd.go
  macaroons/service.go
  macaroons/service_test.go
  rpcserver.go
Labels: macaroons, sub-server, v0.11.1, v0.12

#4542 multi: remove mock.go
  breacharbiter_test.go
  contractcourt/chain_arbitrator_test.go
  contractcourt/chain_watcher_test.go
  contractcourt/channel_arbitrator_test.go
  contractcourt/commit_sweep_resolver_test.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/htlc_outgoing_contest_resolver_test.go
  contractcourt/htlc_success_resolver_test.go
  contractcourt/htlc_timeout_resolver_test.go
  discovery/gossiper_test.go
  fundingmanager_test.go
  htlcswitch/decayedlog_test.go
  htlcswitch/mock.go
  htlcswitch/test_utils.go
  lntest/mock/chainio.go
  lntest/mock/chainnotifier.go
  lntest/mock/secretkeyring.go
  lntest/mock/signer.go
  lntest/mock/spendnotifier.go
  lntest/mock/walletcontroller.go
  mock.go
  peer/brontide_test.go
  peer/test_utils.go
  sweep/sweeper_test.go
  sweep/test_utils.go
  sweep/walletsweep_test.go
  utxonursery_test.go
Labels: code health, needs review, refactoring, v0.12

#4558 [anchor commitment] Make the anchor commitment type spec compliant
  channeldb/channel.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/commitment.go
  lnwire/features.go
  peer/brontide.go
Labels: v0.11.1, v0.12

#4440 chanfitness: Rate limit in memory events based on peer flap rate
  chanfitness/chanevent.go
  chanfitness/chanevent_test.go
  chanfitness/chaneventstore.go
  chanfitness/chaneventstore_test.go
  chanfitness/chaneventstore_testctx_test.go
  chanfitness/interface.go
  chanfitness/rate_limit.go
  chanfitness/rate_limit_test.go
  channeldb/db.go
  channeldb/peers.go
  channeldb/peers_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
  server.go
  subscribe/interface.go
  subscribe/subscribe.go
Labels: channel management, optimization, v0.12

#4614 lncli: print all permission actions
  cmd/lncli/cmd_macaroon.go
Labels: bug fix, cli, lncli, macaroons, v0.11.1

#4473 lncfg: allow no auth on private addresses
  config.go
  docs/macaroons.md
  lncfg/address.go
  lncfg/address_test.go
Labels: rpc, security, v0.12

#4601 PSBT funding: allow final TX to be specified as raw wire format transaction
  cmd/lncli/cmd_open_channel.go
  go.mod
  go.sum
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_psbt_test.go
  lnwallet/chanfunding/psbt_assembler.go
  lnwallet/chanfunding/psbt_assembler_test.go
  lnwallet/wallet.go
  rpcserver.go
Labels: funding, psbt, rpc, v0.12

#2428 lnrpc: let's encrypt certificates
  cmd/lncli/main.go
  cmd/lncli/profile.go
  config.go
  lnd.go
  sample-lnd.conf
  server_test.go
Labels: P3, enhancement, gRPC, needs testing, rpc, security

#4591 lnd: Call loader.UnloadWallet on shutdown
  lnd.go
  walletunlocker/service.go
Labels: mobile

#4615 config: disable disk space health check by default
  config.go
Labels: v0.11.1, v0.12

#4567 add new max channel size config option
  config.go
  fundingmanager.go
  fundingmanager_test.go
  lntest/itest/lnd_max_channel_size_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_wumbo_channels_test.go
  lntest/itest/log_error_whitelist.txt
  lnwallet/errors.go
  sample-lnd.conf
  server.go
Labels: config, enhancement, funding, safety, v0.11.1, v0.12

#4606 cnct+sweep+itest: preparations for cpfp-aware sweeper
  chainregistry.go
  config.go
  contractcourt/anchor_resolver.go
  contractcourt/channel_arbitrator_test.go
  lncfg/neutrino.go
  lntest/fee_service.go
  lntest/fee_service_test.go
  lntest/harness.go
  lntest/node.go
  lnwallet/chainfee/estimator.go
  lnwallet/chainfee/estimator_test.go
  sweep/bucket_list.go
  sweep/sweeper.go
  sweep/tx_input_set.go
Labels: anchors, utxo sweeping

#4623 travis: only upload log files on test failure
  .travis.yml
Labels: CI, logging, travis

#4452 lnrpc+tor: add network connection timeout
  brontide/conn.go
  brontide/noise_test.go
  chainregistry.go
  chanrestore.go
  cmd/lncli/commands.go
  config.go
  discovery/bootstrapper.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_test.go
  lntest/itest/log_error_whitelist.txt
  lntest/itest/network.go
  pilot.go
  rpcserver.go
  sample-lnd.conf
  server.go
  tor/net.go
  tor/tor.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/interface.go
Labels: enhancement, p2p, rpc, tor, v0.12

#4436 signrpc: SharedKeyRequest accept raw pubkey
  keychain/derivation.go
  keychain/interface_test.go
  lnrpc/signrpc/signer.pb.go
  lnrpc/signrpc/signer.proto
  lnrpc/signrpc/signer.swagger.json
  lnrpc/signrpc/signer_server.go
  lntest/itest/lnd_test.go
  lntest/itest/log_error_whitelist.txt
  lntest/itest/signer.go
  lntest/node.go
Labels: crypto, enhancement, rpc, v0.12

#4625 lnd+config: allow Let's Encrypt listen IP to be set
  config.go
  lnd.go
  sample-lnd.conf
Labels: config, enhancement, tls, v0.12

#4457 etcd: STM transaction queue to effectively reduce retries for conflicting transactions
  .github/workflows/main.yml
  Makefile
  channeldb/kvdb/etcd/commit_queue.go
  channeldb/kvdb/etcd/commit_queue_test.go
  channeldb/kvdb/etcd/db.go
  channeldb/kvdb/etcd/db_test.go
  channeldb/kvdb/etcd/embed.go
  channeldb/kvdb/etcd/stm.go
  channeldb/kvdb/etcd/stm_test.go
  make/testing_flags.mk
Labels: database, etcd, optimization

#4622 config: create all directories
  config.go
Labels: bug fix, config, v0.12

#4593 lntest: allow the main test files to be buildable w/o the rpctest build tag
  .golangci.yml
  .travis.yml
  lntest/btcd.go
  lntest/harness.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_forward_interceptor_test.go
  lntest/itest/lnd_macaroons_test.go
  lntest/itest/lnd_mpp_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_multi-hop_htlc_local_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_local_timeout_test.go
  lntest/itest/lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_remote_chain_claim_test.go
  lntest/itest/lnd_multi-hop_local_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_remote_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_network_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/lnd_send_multi_path_payment_test.go
  lntest/itest/lnd_signer_test.go
  lntest/itest/lnd_single_hop_invoice_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_test_list_off_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/lnd_wumbo_channels_test.go
  lntest/itest/test_harness.go
Labels: enhancement, golang/build system, testing

#4576 watchtower: conditionally reconstruct justice txns for anchor channels
  watchtower/blob/justice_kit.go
  watchtower/blob/justice_kit_test.go
  watchtower/blob/type.go
  watchtower/blob/type_test.go
  watchtower/lookout/justice_descriptor.go
  watchtower/lookout/justice_descriptor_test.go
  watchtower/lookout/lookout_test.go
  watchtower/wtclient/backup_task.go
Labels: v0.12, watchtower

#4353 Ability to configure neutrino useragent
  chainregistry.go
  config.go
  docs/INSTALL.md
  lncfg/neutrino.go
Labels: enhancement, neutrino, p2p, v0.12

#4640 fuzz/brontide: fix fuzz_utils.go NewBrontideMachine callsites
  fuzz/brontide/fuzz_utils.go
Labels: CI, docker, fuzzing

#4645 peer: abstractions to aid in unit testing
  peer/brontide.go
  peer/config.go
  peer/interfaces.go
  server.go
Labels: p2p, refactoring, tests

#4512 display verbose result in ChannelBalance
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_test.go
  rpcserver.go
Labels: channel management, enhancement, rpc, v0.12

#4650 lncli: fix macaroon usage when unlocking or using --no-macaroons
  cmd/lncli/cmd_profile.go
  cmd/lncli/cmd_walletunlocker.go
  cmd/lncli/commands.go
  cmd/lncli/main.go
  cmd/lncli/profile.go
Labels: bug fix, cli, lncli, macaroons

#4657 itest: update log error whitelist
  lntest/itest/log_error_whitelist.txt
Labels: itests

#4659 htlcswitch: randomize non-strict forwarding
  htlcswitch/switch.go
Labels: bug fix, enhancement, v0.12
