Repository lightningnetwork/lnd, pull requests merged in 2021-03, with the labels that each got.

#4338 channeldb+invoices: add set id index for AMP
  channeldb/db.go
  channeldb/invoice_test.go
  channeldb/invoices.go
  htlcswitch/hop/payload.go
  invoices/interface.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  invoices/test_utils_test.go
  invoices/update.go
  lnrpc/invoicesrpc/invoices.swagger.json
  lnrpc/invoicesrpc/utils.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_single_hop_invoice_test.go
Labels: P1, amp, v0.13

#5074 lnrpc: expose INVALID_ONION_PAYLOAD via RPC
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: routing, rpc, v0.13

#4517 multi: store KeyLocator in OpenChannel, use ECDH instead of DerivePrivKey
  chanbackup/single.go
  channeldb/channel.go
  channeldb/channel_test.go
  chanrestore.go
  lntest/itest/lnd_channel_backup_test.go
  lnwallet/reservation.go
  lnwallet/revocation_producer.go
  lnwallet/revocation_producer_itest.go
  lnwallet/wallet.go
Labels: P1, recovery, v0.13, wallet

#5073 lnwire: remove MaxPayloadLength from lnwire.Message interface
  lnwire/accept_channel.go
  lnwire/announcement_signatures.go
  lnwire/channel_announcement.go
  lnwire/channel_reestablish.go
  lnwire/channel_update.go
  lnwire/closing_signed.go
  lnwire/commit_sig.go
  lnwire/error.go
  lnwire/funding_created.go
  lnwire/funding_locked.go
  lnwire/funding_signed.go
  lnwire/gossip_timestamp_range.go
  lnwire/init_message.go
  lnwire/lnwire_test.go
  lnwire/message.go
  lnwire/node_announcement.go
  lnwire/open_channel.go
  lnwire/ping.go
  lnwire/pong.go
  lnwire/query_channel_range.go
  lnwire/query_short_chan_ids.go
  lnwire/reply_channel_range.go
  lnwire/reply_short_chan_ids_end.go
  lnwire/revoke_and_ack.go
  lnwire/shutdown.go
  lnwire/update_add_htlc.go
  lnwire/update_fail_htlc.go
  lnwire/update_fail_malformed_htlc.go
  lnwire/update_fee.go
  lnwire/update_fulfill_htlc.go
Labels: v0.13, wire protocol

#5072 tlv: fix ESatPerKw in benchmark
  tlv/bench_test.go
Labels: v0.13

#4775 [input/size] Check tx size constants
  input/size.go
  input/size_test.go
  lnwallet/channel.go
  lnwallet/transactions.go
  sweep/txgenerator_test.go
Labels: P1, bug fix, fees, v0.13

#5083 lncli: allow PSBT to be read from file
  cmd/lncli/cmd_open_channel.go
  lntest/itest/log_error_whitelist.txt
Labels: bug fix, cli, psbt

#4985 [gRPC] WalletUnlocker and RPCServer unification
  lnd.go
  lnrpc/autopilotrpc/autopilot_server.go
  lnrpc/autopilotrpc/driver.go
  lnrpc/chainrpc/chainnotifier_server.go
  lnrpc/chainrpc/driver.go
  lnrpc/invoicesrpc/driver.go
  lnrpc/invoicesrpc/invoices_server.go
  lnrpc/routerrpc/driver.go
  lnrpc/routerrpc/router_server.go
  lnrpc/signrpc/driver.go
  lnrpc/signrpc/signer_server.go
  lnrpc/sub_server.go
  lnrpc/verrpc/driver.go
  lnrpc/verrpc/server.go
  lnrpc/walletrpc/driver.go
  lnrpc/walletrpc/walletkit_server.go
  lnrpc/watchtowerrpc/driver.go
  lnrpc/watchtowerrpc/handler.go
  lnrpc/wtclientrpc/driver.go
  lnrpc/wtclientrpc/wtclient.go
  lntest/harness.go
  lntest/itest/log_error_whitelist.txt
  lntest/itest/log_substitutions.txt
  lntest/node.go
  log.go
  macaroons/service.go
  rpcperms/interceptor.go
  rpcserver.go
  walletunlocker/service.go
Labels: P1, v0.13

#5086 mobile: gracefully exit if lnd fails to start
  mobile/bindings.go
Labels: mobile

#5068 lncfg: expose channel update rate limiting options
  config.go
  lncfg/gossip.go
  lntest/itest/lnd_test.go
  sample-lnd.conf
  server.go
Labels: bug fix, config, gossip

#5005 [RPC] SubscribeState RPC for getting unlocking state of wallet and RPC
  cmd/lncli/cmd_state.go
  cmd/lncli/main.go
  lnd.go
  lnrpc/gen_protos.sh
  lnrpc/rest-annotations.yaml
  lnrpc/stateservice.pb.go
  lnrpc/stateservice.pb.gw.go
  lnrpc/stateservice.proto
  lnrpc/stateservice.swagger.json
  rpcperms/interceptor.go
Labels: v0.13

#4590 signal: handle shutdown properly
  build/log_shutdown.go
  build/logrotator.go
  cmd/lncli/cmd_open_channel.go
  cmd/lncli/commands.go
  cmd/lnd/main.go
  config.go
  lnd.go
  log.go
  mobile/bindings.go
  rpcserver.go
  signal/signal.go
Labels: mobile

#5061 routing: add mission control import rpc
  cmd/lncli/cmd_import_mission_control.go
  cmd/lncli/routerrpc.go
  lnrpc/rest-annotations.yaml
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.pb.gw.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_server.go
  lntest/itest/lnd_test.go
  lntest/itest/log_error_whitelist.txt
  routing/missioncontrol.go
  routing/missioncontrol_state.go
Labels: P1, enhancement, mission control

#5120 channeldb: return more detailed errors in DeleteInvoice
  channeldb/invoices.go
Labels: database, error messages, invoices

#5102 lncli+lnrpc: add payment address to sendpayment
  cmd/lncli/cmd_pay.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: api, enhancement, mpp, payments

#4704 lnrpc+lncli: fix sat per virtual byte
  cmd/lncli/cmd_open_channel.go
  cmd/lncli/commands.go
  cmd/lncli/main.go
  cmd/lncli/walletrpc_active.go
  cmd/lncli/walletrpc_types.go
  docs/watchtower.md
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit_server.go
  lnrpc/wtclientrpc/wtclient.go
  lnrpc/wtclientrpc/wtclient.pb.go
  lnrpc/wtclientrpc/wtclient.proto
  lnrpc/wtclientrpc/wtclient.swagger.json
  lntest/itest/lnd_onchain_test.go
  rpcserver.go
  server.go
Labels: P2, bug fix, fees, v0.13

#4933 routing: delay initial zombie prune by 30 sec
  routing/router.go
  routing/router_test.go
  server.go
Labels: P2, enhancement, mobile, neutrino, optimization
