Repository lightningnetwork/lnd, pull requests merged in 2021-01, with the labels that each got.

#4883 trivial: fix make rpc-format
  lnrpc/rpc.proto
Labels: rpc, trivial

#4879 release: actually create deterministic release archives
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .travis.yml
  Dockerfile
  Makefile
  dev.Dockerfile
  docs/release.md
  make/builder.Dockerfile
  make/release_flags.mk
  scripts/release.sh
Labels: bug fix, github actions, golang/build system, releases

#4907 doc+config: fix feeurl description and example, update installation instructions
  config.go
  docs/INSTALL.md
  lncfg/neutrino.go
  sample-lnd.conf
Labels: config, documentation

#4921 config: increase chain backend healthcheck timeout and backoff
  config.go
  sample-lnd.conf
Labels: v0.12

#4914 docker: add verification script
  .github/workflows/release.yaml
  Dockerfile
  Makefile
  docs/DOCKER.md
  docs/release.md
  scripts/release.sh
  scripts/verify-install.sh
Labels: docker, golang/build system, verification

#4162 amp: introduce child preimage and hash derivation
  amp/child.go
  amp/derivation_test.go
  amp/sharer.go
Labels: amp, crypto, payments, v0.13

#4958 netann: ignore unknown channel update on startup
  netann/chan_status_manager.go
  netann/channel_update.go
Labels: v0.12.1, v0.13

#4962 scripts: add halseth key to verify script
  scripts/verify-install.sh
Labels: v0.12.1, v0.13

#4938 docker: add an extra listener for localhost
  docker/lnd/start-lnd.sh
Labels: docker, enhancement, v0.13

#4944 docs: Add clang-format instructions for mac
  lnrpc/README.md
Labels: documentation, rpc

#4956 lnrpc: add htlc attempt id
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: v0.12.1, v0.13

#4952 GitHub: use vendored actions for steps with sensitive info
  .github/workflows/docker.yml
  .github/workflows/release.yaml
Labels: P1, golang/build system, security, v0.12.1, v0.13

#4963 scripts: don't fail signature verification on missing public key
  scripts/verify-install.sh
Labels: v0.12.1, v0.13

#2162 [Makefile] Define `make imports`
  Makefile
  monitoring/monitoring_on.go
Labels: P3, code health, makefile, needs review

#4919 rpcserver: use NotFound http status code in GetNodeInfo
  rpcserver.go
Labels: P3, REST, rpc, v0.12.1, v0.13
