Repository lightningnetwork/lnd, pull requests merged in 2021-11, with the labels that each got.

#5878 kvdb/bolt_compact: filter out non-ASCII from bucket name before printing
  docs/release-notes/release-notes-0.14.0.md
  kvdb/bolt_compact.go
Labels: boltdb, trivial

#5905 itest: fix two flakes
  docs/release-notes/release-notes-0.14.0.md
  lntest/harness.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_rest_api_test.go
Labels: itests, flake fix

#5873 channeldb+rpc: optimize graph related RPC calls
  channeldb/graph.go
  channeldb/graph_cache.go
  channeldb/graph_cache_test.go
  channeldb/graph_test.go
  docs/release-notes/release-notes-0.14.0.md
  lncfg/caches.go
  lntest/node.go
  rpcserver.go
  sample-lnd.conf
Labels: rpc, graph, optimization

#5941 channeldb: avoid locking the graph cache while iterating channels
  channeldb/graph_cache.go
  docs/release-notes/release-notes-0.14.0.md
Labels: graph, bug fix

#5948 Fix logging issues, cleanup config parsing
  chainreg/chainregistry.go
  config.go
  config_builder.go
  docs/release-notes/release-notes-0.14.0.md
  kvdb/kvdb_no_postgres.go
  kvdb/kvdb_postgres.go
  kvdb/postgres/db.go
  kvdb/postgres/db_test.go
  kvdb/postgres/driver.go
  kvdb/postgres/fixture.go
  kvdb/postgres/readwrite_bucket.go
  kvdb/postgres/readwrite_cursor.go
  kvdb/postgres/readwrite_tx.go
  kvdb/postgres_test.go
  lnd.go
  macaroons/service.go
Labels: logging, bug fix

#5991 cmd/lncli: remove --amp-reuse flag from lncli payinvoice
  cmd/lncli/cmd_payments.go
  docs/release-notes/release-notes-0.14.0.md
Labels: cli

#6012 channeldb: check fetchOpenChannel() error
  channeldb/db.go
  docs/release-notes/release-notes-0.14.1.md
Labels: bug fix, kvdb

#6016 tor+healthcheck: fix healthcheck for multiple services
  docs/release-notes/release-notes-0.14.1.md
  healthcheck/tor_connection.go
  tor/cmd_info.go
  tor/cmd_info_test.go
Labels: tor, bug fix, healthcheck
