Repository lightningnetwork/lnd, pull requests merged in 2021-06, with the labels that each got.

#5299 add detailed log message for "insufficient bandwidth" error
  htlcswitch/link.go
  lntest/itest/log_error_whitelist.txt
Labels: error messages, htlcswitch, routing

#5248 htlcswitch: concurrent onion decoding
  go.mod
  go.sum
  htlcswitch/hop/iterator.go
Labels: onion routing, optimization

#5358 rpcserver: log connections to transaction subscription stream
  rpcserver.go
Labels: logging, rpc

#5369 lnwallet+funding: sanitize upfront_shutdown_script
  funding/manager_test.go
  lnwallet/wallet.go
Labels: bug fix, channel closing, funding

#5376 lnrpc: fix v1 switch API doc
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
Labels: documentation, rpc

#5409 sample-lnd.conf: fix, move astray neutrino and routing options
  sample-lnd.conf
Labels: documentation

#5417 docs/release-notes: add new in-tree location for release notes
  docs/release-notes/release-notes-0.13.1.md
  docs/release-notes/release-notes-0.14.0.md
Labels: docs

#5335 RPC/CLI: Allow abandonchannel to be used in regular build
  cmd/lncli/commands.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  rpcserver.go
Labels: channels, rpc

#5355 multi: set zero bandwidth hint for channels that do not have any available slots
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/mock.go
  lntest/itest/lnd_max_htlcs_test.go
  lntest/itest/lnd_test_list_on_test.go
  lnwallet/channel.go
  server.go
Labels: channels, routing

#5419 lnd: only set payment address if not empty in PaymentRequest
  rpcserver.go
Labels: bug fix, rpc

#5332 routing: fix payment state and refactor payment lifecycle tests
  go.sum
  lntest/itest/lnd_routing_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/log_error_whitelist.txt
  routing/mock_test.go
  routing/notifications_test.go
  routing/pathfind_test.go
  routing/payment_lifecycle.go
  routing/payment_lifecycle_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/router.go
  routing/router_test.go
  routing/testdata/basic_graph.json
Labels: routing, testing

#5416 lncli: check for existence of tls file
  cmd/lncli/profile.go
Labels: lncli, tls

#5420 itest: use require inside net.EnsureConnected/net.ConnectNodes
  lntest/harness.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_etcd_failover_test.go
  lntest/itest/lnd_forward_interceptor_test.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_hold_persistence_test.go
  lntest/itest/lnd_max_channel_size_test.go
  lntest/itest/lnd_mpp_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/lnd_routing_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_wallet_import_test.go
  lntest/itest/lnd_wumbo_channels_test.go
Labels: itests

#5428 lnwallet: prevent anchor reserve enforcement on legacy inbound channel
  lntest/itest/lnd_onchain_test.go
  lnwallet/wallet.go
Labels: anchors, bug fix, channels

#5148 sweeper+contractcourt: deadline aware in sweeping anchors
  contractcourt/chain_arbitrator.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  contractcourt/commit_sweep_resolver_test.go
  docs/release-notes/release-notes-0.13.1.md
  lntest/fee_service.go
  lntest/fee_service_test.go
  lntest/harness.go
  lntest/itest/lnd_channel_force_close.go
  lntest/itest/lnd_test_list_on_test.go
  lnwallet/chainfee/estimator.go
  lnwallet/chainfee/estimator_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: P2
