Repository lightningnetwork/lnd, pull requests merged in 2021-04, with the labels that each got.

#5133 discovery+routing: cancel dependent jobs if parent validation fails
  discovery/gossiper.go
  discovery/gossiper_test.go
  routing/router.go
  routing/validation_barrier.go
  routing/validation_barrier_test.go
Labels: P1, bug fix, gossip, graph, v0.13, validation

#5047 multi: support derived public key import
  chainntnfs/bitcoindnotify/bitcoind_test.go
  chainntnfs/btcdnotify/btcd_test.go
  chainntnfs/test/test_interface.go
  chainntnfs/test_utils.go
  cmd/lncli/commands.go
  cmd/lncli/walletrpc_active.go
  funding/manager.go
  go.mod
  go.sum
  keychain/btcwallet.go
  lnd.go
  lnrpc/rest-annotations.yaml
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.pb.gw.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit_server.go
  lntest/btcd.go
  lntest/harness.go
  lntest/itest/lnd_multi-hop_htlc_aggregation_test.go
  lntest/itest/lnd_multi-hop_htlc_local_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_local_timeout_test.go
  lntest/itest/lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_remote_chain_claim_test.go
  lntest/itest/lnd_multi-hop_local_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_remote_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/lnd_wallet_import_test.go
  lntest/itest/test_harness.go
  lntest/mock/walletcontroller.go
  lntest/neutrino.go
  lntest/node.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/btcwallet/signer.go
  lnwallet/interface.go
  lnwallet/test/test_interface.go
  lnwallet/wallet.go
  peer/brontide.go
  pilot.go
  routing/chainview/interface_test.go
  rpcserver.go
  server.go
  sweep/backend_mock_test.go
  sweep/interface.go
  sweep/tx_input_set.go
  sweep/tx_input_set_test.go
  sweep/walletsweep.go
  sweep/walletsweep_test.go
Labels: P1, psbt, rpc, v0.13, wallet

#5116 routing: fix mission control deadlock
  routing/missioncontrol.go
Labels: v0.13

#5063 lnd: optionally serve pprof on localhost for better security
  config.go
  lnd.go
Labels: privacy, security, v0.13

#5143 Allow cert expiry to be set in config
  cert/selfsigned.go
  cert/selfsigned_test.go
  config.go
  lnd.go
  sample-lnd.conf
  server_test.go
Labels: v0.13

#5010 [mobile] Allow state API on mobile, simplify callback mechanism
  lnd.go
  lnrpc/Dockerfile
  mobile/bindings.go
  mobile/gen_bindings.sh
Labels: v0.13

#5108 channeldb+invoices: add spontaneous AMP receiving + sending via SendToRoute
  channeldb/invoice_test.go
  channeldb/invoices.go
  feature/default_sets.go
  feature/deps.go
  feature/manager.go
  htlcswitch/hop/payload.go
  htlcswitch/hop/payload_test.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  invoices/resolution_result.go
  invoices/test_utils_test.go
  invoices/update.go
  lnrpc/invoicesrpc/utils.go
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_amp_test.go
  lntest/itest/lnd_mpp_test.go
  lntest/itest/lnd_test_list_on_test.go
  lnwire/features.go
  record/amp.go
  record/record_test.go
Labels: amp

#5154 build+lncfg: support pruned bitcoind backends
  chainntnfs/test_utils.go
  chainreg/chainregistry.go
  config.go
  go.mod
  go.sum
  lncfg/bitcoind.go
  lnd.go
  lnwallet/test/test_interface.go
  routing/chainview/interface_test.go
  sample-lnd.conf
Labels: P1

#4425 Persist rescan progress.
  chainntnfs/neutrinonotify/neutrino.go
Labels: P1, database, enhancement, neutrino, v0.13

#4577 itest: logging for subtests and refactor WaitForBlockchainSync
  lntest/itest/assertions.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_test.go
  lntest/node.go
Labels: P3, debugging, itests, logging

#5192 discovery: always add chan announcements to the reject cache if err !…
  discovery/gossiper.go
  discovery/gossiper_test.go
Labels: bug fix

#4588 chanfunding: fee estimation based on change output in `CoinSelect`
  lnwallet/chanfunding/coin_select.go
  lnwallet/chanfunding/coin_select_test.go
  lnwallet/chanfunding/wallet_assembler.go
Labels: P2, coin selection, enhancement

#5034 build: switch all builds systems and CI/ID to go 1.16, update min go version, add support for compiling M1 binaries
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .travis.yml
  Dockerfile
  dev.Dockerfile
  docker/btcd/Dockerfile
  docker/ltcd/Dockerfile
  docs/INSTALL.md
  go.mod
  lnrpc/Dockerfile
  make/builder.Dockerfile
  make/release_flags.mk
Labels: M1, golang/build system, v0.13

#5138 channeldb+discovery: implement strict zombie pruning
  channeldb/graph.go
  channeldb/graph_test.go
  discovery/gossiper.go
  discovery/gossiper_test.go
  lncfg/routing.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
  sample-lnd.conf
  server.go
Labels: graph, optimization, spec

#2522 Cleanup in case of server failed to start
  chainreg/chainregistry.go
  channelnotifier/channelnotifier.go
  discovery/gossiper.go
  funding/manager.go
  funding/manager_test.go
  htlcswitch/htlcnotifier.go
  htlcswitch/switch_test.go
  invoices/invoiceregistry.go
  invoices/invoiceregistry_test.go
  invoices/test_utils_test.go
  lnd.go
  peernotifier/peernotifier.go
  server.go
Labels: P2, bug fix, p2p, server

#5214 routing: handle failure to launch shard after permanent failure
  channeldb/payment_control.go
  channeldb/payment_control_test.go
  routing/mock_test.go
  routing/payment_lifecycle.go
  routing/payment_lifecycle_test.go
Labels: P1, bug fix, routing, v0.13

#5165 lnwallet/chanfunding: check all PSBT inputs have witness stack
  docs/psbt.md
  lnwallet/chanfunding/psbt_assembler.go
  lnwallet/chanfunding/psbt_assembler_test.go
Labels: funding, psbt, v0.13, wallet

#5238 mod+tools: pin down build flag dependent go.sum entry
  go.sum
  tools.go
Labels: golang/build system, windows

#4905 Support spend_unconfirmed in EstimateFee and FundPsbt
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lnrpc/walletrpc/psbt.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit_server.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  lnwallet/test/test_interface.go
  rpcserver.go
  sweep/backend_mock_test.go
  sweep/interface.go
  sweep/tx_input_set_test.go
Labels: P2, enhancement, wallet

#5159 AMP support for SendPaymentV2
  amp/derivation_test.go
  amp/shard_tracker.go
  amp/shard_tracker_test.go
  amp/sharer.go
  channeldb/duplicate_payments.go
  channeldb/mp_payment.go
  channeldb/payment_control.go
  channeldb/payment_control_test.go
  channeldb/payments.go
  channeldb/payments_test.go
  htlcswitch/switch.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_server.go
  lnrpc/rpc.pb.go
  lnrpc/rpc.proto
  lnrpc/rpc.swagger.json
  lntest/itest/lnd_amp_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_send_multi_path_payment_test.go
  lntest/itest/lnd_single_hop_invoice_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/log_error_whitelist.txt
  routing/control_tower.go
  routing/control_tower_test.go
  routing/integrated_routing_context_test.go
  routing/mock_test.go
  routing/pathfind.go
  routing/payment_lifecycle.go
  routing/payment_lifecycle_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/router.go
  routing/router_test.go
  routing/shards/shard_tracker.go
  routing/shards/shard_tracker_test.go
  rpcserver.go
Labels: amp, enhancement, routing

#5156 blockcache: add blockcache pkg and pass it to all backends
  blockcache/blockcache.go
  blockcache/blockcache_test.go
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/bitcoindnotify/bitcoind_test.go
  chainntnfs/bitcoindnotify/driver.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/btcdnotify/btcd_test.go
  chainntnfs/btcdnotify/driver.go
  chainntnfs/neutrinonotify/driver.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/test/test_interface.go
  chainreg/chainregistry.go
  config.go
  lnd.go
  lnwallet/btcwallet/blockchain.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/btcwallet/driver.go
  lnwallet/test/test_interface.go
  routing/chainview/bitcoind.go
  routing/chainview/btcd.go
  routing/chainview/interface_test.go
  routing/chainview/neutrino.go
  sample-lnd.conf
Labels: enhancement, optimization, pruning

#5224 invoices: do not fail DeleteInvoice if payment addr isn't indexed
  channeldb/invoice_test.go
  channeldb/invoices.go
  invoices/invoiceregistry.go
Labels: bug fix, invoices

#5237 REST: Enable support for bi-directional streaming RPCs over REST, fix ping/pong support
  config.go
  docs/rest/websockets.md
  lnd.go
  lnrpc/metadata.go
  lnrpc/rest-annotations.yaml
  lnrpc/rpc.pb.gw.go
  lnrpc/rpc.swagger.json
  lnrpc/websocket_proxy.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/log_error_whitelist.txt
  sample-lnd.conf
Labels: REST, bug fix, gRPC

#5257 lncfg: add config options for new neutrino options
  go.mod
  go.sum
  lncfg/neutrino.go
  lnd.go
  lntest/itest/lnd_test.go
  lntest/neutrino.go
  make/testing_flags.mk
  sample-lnd.conf
Labels: v0.13
