Repository lightningnetwork/lnd, pull requests merged in 2021-05, with the labels that each got.

#5258 routing: return err on validation barrier failure of network update
  discovery/gossiper.go
  routing/router.go
Labels: bug fix, gossip, v0.13

#5246 routing: no backend call to fetch best block
  routing/router.go
Labels: enhancement, performance, routing

#5227 routing: add chans rejected due to failed chain validation to zombie index
  channeldb/graph.go
  channeldb/graph_test.go
  routing/errors.go
  routing/notifications_test.go
  routing/router.go
  routing/router_test.go
Labels: bug fix, discovery, performance, validation

#5231 lnwallet: use tail not tip in getUnsignedAckedUpdates
  channeldb/channel.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: P1, bug fix, commitments, v0.13

#5266 walletrpc: expose dry run support for ImportAccount
  cmd/lncli/walletrpc_active.go
  go.mod
  go.sum
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit_server.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
Labels: v0.13

#5256 Auto-unlock wallet from password file
  config.go
  docs/INSTALL.md
  docs/wallet.md
  lnd.go
  sample-lnd.conf
  walletunlocker/service.go
Labels: safety, wallet

#5036 [breacharbiter] Split justice tx in case of delayed confirmation.
  breacharbiter.go
  breacharbiter_test.go
  input/script_utils.go
  lntest/mock/spendnotifier.go
Labels: P1, anchors, safety, v0.13

#5291 chanfunding: extend PSBT witness input check
  lnwallet/chanfunding/psbt_assembler.go
  lnwallet/chanfunding/psbt_assembler_test.go
Labels: bug fix, funding, psbt, v0.13

#5293 multi: validate payment params at RPC layer
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  rpcserver.go
Labels: routing, rpc, v0.13, validation

#5303 rpcserver: add nil check to policy ordering
  rpcserver.go
Labels: bug fix, crash

#5309 lnrpc: fix typos in REST annotations for routerrpc
  lnrpc/rest-annotations.yaml
  lnrpc/routerrpc/router.pb.gw.go
  lnrpc/routerrpc/router.swagger.json
Labels: REST, bug fix

#5311 go.mod: update to use latest btcutil commit with psbt fix
  go.mod
  go.sum
Labels: golang/build system, psbt

#5164 Update PolicyUpdateRequest to avoid python clash
  docs/grpc/python.md
Labels: python-grpc

#5155 wallet: random coin selection
  chainreg/chainregistry.go
  config.go
  go.mod
  go.sum
  lnd.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/btcwallet/config.go
  lnwallet/chanfunding/wallet_assembler.go
  sample-lnd.conf
  sweep/tx_input_set.go
Labels: coin selection, enhancement, wallet

#5025 Add basic bitcoin signet support
  chainreg/chainparams.go
  chainreg/chainregistry.go
  cmd/lncli/main.go
  config.go
  go.mod
  go.sum
  lncfg/chain.go
  lnd.go
  sample-lnd.conf
  server.go
  zpay32/decode.go
  zpay32/encode.go
Labels: 32-bit, P2, backend, bitcoind, chain handling

#5328 rpcserver: check router state only if it is validating
  rpcserver.go
Labels: bug fix, neutrino

#5338 mod: update btcutil dependency
  go.mod
  go.sum
Labels: bug fix, wallet
