Repository lightningnetwork/lnd, pull requests merged in 2021-10, with the labels that each got.

#5770 lnwallet+htlcswitch: make Switch dust-aware
  config.go
  docs/release-notes/release-notes-0.13.3.md
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/mailbox.go
  htlcswitch/mailbox_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  lntest/itest/lnd_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/commitment.go
  lnwallet/test_utils.go
  sample-lnd.conf
  server.go
Labels: safety, htlcswitch, spec

#5665 lnd: use change output index from authoring TX to check reserved value
  docs/release-notes/release-notes-0.14.0.md
  lnwallet/wallet.go
  rpcserver.go
Labels: P2, bug fix, anchors

#5363 Allow skipping `PsbtFinalize` step during channel funding to support external broadcast
  docs/psbt.md
  docs/release-notes/release-notes-0.14.0.md
  funding/batch.go
  funding/batch_test.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_test_list_on_test.go
  lnwallet/chanfunding/canned_assembler.go
  lnwallet/chanfunding/psbt_assembler.go
  lnwallet/chanfunding/psbt_assembler_test.go
  lnwallet/wallet.go
  rpcserver.go
Labels: rpc, funding, P2, psbt

#5538 multi: refresh peer IP during reconnect
  docs/release-notes/release-notes-0.14.0.md
  lntest/harness.go
  lntest/itest/assertions.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_network_test.go
  lntest/itest/lnd_test_list_on_test.go
  server.go
Labels: p2p, networking, P2, bug fix

#5483 multi: respect and update min relay fee
  docs/release-notes/release-notes-0.14.0.md
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  lnwallet/chainfee/estimator.go
  lnwallet/chainfee/minfeemanager.go
  lnwallet/chainfee/minfeemanager_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: commitments, fees, htlcswitch, P2
