Repository lightningnetwork/lnd, pull requests merged in 2021-12, with the labels that each got.

#6049 etcd: make max message size configurable
  docs/release-notes/release-notes-0.14.2.md
  go.mod
  kvdb/etcd/config.go
  kvdb/etcd/db.go
  lncfg/db.go
  sample-lnd.conf
Labels: bug fix, etcd

#5756 itest: refactor context management inside harness node and net
  Makefile
  docs/release-notes/release-notes-0.15.0.md
  lntest/harness_net.go
  lntest/itest/assertions.go
  lntest/itest/lnd_amp_test.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_balance_test.go
  lntest/itest/lnd_channel_force_close_test.go
  lntest/itest/lnd_channel_graph_test.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_etcd_failover_test.go
  lntest/itest/lnd_forward_interceptor_test.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_hold_invoice_force_test.go
  lntest/itest/lnd_hold_persistence_test.go
  lntest/itest/lnd_macaroons_test.go
  lntest/itest/lnd_max_htlcs_test.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_mpp_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_open_channel_test.go
  lntest/itest/lnd_payment_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_revocation_test.go
  lntest/itest/lnd_routing_test.go
  lntest/itest/lnd_single_hop_invoice_test.go
  lntest/itest/lnd_switch_test.go
  lntest/itest/lnd_wallet_import_test.go
  lntest/node.go
  lntest/test_common.go
Labels: flake fix

#6071 routerrpc: fix wrong error messages
  lnrpc/routerrpc/router_backend.go
Labels: gRPC, bug fix

#6068 routing: fix memory corruption in MC store
  docs/release-notes/release-notes-0.14.2.md
  routing/missioncontrol_store.go
Labels: crash

#5539 Do not enforce new reserved value in PSBT midstep
  docs/release-notes/release-notes-0.14.2.md
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_test_list_on_test.go
  lnwallet/wallet.go
Labels: funding, anchors, psbt

#5710 config: misconfigured bitcoind zmq
  chainreg/chainregistry.go
  docs/release-notes/release-notes-0.15.0.md
Labels: config, safety, bitcoind

#6076 lnwallet+docs: minrelayfee always above fee floor
  docs/release-notes/release-notes-0.14.2.md
  lnwallet/chainfee/minfeemanager.go
  lnwallet/chainfee/minfeemanager_test.go
Labels: wallet, fees

#6075 funding: always send a channel type in explicit mode
  docs/release-notes/release-notes-0.14.2.md
  funding/commitment_type_negotiation.go
  funding/commitment_type_negotiation_test.go
  funding/manager.go
Labels: funding, compatibility

#6085 docs: Improvements to mobile instructions [skip ci]
  docs/release-notes/release-notes-0.15.0.md
  mobile/README.md
Labels: enhancement, documentation, mobile
