Repository lightningnetwork/lnd, pull requests merged in 2021-08, with the labels that each got.

#5484 etcd: enable full remote database support
  chainntnfs/bitcoindnotify/bitcoind_test.go
  chainntnfs/btcdnotify/btcd_test.go
  chainntnfs/height_hint_cache.go
  chainntnfs/height_hint_cache_test.go
  chainntnfs/test/test_interface.go
  chainreg/chainregistry.go
  channeldb/db.go
  channeldb/graph.go
  channeldb/nodes.go
  channeldb/payments.go
  channeldb/reports.go
  config.go
  docs/release-notes/release-notes-0.14.0.md
  go.mod
  go.sum
  htlcswitch/decayedlog.go
  htlcswitch/decayedlog_test.go
  kvdb/etcd/config.go
  kvdb/etcd/db.go
  kvdb/etcd/db_test.go
  kvdb/etcd/fixture.go
  kvdb/etcd/readwrite_tx_test.go
  kvdb/go.mod
  kvdb/go.sum
  kvdb/interface.go
  lncfg/db.go
  lnd.go
  lnrpc/invoicesrpc/config_active.go
  lnrpc/invoicesrpc/invoices_server.go
  lntest/itest/lnd_channel_force_close.go
  lntest/itest/lnd_hold_invoice_force_test.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_test.go
  lntest/itest/test_harness.go
  lntest/node.go
  lnwallet/test/test_interface.go
  macaroons/service.go
  macaroons/service_test.go
  macaroons/store.go
  macaroons/store_test.go
  make/testing_flags.mk
  pilot.go
  rpcserver.go
  server.go
  subrpcserver_config.go
  walletunlocker/service.go
  walletunlocker/service_test.go
  watchtower/wtdb/client_db.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/db_common.go
  watchtower/wtdb/tower_db.go
  watchtower/wtdb/tower_db_test.go
Labels: database, etcd

#5564 server: disable DNS boostrap for SigNet nodes
  docs/release-notes/release-notes-0.14.0.md
  server.go
  server_test.go
Labels: bug fix, config

#5521 lntest: fix possible race condition re asserting channel propagation
  lntest/itest/lnd_mpp_test.go
  lntest/node.go
Labels: flake fix

#5601 lnrpc: add JSON stubs for interacting with lnrpc from a WASM context
  .github/workflows/main.yml
  Makefile
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/Dockerfile
  lnrpc/autopilotrpc/autopilot.pb.json.go
  lnrpc/chainrpc/chainnotifier.pb.json.go
  lnrpc/gen_protos.sh
  lnrpc/invoicesrpc/invoices.pb.json.go
  lnrpc/lightning.pb.json.go
  lnrpc/routerrpc/router.pb.json.go
  lnrpc/signrpc/signer.pb.json.go
  lnrpc/state.pb.json.go
  lnrpc/verrpc/versioner.pb.json.go
  lnrpc/walletrpc/walletkit.pb.json.go
  lnrpc/walletunlocker.pb.json.go
  lnrpc/watchtowerrpc/watchtower.pb.json.go
  lnrpc/wtclientrpc/watchtowerclient.pb.json.go
Labels: protos, rpc, wasm

#5509 itest: neutrino anchor output flake fix
  docs/release-notes/release-notes-0.14.0.md
  lntest/harness.go
  lntest/itest/assertions.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_force_close.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/log_error_whitelist.txt
  lntest/itest/test_harness.go
  lntest/node.go
Labels: itests, flake fix

#5554 cmd/lncli: always parse the pay_addr field for sendpayment
  cmd/lncli/cmd_pay.go
  docs/release-notes/release-notes-0.13.2.md
Labels: bug fix, amp

#5513 etcd: fix dereferencing issue in commit queue causing contention and change design to be more scalable
  docs/release-notes/release-notes-0.14.0.md
  kvdb/etcd/commit_queue.go
  kvdb/etcd/commit_queue_test.go
  kvdb/etcd/db.go
  kvdb/etcd/stm.go
  kvdb/etcd/stm_test.go
Labels: optimization, etcd

#5460 lncli: add command for publishtransaction
  cmd/lncli/walletrpc_active.go
  docs/release-notes/release-notes-0.14.0.md
Labels: cli, chain handling

#5607 itests: payments test flake fix
  docs/release-notes/release-notes-0.14.0.md
  lntest/itest/lnd_payment_test.go
Labels: itests, flake fix

#4884 lnwire: fix heap escapes to reduce gc pressure
  buffer/read.go
  buffer/write.go
  chanbackup/single.go
  channeldb/waitingproof.go
  docs/release-notes/release-notes-0.14.0.md
  lnwire/accept_channel.go
  lnwire/announcement_signatures.go
  lnwire/channel_announcement.go
  lnwire/channel_reestablish.go
  lnwire/channel_update.go
  lnwire/closing_signed.go
  lnwire/commit_sig.go
  lnwire/error.go
  lnwire/extra_bytes.go
  lnwire/features.go
  lnwire/funding_created.go
  lnwire/funding_locked.go
  lnwire/funding_signed.go
  lnwire/gossip_timestamp_range.go
  lnwire/init_message.go
  lnwire/lnwire.go
  lnwire/lnwire_test.go
  lnwire/message.go
  lnwire/message_test.go
  lnwire/node_announcement.go
  lnwire/onion_error.go
  lnwire/onion_error_test.go
  lnwire/open_channel.go
  lnwire/ping.go
  lnwire/pong.go
  lnwire/query_channel_range.go
  lnwire/query_short_chan_ids.go
  lnwire/reply_channel_range.go
  lnwire/reply_short_chan_ids_end.go
  lnwire/revoke_and_ack.go
  lnwire/shutdown.go
  lnwire/update_add_htlc.go
  lnwire/update_fail_htlc.go
  lnwire/update_fail_malformed_htlc.go
  lnwire/update_fee.go
  lnwire/update_fulfill_htlc.go
  lnwire/writer.go
  lnwire/writer_test.go
  watchtower/wtwire/message.go
Labels: wire protocol, P2, optimization

#5528 backups: Keep channel backup in case of local force close
  channel_notifier.go
  channelnotifier/channelnotifier.go
  contractcourt/chain_arbitrator.go
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lntest/itest/assertions.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_open_channel_test.go
  lntest/itest/log_error_whitelist.txt
  rpcserver.go
  server.go
Labels: safety, recovery, backups

#5603 htlcswitch+peer: introduce packetHandler, ChannelUpdateHandler interfaces for cleaner separation
  docs/release-notes/release-notes-0.14.0.md
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_isolated_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  peer/brontide.go
  peer/interfaces.go
  peer/test_utils.go
Labels: p2p, htlcswitch, refactoring

#5395 fuzz/lnwire: minor touch-ups, remove MaxPayloadLength
  docs/release-notes/release-notes-0.14.0.md
  fuzz/lnwire/accept_channel.go
  fuzz/lnwire/announce_signatures.go
  fuzz/lnwire/channel_announcement.go
  fuzz/lnwire/channel_reestablish.go
  fuzz/lnwire/channel_update.go
  fuzz/lnwire/closing_signed.go
  fuzz/lnwire/commit_sig.go
  fuzz/lnwire/error.go
  fuzz/lnwire/funding_created.go
  fuzz/lnwire/funding_locked.go
  fuzz/lnwire/funding_signed.go
  fuzz/lnwire/fuzz_utils.go
  fuzz/lnwire/gossip_timestamp_range.go
  fuzz/lnwire/init.go
  fuzz/lnwire/node_announcement.go
  fuzz/lnwire/open_channel.go
  fuzz/lnwire/ping.go
  fuzz/lnwire/pong.go
  fuzz/lnwire/query_channel_range.go
  fuzz/lnwire/query_short_chan_ids.go
  fuzz/lnwire/query_short_chan_ids_zlib.go
  fuzz/lnwire/reply_channel_range.go
  fuzz/lnwire/reply_channel_range_zlib.go
  fuzz/lnwire/reply_short_chan_ids_end.go
  fuzz/lnwire/revoke_and_ack.go
  fuzz/lnwire/shutdown.go
  fuzz/lnwire/update_add_htlc.go
  fuzz/lnwire/update_fail_htlc.go
  fuzz/lnwire/update_fail_malformed_htlc.go
  fuzz/lnwire/update_fee.go
  fuzz/lnwire/update_fulfill_htlc.go
Labels: wire protocol, fuzzing

#5609 Docs: Replacing deprecated import in JS readme
  docs/grpc/javascript.md
Labels: gRPC, docs

#5591 rpcserver: validate FinalCltvDelta and CltvLimit for REST
  docs/release-notes/release-notes-0.14.0.md
  rpcserver.go
Labels: rpc, REST, validation

#5615 itest: fix commit deadline for neutrino backend
  contractcourt/channel_arbitrator.go
  docs/release-notes/release-notes-0.14.0.md
  lntest/itest/assertions.go
  lntest/itest/lnd_channel_force_close.go
Labels: test flake, itests

#5410 Add Tor hybrid connectivity mode
  config.go
  lncfg/tor.go
  lnd.go
  sample-lnd.conf
  tor/net.go
  tor/tor.go
Labels: networking, tor

#5354 itest: include compressed btcd backend logs from logrotate
  docs/release-notes/release-notes-0.14.0.md
  lntest/btcd.go
  lntest/node.go
Labels: travis, logging, itests, CI

#5646 itest: properly handle the creation of timeout context
  docs/release-notes/release-notes-0.14.0.md
  lntest/harness.go
  lntest/itest/assertions.go
  lntest/itest/lnd_amp_test.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_balance_test.go
  lntest/itest/lnd_channel_force_close.go
  lntest/itest/lnd_channel_graph_test.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_etcd_failover_test.go
  lntest/itest/lnd_forward_interceptor_test.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_hold_invoice_force_test.go
  lntest/itest/lnd_hold_persistence_test.go
  lntest/itest/lnd_max_channel_size_test.go
  lntest/itest/lnd_max_htlcs_test.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_mpp_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_multi-hop_htlc_aggregation_test.go
  lntest/itest/lnd_multi-hop_htlc_local_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_local_timeout_test.go
  lntest/itest/lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_remote_chain_claim_test.go
  lntest/itest/lnd_multi-hop_local_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_remote_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_network_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_open_channel_test.go
  lntest/itest/lnd_payment_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_recovery_test.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/lnd_revocation_test.go
  lntest/itest/lnd_routing_test.go
  lntest/itest/lnd_send_multi_path_payment_test.go
  lntest/itest/lnd_single_hop_invoice_test.go
  lntest/itest/lnd_switch_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_wallet_import_test.go
  lntest/itest/lnd_wumbo_channels_test.go
  lntest/itest/test_harness.go
  lntest/itest/utils.go
Labels: test flake, itests

#4717 walletunlocker: Allow wallet to be created from extended master root key (xprv)
  cmd/lncli/cmd_walletunlocker.go
  docs/release-notes/release-notes-0.14.0.md
  go.mod
  go.sum
  lnd.go
  lnrpc/walletunlocker.pb.go
  lnrpc/walletunlocker.proto
  lnrpc/walletunlocker.swagger.json
  lntest/harness.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_recovery_test.go
  walletunlocker/service.go
Labels: enhancement, rpc, wallet, recovery, P3

#5623 docs: explicitly set line wrap rules for error messages [skip ci]
  docs/code_contribution_guidelines.md
Labels: docs

#5629 keychain+lnwallet: when fetching priv keys or signing try to use cache
  docs/release-notes/release-notes-0.14.0.md
  go.mod
  go.sum
  keychain/bench_test.go
  keychain/btcwallet.go
  lnwallet/btcwallet/signer.go
Labels: wallet, optimization

#5621 peer: always send latest block header as part of ping messages
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/interface.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/test/test_interface.go
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  peer/brontide.go
  rpcserver.go
Labels: p2p, networking

#5622 peer+brontide: when decrypting re-use the allocated ciphertext buf & ensure buf pool buf doesn't escape
  brontide/bench_test.go
  brontide/noise.go
  docs/release-notes/release-notes-0.14.0.md
  peer/brontide.go
Labels: golang/build system, optimization

#5453 chainntnfs: neutrinonotify patches
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/neutrinonotify/neutrino_dev.go
  chainntnfs/txnotifier.go
  docs/release-notes/release-notes-0.14.0.md
Labels: notifications, neutrino, chain handling
