Repository lightningnetwork/lnd, pull requests merged in 2021-09, with the labels that each got.

#5356 Atomic batch channel funding
  cmd/lncli/cmd_open_channel.go
  cmd/lncli/main.go
  docs/psbt.md
  docs/release-notes/release-notes-0.14.0.md
  funding/batch.go
  funding/batch_test.go
  go.mod
  lnrpc/lightning.pb.go
  lnrpc/lightning.pb.gw.go
  lnrpc/lightning.pb.json.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/lightning.yaml
  lnrpc/lightning_grpc.pb.go
  lnrpc/walletrpc/config_active.go
  lnrpc/walletrpc/config_default.go
  lnrpc/walletrpc/driver.go
  lnrpc/walletrpc/walletkit_server.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/log_error_whitelist.txt
  rpcserver.go
Labels: enhancement, rpc, wallet, funding, P2

#5695 lncli: remove error logs
  docs/release-notes/release-notes-0.14.0.md
  rpcperms/interceptor.go
  rpcserver.go
Labels: logging, lncli

#5660 add DeletePayment that allows to delete a specific payment or its failed HTLCs
  channeldb/payment_control_test.go
  channeldb/payments.go
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.pb.gw.go
  lnrpc/lightning.pb.json.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/lightning.yaml
  lnrpc/lightning_grpc.pb.go
  rpcserver.go
Labels: rpc, payments, P3

#5465 chainntnfs: populate spendsByHeight during historical dispatch
  chainntnfs/txnotifier.go
  chainntnfs/txnotifier_test.go
  docs/release-notes/release-notes-0.14.0.md
Labels: backend, P2, bug fix, chain handling

#5637 itest: fix restore backup file test flake for bitcoind backend
  docs/release-notes/release-notes-0.14.0.md
  lnd.go
  lnrpc/stateservice.pb.go
  lnrpc/stateservice.proto
  lnrpc/stateservice.swagger.json
  lntest/node.go
  lntest/timeouts.go
  lntest/timeouts_darwin.go
  lntest/timeouts_etcd.go
  rpcperms/interceptor.go
  rpcserver.go
Labels: test flake, P2, bug fix, itests

#5315 Router: fix block height discrepancy
  docs/release-notes/release-notes-0.14.0.md
  routing/notifications_test.go
  routing/router.go
  routing/router_test.go
  server.go
Labels: notifications, routing, bug fix

#5731 Travis: reduce ARM itest parallelism to 2
  .travis.yml
  docs/release-notes/release-notes-0.14.0.md
Labels: itests, flake fix

#5304 rpc: Bake and validate macaroons with external permissions
  cmd/lncli/cmd_macaroon.go
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.pb.gw.go
  lnrpc/lightning.pb.json.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/lightning.yaml
  lnrpc/lightning_grpc.pb.go
  lntest/itest/lnd_macaroons_test.go
  macaroons/service.go
  rpcserver.go
Labels: enhancement, rpc, macaroons

#5405 routing: report invalid channels in updatechanpolicy call
  cmd/lncli/commands.go
  cmd/lncli/types.go
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  routing/localchans/manager.go
  routing/localchans/manager_test.go
  rpcserver.go
Labels: rpc, routing, P2

#5611 itest: fix test flakes from open channel not found and tx not found in mempool
  breacharbiter.go
  contractcourt/channel_arbitrator.go
  docs/release-notes/release-notes-0.14.0.md
  lntest/harness.go
  lntest/itest/assertions.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_force_close.go
  lntest/itest/lnd_channel_graph_test.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_revocation_test.go
  lntest/itest/lnd_routing_test.go
  lntest/itest/lnd_test.go
  lntest/node.go
  lntest/wait/wait.go
  routing/notifications.go
  server.go
Labels: P2, itests, flake fix

#5683 lnrpc: Fix WebSocket write deadline not being extended
  docs/release-notes/release-notes-0.14.0.md
  lnrpc/websocket_proxy.go
  lntest/itest/lnd_rest_api_test.go
Labels: P2, bug fix, websockets

#5618 multi: optimistically shutdown link during coop close
  docs/release-notes/release-notes-0.14.0.md
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/linkfailure.go
  htlcswitch/mock.go
  lnwallet/chancloser/chancloser.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  peer/brontide.go
  peer/brontide_test.go
  peer/test_utils.go
Labels: channel closing, htlcswitch, P2, bug fix

#5101 Add macaroon based RPC middleware interceptor
  cmd/lncli/cmd_macaroon.go
  cmd/lncli/main.go
  config.go
  docs/release-notes/release-notes-0.14.0.md
  lncfg/rpcmiddleware.go
  lnd.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.pb.gw.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/lightning.yaml
  lnrpc/lightning_grpc.pb.go
  lnrpc/rpc_utils.go
  lntest/harness.go
  lntest/itest/lnd_channel_force_close_test.go
  lntest/itest/lnd_macaroons_test.go
  lntest/itest/lnd_rpc_middleware_interceptor_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/node.go
  log.go
  macaroons/auth.go
  macaroons/constraints.go
  macaroons/constraints_test.go
  macaroons/service.go
  macaroons/service_test.go
  rpcperms/interceptor.go
  rpcperms/log.go
  rpcperms/middleware_handler.go
  rpcserver.go
  sample-lnd.conf
Labels: gRPC, authentication, macaroons, P3

#4364 multi: clean up forwarding state from closed channels
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/db.go
  channeldb/db_test.go
  channeldb/forwarding_package.go
  channeldb/forwarding_package_test.go
  channeldb/log.go
  channeldb/migration24/log.go
  channeldb/migration24/migration.go
  channeldb/migration24/migration_test.go
  contractcourt/briefcase.go
  contractcourt/channel_arbitrator.go
  docs/release-notes/release-notes-0.14.0.md
  htlcswitch/circuit_map.go
  htlcswitch/circuit_map_test.go
  htlcswitch/circuit_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/lnd_wipe_fwdpkgs_test.go
  rpcserver.go
Labels: enhancement, database, htlcswitch, P2, v0.12, disk space

#5699 lncli: add deletepayments command
  cmd/lncli/cmd_build_route.go
  cmd/lncli/cmd_mc_cfg_get.go
  cmd/lncli/cmd_mc_cfg_set.go
  cmd/lncli/cmd_mission_control.go
  cmd/lncli/cmd_payments.go
  cmd/lncli/cmd_query_mission_control.go
  cmd/lncli/cmd_query_probability.go
  cmd/lncli/cmd_reset_mission_control.go
  cmd/lncli/commands.go
  cmd/lncli/main.go
  docs/release-notes/release-notes-0.14.0.md
Labels: payments, lncli

#5053 verify-install: add keys to repo, pin signatures to keys
  .github/workflows/release.yaml
  Dockerfile
  docs/DOCKER.md
  docs/release-notes/release-notes-0.14.0.md
  docs/release.md
  scripts/keys/Crypt-iQ.asc
  scripts/keys/README.md
  scripts/keys/arshbot.asc
  scripts/keys/bhandras.asc
  scripts/keys/carlaKC.asc
  scripts/keys/cfromknecht.asc
  scripts/keys/guggero.asc
  scripts/keys/halseth.asc
  scripts/keys/positiveblue.asc
  scripts/keys/roasbeef.asc
  scripts/keys/wpaulino.asc
  scripts/verify-install.sh
Labels: golang/build system, security, docker, verification

#5527 config: sync-freelist being ignored
  config.go
  docs/release-notes/release-notes-0.14.0.md
  htlcswitch/decayedlog.go
  kvdb/config.go
  lncfg/db.go
  lncfg/db_test.go
  lnd.go
  watchtower/wtdb/client_db.go
Labels: config, boltdb

#5781 multi: replace DefaultDustLimit with accurate dust limit
  chainreg/chainregistry.go
  docs/release-notes/release-notes-0.13.3.md
  funding/manager.go
  funding/manager_test.go
  go.mod
  go.sum
  input/script_utils.go
  input/size.go
  lntest/itest/lnd_misc_test.go
  lnwallet/chanfunding/coin_select.go
  lnwallet/chanfunding/coin_select_test.go
  lnwallet/chanfunding/wallet_assembler.go
  lnwallet/errors.go
  lnwallet/parameters.go
  lnwallet/parameters_test.go
  lnwallet/reservation.go
  lnwallet/test/test_interface.go
  lnwallet/transactions_test.go
  lnwallet/wallet.go
  rpcserver.go
  sweep/sweeper.go
  sweep/sweeper_test.go
  sweep/tx_input_set.go
  sweep/tx_input_set_test.go
  sweep/txgenerator.go
  sweep/walletsweep.go
  sweep/walletsweep_test.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtpolicy/policy.go
Labels: rpc, utxo sweeping, bug fix, chain handling

#5808 htlcswitch: fix flake in TestShutdownIfChannelClean
  docs/release-notes/release-notes-0.14.0.md
  htlcswitch/link_test.go
Labels: htlcswitch, flake fix
