Repository lightningnetwork/lnd, pull requests merged in 2022-07, with the labels that each got.

#6642 htlcswitch: add linkStopIndex to cleanly shutdown ChannelLink
  docs/release-notes/release-notes-0.15.1.md
  htlcswitch/switch.go
Labels: htlcswitch, bug fix, concurrency

#6438 Delete failed payment attempts for successfully settled payments
  channeldb/db.go
  channeldb/options.go
  channeldb/payment_control.go
  channeldb/payment_control_test.go
  config.go
  config_builder.go
  docs/release-notes/release-notes-0.15.1.md
  routing/control_tower.go
  routing/control_tower_test.go
  routing/mock_test.go
  routing/payment_lifecycle.go
  routing/router_test.go
  sample-lnd.conf
Labels: database, payments, P1

#6712 lntest: keep all failed payments by default for HarnessNode
  docs/release-notes/release-notes-0.15.1.md
  lntest/harness_node.go
Labels: flake fix

#6714 lnwallet: don't create BIP044 key scope by default
  docs/release-notes/release-notes-0.15.1.md
  lntest/itest/lnd_psbt_test.go
  lnwallet/btcwallet/btcwallet.go
Labels: wallet, recovery, bug fix, remote signer

#6731 tools: upgrade linter version to v1.46.2
  .golangci.yml
  contractcourt/nursery_store.go
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/marshall_utils.go
  lnwallet/transactions_test.go
  tools/go.mod
  tools/go.sum
Labels: code health, golang/build system

#6739 rpcperms: re-init mw lookup map after removal of one
  docs/release-notes/release-notes-0.15.1.md
  rpcperms/interceptor.go
Labels: bug fix, middleware

#6741 itest: fix sign_psbt failure
  docs/release-notes/release-notes-0.15.1.md
  lntest/itest/lnd_psbt_test.go
Labels: itests, flake fix

#6754 multi: synchronous rpc middleware registration
  docs/release-notes/release-notes-0.15.1.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lntest/itest/lnd_rpc_middleware_interceptor_test.go
  rpcserver.go
Labels: rpc, middleware
