Repository lightningnetwork/lnd, pull requests merged in 2022-05, with the labels that each got.

#6250 htlcswitch+lntest: create resolutionStore to persist ResolutionMsg
  contractcourt/channel_arbitrator.go
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/circuit_map.go
  htlcswitch/circuit_map_test.go
  htlcswitch/circuit_test.go
  htlcswitch/resolution_store.go
  htlcswitch/resolution_store_test.go
  htlcswitch/switch.go
  htlcswitch/switch_test.go
  lntest/itest/lnd_res_handoff_test.go
  lntest/itest/lnd_test_list_on_test.go
Labels: safety, htlcswitch, contracts, P1

#6322 contractcourt: deadlock fix via temporary unmerged map
  contractcourt/chain_arbitrator.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  docs/release-notes/release-notes-0.15.0.md
Labels: P1, bug fix, livelock

#5652 Neutrino sub-server
  .github/workflows/release.yaml
  .golangci.yml
  Makefile
  cmd/lncli/main.go
  cmd/lncli/neutrino_active.go
  cmd/lncli/neutrino_default.go
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/gen_protos.sh
  lnrpc/neutrinorpc/config_active.go
  lnrpc/neutrinorpc/config_default.go
  lnrpc/neutrinorpc/driver.go
  lnrpc/neutrinorpc/log.go
  lnrpc/neutrinorpc/neutrino.pb.go
  lnrpc/neutrinorpc/neutrino.pb.gw.go
  lnrpc/neutrinorpc/neutrino.proto
  lnrpc/neutrinorpc/neutrino.swagger.json
  lnrpc/neutrinorpc/neutrino.yaml
  lnrpc/neutrinorpc/neutrino_grpc.pb.go
  lnrpc/neutrinorpc/neutrino_server.go
  lnrpc/neutrinorpc/neutrinokit.pb.json.go
  log.go
  make/release_flags.mk
  make/testing_flags.mk
  subrpcserver_config.go
Labels: P2

#6495 MuSig2: Add session cleanup RPC
  docs/release-notes/release-notes-0.15.0.md
  input/musig2.go
  input/test_utils.go
  lnrpc/signrpc/signer.pb.go
  lnrpc/signrpc/signer.pb.gw.go
  lnrpc/signrpc/signer.pb.json.go
  lnrpc/signrpc/signer.proto
  lnrpc/signrpc/signer.swagger.json
  lnrpc/signrpc/signer.yaml
  lnrpc/signrpc/signer_grpc.pb.go
  lnrpc/signrpc/signer_server.go
  lntest/itest/lnd_taproot_test.go
  lntest/mock/signer.go
  lnwallet/btcwallet/signer.go
  lnwallet/rpcwallet/rpcwallet.go
  watchtower/wtmock/signer.go
Labels: rpc, musig2

#6347 lnwallet+channeldb: store minimal info in revocation log bucket
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/db.go
  channeldb/db_test.go
  channeldb/migration24/migration.go
  channeldb/migration24/migration_test.go
  channeldb/migration25/channel.go
  channeldb/migration25/log.go
  channeldb/migration25/migration.go
  channeldb/migration25/migration_test.go
  channeldb/migration_01_to_11/channel.go
  channeldb/migration_01_to_11/codec.go
  channeldb/migration_01_to_11/graph.go
  channeldb/migration_01_to_11/legacy_serialization.go
  channeldb/migration_01_to_11/migrations_test.go
  channeldb/revocation_log.go
  channeldb/revocation_log_test.go
  contractcourt/breacharbiter.go
  contractcourt/breacharbiter_test.go
  contractcourt/chain_watcher.go
  docs/release-notes/release-notes-0.15.0.md
  go.mod
  go.sum
  htlcswitch/link.go
  lntest/itest/lnd_misc_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/commitment.go
  lnwallet/reservation.go
  rpcserver.go
  watchtower/wtclient/backup_task.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtclient/client_test.go
Labels: database, optimization

#6502 signer: fix crash in `MuSig2Combine` when the final signature isn't ready
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/signrpc/signer_server.go
  lntest/itest/lnd_taproot_test.go
Labels: bug fix, musig2

#6521 chanfunding: properly support p2tr inputs in funding TX
  docs/release-notes/release-notes-0.15.0.md
  lntest/harness_net.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_test_list_on_test.go
  lnwallet/btcwallet/signer.go
  lnwallet/chanfunding/coin_select.go
  lnwallet/chanfunding/wallet_assembler.go
Labels: funding, bug fix, taproot

#6450 taproot: add PSBT signing support for Taproot, fix remote signing Taproot support
  docs/release-notes/release-notes-0.15.0.md
  go.mod
  go.sum
  input/script_utils.go
  input/signdescriptor.go
  input/taproot.go
  lnrpc/signrpc/signer.pb.go
  lnrpc/signrpc/signer.proto
  lnrpc/signrpc/signer.swagger.json
  lnrpc/signrpc/signer_server.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_remote_signer_test.go
  lntest/itest/lnd_taproot_test.go
  lnwallet/btcwallet/psbt.go
  lnwallet/btcwallet/signer.go
  lnwallet/rpcwallet/rpcwallet.go
Labels: psbt, remote signer, taproot

#6464 Mobile builds: expose main sub-servers by default
  Makefile
  docs/release-notes/release-notes-0.15.0.md
  mobile/README.md
  mobile/gen_bindings.sh
Labels: mobile, sub-server

#6415 channeldb+invoices: refactor invoice logic when updating
  channeldb/invoices.go
  docs/release-notes/release-notes-0.15.0.md
  invoices/invoiceregistry.go
  invoices/update.go
Labels: database, refactoring, invoices

#6477 invoices: add client to map before delivering backlog notif
  docs/release-notes/release-notes-0.15.0.md
  invoices/invoiceregistry.go
Labels: test flake, itests

#6528 btcwallet bump: add Taproot fields to FundPsbt, add pkScript and value to ListLeases
  cmd/lncli/walletrpc_active.go
  docs/release-notes/release-notes-0.15.0.md
  go.mod
  go.sum
  lnrpc/walletrpc/psbt.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit_server.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
Labels: rpc, wallet

#6525 invoices: properly set Preimage field for success resolution
  invoices/update.go
Labels: bug fix, invoices

#6547 channeldb: copy value from boltdb's Get instead of using it directly
  channeldb/db.go
  docs/release-notes/release-notes-0.15.0.md
Labels: database, crash, bug fix

#6563 multi: export channel status field in migration25
  channeldb/migration25/channel.go
  channeldb/migration26/channel.go
  channeldb/migration27/channel.go
  channeldb/migration27/migration_test.go
  docs/release-notes/release-notes-0.15.0.md
Labels: bug fix

#6586 contractcourt: make empty htlcSets for closed channels
  contractcourt/chain_arbitrator.go
Labels: crash, bug fix
