Repository lightningnetwork/lnd, pull requests merged in 2022-09, with the labels that each got.

#6526 Update Tor module to add option to encrypt Tor key
  docs/release-notes/release-notes-0.16.0.md
  tor/cmd_onion.go
  tor/cmd_onion_test.go
  tor/onionaddr.go
Labels: security, tor

#6893 ci: fix go version for travis jobs
  .travis.yml
Labels: travis, CI

#6905 sample-conf: Chain backend documentation reformat, add warning [skip ci]
  sample-lnd.conf
Labels: config, docs

#6908 docs: fix typo in watchtower document and code comment
  docs/watchtower.md
  watchtower/wtwire/state_update.go
Labels: documentation, watchtower

#6779 tlv: allow tlv streams to use large records
  docs/release-notes/release-notes-0.16.0.md
  tlv/stream.go
  tlv/stream_test.go
  tlv/tlv_test.go
Labels: tlv

#6926 lnrpc: add additional REST binding for QueryRoutes
  docs/release-notes/release-notes-0.15.2.md
  lnrpc/lightning.pb.gw.go
  lnrpc/lightning.swagger.json
  lnrpc/lightning.yaml
Labels: rpc, REST, bug fix

#6892 server.go: add peerChan to peerConnectedListeners in NotifyWhenOnline
  docs/release-notes/release-notes-0.15.2.md
  server.go
Labels: server, bug fix

#6792 htlcswitch: use ticker.New instead of NewForce for test link
  docs/release-notes/release-notes-0.16.0.md
  htlcswitch/test_utils.go
Labels: test flake

#6945 rpcserver: error on zero local balance in openchan req
  docs/release-notes/release-notes-0.16.0.md
  rpcserver.go
Labels: error messages

#6936 doc: update psbt.md
  docs/psbt.md
Labels: documentation

#6753 lncli: `base_fee_msat` and `fee_rate_ppm` for `openchannel`
  channeldb/db.go
  cmd/lncli/cmd_open_channel.go
  docs/release-notes/release-notes-0.16.0.md
  funding/manager.go
  funding/manager_test.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lntest/harness_net.go
  lntest/harness_node.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_open_channel_test.go
  lntest/itest/lnd_test_list_on_test.go
  rpcserver.go
Labels: enhancement, funding

#6500 [tor] Add ability to encrypt the Tor private key on disk
  chanbackup/backupfile_test.go
  chanbackup/crypto.go
  chanbackup/multi.go
  chanbackup/multi_test.go
  chanbackup/pubsub_test.go
  chanbackup/recover_test.go
  chanbackup/single.go
  chanbackup/single_test.go
  docs/configuring_tor.md
  docs/release-notes/release-notes-0.16.0.md
  go.mod
  go.sum
  keychain/derivation.go
  lncfg/tor.go
  lnd.go
  lnencrypt/crypto.go
  lnencrypt/crypto_test.go
  lnencrypt/test_utils.go
  sample-lnd.conf
  server.go
  watchtower/config.go
  watchtower/standalone.go
Labels: enhancement, security, P2, tor

#6789 server+htlcswitch: check waiting-close fwdpkgs in reforwardResponses
  docs/release-notes/release-notes-0.16.0.md
  htlcswitch/mock.go
  htlcswitch/switch.go
  server.go
Labels: htlcswitch, bug fix
