Repository lightningnetwork/lnd, pull requests merged in 2022-08, with the labels that each got.

#6798 chainreg: shutdown if backend node doesn't support taproot
  chainreg/chainregistry.go
  chainreg/taproot_check.go
  docs/release-notes/release-notes-0.15.1.md
Labels: safety, taproot

#6770 lnwallet/chancloser: remove the commit fee clamp, introduce max fee
  docs/release-notes/release-notes-0.15.1.md
  htlcswitch/switch.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnwallet/chancloser/chancloser.go
  lnwallet/chancloser/chancloser_test.go
  lnwallet/channel.go
  peer/brontide.go
  rpcserver.go
  server.go
Labels: channel closing, channel management, spec

#6740 sweep: account for all script types in craftSweepTx
  docs/release-notes/release-notes-0.15.1.md
  lntest/itest/lnd_nonstd_sweep_test.go
  lntest/itest/lnd_test_list_on_test.go
  sweep/sweeper_test.go
  sweep/txgenerator.go
  sweep/txgenerator_test.go
  sweep/weight_estimator.go
Labels: rpc, wallet, bug fix

#6730 chainntfns: add new option for conf notifications to send block
  chainntnfs/bitcoindnotify/bitcoind.go
  chainntnfs/btcdnotify/btcd.go
  chainntnfs/interface.go
  chainntnfs/neutrinonotify/neutrino.go
  chainntnfs/test/test_interface.go
  chainntnfs/txnotifier.go
  chainntnfs/txnotifier_test.go
  chainreg/no_chain_backend.go
  discovery/gossiper_test.go
  docs/release-notes/release-notes-0.16.0.md
  funding/manager_test.go
  lnrpc/chainrpc/chainnotifier.pb.go
  lnrpc/chainrpc/chainnotifier.proto
  lnrpc/chainrpc/chainnotifier.swagger.json
  lnrpc/chainrpc/chainnotifier_server.go
  lntest/itest/lnd_taproot_test.go
  lntest/mock/chainnotifier.go
  sweep/test_utils.go
Labels: rpc, notifications

#6633 multi: send P2TR addrs by default for co-op close, add new `option_any_segwit` feature bit
  docs/release-notes/release-notes-0.15.1.md
  feature/default_sets.go
  feature/manager.go
  funding/manager.go
  funding/manager_test.go
  lncfg/protocol.go
  lncfg/protocol_rpctest.go
  lntest/itest/lnd_taproot_test.go
  lntest/itest/lnd_test_list_on_test.go
  lnwallet/chancloser/chancloser.go
  lnwallet/chancloser/chancloser_test.go
  lnwallet/wallet.go
  lnwire/features.go
  peer/brontide.go
  peer/brontide_test.go
  peer/test_utils.go
  sample-lnd.conf
  server.go
Labels: channel closing, needs review

#6664 funding: defer sending channel_update until received funding_locked
  docs/release-notes/release-notes-0.15.1.md
  funding/manager.go
  funding/manager_test.go
Labels: p2p, spec

#6457 Specify macaroon root key during wallet init
  config_builder.go
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/walletunlocker.pb.go
  lnrpc/walletunlocker.proto
  lnrpc/walletunlocker.swagger.json
  macaroons/service.go
  macaroons/store.go
  macaroons/store_test.go
  walletunlocker/service.go
Labels: wallet, macaroons

#6771 psbt: signal user that no psbt inputs were signed
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit_server.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/psbt.go
  lnwallet/btcwallet/psbt_test.go
  lnwallet/interface.go
  lnwallet/rpcwallet/rpcwallet.go
Labels: psbt, remote signer

#6829 tor: fix parsing replies
  docs/release-notes/release-notes-0.16.0.md
  tor/controller.go
  tor/controller_test.go
Labels: tor, bug fix

#6596 lnrpc+lnwallet: adds listaddresses RPC
  cmd/lncli/walletrpc_active.go
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.pb.gw.go
  lnrpc/walletrpc/walletkit.pb.json.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit.yaml
  lnrpc/walletrpc/walletkit_grpc.pb.go
  lnrpc/walletrpc/walletkit_server.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/utils.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
Labels: rpc, wallet

#6847 rpcserver+docs: add default case to addr type switch
  docs/release-notes/release-notes-0.15.1.md
  rpcserver.go
Labels: rpc, wallet, bug fix

#6795 build: make Go 1.18 the min version, update to Go 1.19
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .travis.yml
  Dockerfile
  dev.Dockerfile
  docker/btcd/Dockerfile
  docker/ltcd/Dockerfile
  docs/release-notes/release-notes-0.16.0.md
  go.mod
  go.sum
  lnrpc/Dockerfile
  lnrpc/autopilotrpc/autopilot.pb.go
  lnrpc/autopilotrpc/autopilot_grpc.pb.go
  lnrpc/chainrpc/chainnotifier.pb.go
  lnrpc/chainrpc/chainnotifier_grpc.pb.go
  lnrpc/devrpc/dev_grpc.pb.go
  lnrpc/invoicesrpc/invoices.pb.go
  lnrpc/invoicesrpc/invoices_grpc.pb.go
  lnrpc/lightning.pb.go
  lnrpc/lightning_grpc.pb.go
  lnrpc/neutrinorpc/neutrino_grpc.pb.go
  lnrpc/peersrpc/peers.pb.go
  lnrpc/peersrpc/peers_grpc.pb.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router_grpc.pb.go
  lnrpc/signrpc/signer.pb.go
  lnrpc/signrpc/signer_grpc.pb.go
  lnrpc/verrpc/verrpc_grpc.pb.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit_grpc.pb.go
  lnrpc/walletunlocker.pb.go
  lnrpc/walletunlocker_grpc.pb.go
  lnrpc/watchtowerrpc/watchtower_grpc.pb.go
  lnrpc/wtclientrpc/wtclient.pb.go
  lnrpc/wtclientrpc/wtclient_grpc.pb.go
  make/builder.Dockerfile
  tools/Dockerfile
Labels: golang/build system

#6850 release: create v0.15.1-rc2 release branch
  build/version.go
  docs/release-notes/release-notes-0.15.1.md
  rpcserver.go
Labels: releases

#6858 lncli: fix sendpayment arg parsing
  cmd/lncli/cmd_payments.go
  docs/release-notes/release-notes-0.16.0.md
Labels: payments, cli, bug fix

#6875 cmd+docs: fix cap out of range error in profile command
  cmd/lncli/cmd_profile.go
  docs/release-notes/release-notes-0.16.0.md
Labels: cli, bug fix
