Repository lightningnetwork/lnd, pull requests merged in 2022-10, with the labels that each got.

#6970 GitHub: show issue triage page when submitting an issue
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: github

#6998 funding: ignore maxWaitNumBlocksFundingConf for zero conf channels
  docs/release-notes/release-notes-0.15.2.md
  funding/manager.go
Labels: bug fix, zero conf

#6832 htlcswitch: clean up test resources and temporary files
  docs/release-notes/release-notes-0.16.0.md
  htlcswitch/circuit_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/payment_result_test.go
  htlcswitch/switch_test.go
Labels: code health, testing, flake fix

#5561 kvdb: refactor as preparation for DB migration command in lndinit
  channeldb/db.go
  channeldb/meta.go
  channeldb/meta_test.go
  docs/release-notes/release-notes-0.16.0.md
  kvdb/etcd/bucket.go
  kvdb/etcd/bucket_test.go
  kvdb/etcd/db.go
  kvdb/etcd/db_test.go
  kvdb/etcd/fixture.go
  kvdb/etcd/readwrite_bucket.go
  lncfg/db.go
Labels: database, migration, kvdb

#6972 watchtower: add towerID-to-sessionID index
  docs/release-notes/release-notes-0.16.0.md
  watchtower/wtclient/client.go
  watchtower/wtclient/interface.go
  watchtower/wtdb/client_db.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/codec_test.go
  watchtower/wtdb/log.go
  watchtower/wtdb/migration1/client_db.go
  watchtower/wtdb/migration1/client_db_test.go
  watchtower/wtdb/migration1/codec.go
  watchtower/wtdb/migration1/log.go
  watchtower/wtdb/tower_db_test.go
  watchtower/wtdb/version.go
  watchtower/wtmock/client_db.go
Labels: watchtower, optimization, performance

#6928 multi: remove AckedUpdates & CommittedUpdates from ClientSession struct
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/wtclientrpc/wtclient.go
  watchtower/wtclient/client.go
  watchtower/wtclient/interface.go
  watchtower/wtclient/session_queue.go
  watchtower/wtdb/client_db.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/client_session.go
  watchtower/wtmock/client_db.go
Labels: watchtower, performance

#6963 build: get binary build info from `debug/buildinfo`
  Makefile
  build/version.go
  docs/release-notes/release-notes-0.16.0.md
Labels: golang/build system

#7046 watchtower: docu fixes
  watchtower/wtclient/client.go
  watchtower/wtclient/interface.go
  watchtower/wtclient/session_queue.go
  watchtower/wtclient/stats.go
  watchtower/wtdb/client_db.go
  watchtower/wtwire/delete_session_reply.go
Labels: watchtower, inline documentation

#6759 itest: start a scaffolding testing framework
  .github/workflows/main.yml
  docs/release-notes/release-notes-0.16.0.md
  lntemp/README.md
  lntemp/fee_service.go
  lntemp/harness.go
  lntemp/harness_assertion.go
  lntemp/harness_miner.go
  lntemp/harness_node_manager.go
  lntemp/harness_setup.go
  lntemp/node/config.go
  lntemp/node/harness_node.go
  lntemp/node/state.go
  lntemp/node/sync_map.go
  lntemp/node/watcher.go
  lntemp/rpc/chain_notifier.go
  lntemp/rpc/harness_rpc.go
  lntemp/rpc/invoices.go
  lntemp/rpc/lnd.go
  lntemp/rpc/peers.go
  lntemp/rpc/router.go
  lntemp/rpc/signer.go
  lntemp/rpc/state.go
  lntemp/rpc/wallet_kit.go
  lntemp/rpc/wallet_unlocker.go
  lntemp/rpc/watchtower.go
  lntemp/utils.go
  lntest/harness_node.go
  lntest/itest/list_off_test.go
  lntest/itest/list_on_test.go
  lntest/itest/lnd_channel_graph_test.go
  lntest/itest/lnd_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/temp_lnd_test.go
  lntest/test_common.go
  lntest/wait/wait.go
  make/testing_flags.mk
Labels: code health, itests

#7025 watchtower: introduce an AddressIterator
  docs/release-notes/release-notes-0.16.0.md
  watchtower/wtclient/addr_iterator.go
  watchtower/wtclient/addr_iterator_test.go
  watchtower/wtclient/backup_task_internal_test.go
  watchtower/wtclient/candidate_iterator.go
  watchtower/wtclient/candidate_iterator_test.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/errors.go
  watchtower/wtclient/interface.go
  watchtower/wtclient/session_negotiator.go
  watchtower/wtclient/session_queue.go
  watchtower/wtdb/client_db.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/client_session.go
  watchtower/wtdb/tower.go
  watchtower/wtmock/client_db.go
Labels: watchtower

#7056 wallet: use correct birthday timestamp when creating watch-only wallet
  config_builder.go
  docs/release-notes/release-notes-0.16.0.md
Labels: wallet, bug fix, remote signer

#7085 rpcserver: expose graph tlv
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/devrpc/dev.swagger.json
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  rpcserver.go
Labels: enhancement, graph, tlv

#6776 itest: continued itest refactor and fix - I
  contractcourt/htlc_outgoing_contest_resolver.go
  contractcourt/htlc_outgoing_contest_resolver_test.go
  contractcourt/htlc_timeout_resolver.go
  docs/release-notes/release-notes-0.16.0.md
  lntemp/README.md
  lntemp/harness.go
  lntemp/harness_assertion.go
  lntemp/harness_miner.go
  lntemp/harness_node_manager.go
  lntemp/node/config.go
  lntemp/node/harness_node.go
  lntemp/rpc/invoices.go
  lntemp/rpc/lnd.go
  lntemp/rpc/router.go
  lntemp/rpc/wallet_kit.go
  lntemp/rpc/wallet_unlocker.go
  lntemp/utils.go
  lntest/itest/assertions.go
  lntest/itest/list_on_test.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_graph_test.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_multi-hop_htlc_aggregation_test.go
  lntest/itest/lnd_multi-hop_htlc_local_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_local_timeout_test.go
  lntest/itest/lnd_multi-hop_htlc_receiver_chain_claim_test.go
  lntest/itest/lnd_multi-hop_htlc_remote_chain_claim_test.go
  lntest/itest/lnd_multi-hop_local_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_remote_force_close_on_chain_htlc_timeout_test.go
  lntest/itest/lnd_multi-hop_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/lnd_zero_conf_test.go
  lntest/itest/temp_lnd_test.go
  lntest/itest/utils.go
  peer/brontide.go
  routing/payment_lifecycle.go
  routing/router.go
  routing/router_test.go
  rpcserver.go
Labels: code health, itests

#6517 htlcswitch: final settle signal
  channeldb/channel.go
  channeldb/channel_test.go
  channeldb/db.go
  channeldb/db_test.go
  contractcourt/breacharbiter_test.go
  contractcourt/chain_arbitrator.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  contractcourt/htlc_incoming_contest_resolver.go
  contractcourt/htlc_incoming_resolver_test.go
  contractcourt/htlc_success_resolver.go
  contractcourt/htlc_success_resolver_test.go
  contractcourt/interfaces.go
  contractcourt/mock_htlcnotifier_test.go
  docs/release-notes/release-notes-0.16.0.md
  htlcswitch/htlcnotifier.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_isolated_test.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch_test.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.pb.gw.go
  lnrpc/lightning.pb.json.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/lightning.yaml
  lnrpc/lightning_grpc.pb.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_server.go
  lnrpc/routerrpc/subscribe_events.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  lnwallet/test_utils.go
  lnwallet/transactions_test.go
  rpcserver.go
  server.go
Labels: safety, htlcswitch, invoices

#7090 fixes adming typo
  lnd.go
Labels: inline documentation
