Repository lightningnetwork/lnd, pull requests merged in 2022-06, with the labels that each got.

#6632 walletkit+sweeper: add forgotten P2TR address type
  lnrpc/walletrpc/walletkit_server.go
  lnwallet/rpcwallet/rpcwallet.go
  sweep/tx_input_set.go
Labels: taproot

#6644 lnrpc: fix comment and formatting in ConnectPeerRequest [skip ci]
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
Labels: rpc, docs

#6647 bugfix: avoid panic with empty graph
  autopilot/simple_graph.go
  docs/release-notes/release-notes-0.15.0.md
Labels: graph, P1, bug fix

#6576 lncli: add payment-addr flag to buildroute
  cmd/lncli/cmd_payments.go
  docs/release-notes/release-notes-0.15.0.md
Labels: gRPC, routing, cli

#6673 channeldb: fix data race in TestSerializeHTLCEntries
  channeldb/revocation_log_test.go
  docs/release-notes/release-notes-0.15.1.md
Labels: flake fix

#6592 lnrpc+lncli: adds required wallet reserve rpc & cli
  cmd/lncli/walletrpc_active.go
  docs/release-notes/release-notes-0.15.1.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/walletrpc/config_active.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.pb.gw.go
  lnrpc/walletrpc/walletkit.pb.json.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit.yaml
  lnrpc/walletrpc/walletkit_grpc.pb.go
  lnrpc/walletrpc/walletkit_server.go
  lntest/itest/lnd_onchain_test.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  lnwallet/wallet.go
  rpcserver.go
  subrpcserver_config.go
Labels: enhancement, commitments, anchors

#6676 Fix release reproducibility
  .gitignore
  docs/release-notes/release-notes-0.15.1.md
Labels: golang/build system, P1, releases

#6655 server.go: replace call to removePeer with Disconnect in DisconnectPeer
  docs/release-notes/release-notes-0.15.1.md
  lntest/itest/lnd_switch_test.go
  server.go
Labels: server, P1, bug fix, force closes

#6680 Taproot: Fix p2tr support in `ComputeInputScript`
  docs/release-notes/release-notes-0.15.1.md
  input/signer.go
  lnrpc/signrpc/signer.proto
  lnrpc/signrpc/signer.swagger.json
  lnrpc/signrpc/signer_grpc.pb.go
  lnrpc/signrpc/signer_server.go
  lntest/itest/lnd_remote_signer_test.go
  lntest/itest/lnd_taproot_test.go
Labels: wallet, bug fix, remote signer, taproot

#6687 walletrpc: Fix SignPsbt for NP2WKH inputs
  docs/release-notes/release-notes-0.15.1.md
  lntest/itest/lnd_psbt_test.go
  lnwallet/btcwallet/psbt.go
  lnwallet/btcwallet/psbt_test.go
Labels: wallet, bug fix, psbt

#6546 lnwire/peer: add ability to read + log peer warning messages
  docs/release-notes/release-notes-0.16.0.md
  htlcswitch/link.go
  lnwire/lnwire_test.go
  lnwire/message.go
  lnwire/warning.go
  peer/brontide.go
Labels: p2p, spec, error messages, error codes
