Repository lightningnetwork/lnd, pull requests merged in 2022-12, with the labels that each got.

#6913 htlcswitch: relax failure message length check
  channeldb/mp_payment.go
  docs/release-notes/release-notes-0.16.0.md
  go.mod
  go.sum
  htlcswitch/failure_test.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/mock.go
  htlcswitch/switch_test.go
  htlcswitch/testdata/long_failure_msg.json
  lnwire/onion_error.go
  routing/missioncontrol_store.go
Labels: htlcswitch

#7227 multi: update to tlv/v1.1.0 and use new *P2P tlv decoding variants
  docs/release-notes/release-notes-0.16.0.md
  go.mod
  go.sum
  htlcswitch/hop/payload.go
  lnwire/extra_bytes.go
  rpcserver.go
Labels: tlv

#7186 Fix potential channel announcements missing
  discovery/gossiper.go
  discovery/reliable_sender.go
  discovery/sync_manager.go
  discovery/syncer.go
  docs/release-notes/release-notes-0.16.0.md
  peer/brontide.go
  routing/router.go
  routing/validation_barrier.go
Labels: routing, gossip

#6857 pathfinding: capacity-dependent apriori model probability
  cmd/lncli/cmd_mission_control.go
  docs/release-notes/release-notes-0.16.0.md
  go.mod
  go.sum
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_grpc.pb.go
  lnrpc/routerrpc/router_server.go
  lnrpc/routerrpc/router_server_deprecated.go
  lntest/itest/lnd_rest_api_test.go
  lntypes/comparison.go
  lntypes/comparison_test.go
  routing/graph.go
  routing/missioncontrol.go
  routing/missioncontrol_test.go
  routing/mock_graph_test.go
  routing/mock_test.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_source.go
  routing/payment_session_test.go
  routing/probability_estimator.go
  routing/probability_estimator_test.go
  routing/router.go
  routing/router_test.go
  routing/unified_edges.go
  routing/unified_edges_test.go
  routing/unified_policies_test.go
  rpcserver.go
Labels: mission control, path finding
