Repository lightningnetwork/lnd, pull requests merged in 2022-02, with the labels that each got.

#6177 htlcswitch: add htlc interceptor failure control
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/interceptable_switch.go
  htlcswitch/interfaces.go
  htlcswitch/switch_test.go
  lnrpc/routerrpc/forward_interceptor.go
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
Labels: rpc, interface abstraction, invoices

#6226 Fix default value for fee limit
  cmd/lncli/cmd_payments.go
  docs/release-notes/release-notes-0.14.2.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/marshall_utils.go
  lnwallet/parameters.go
  lnwallet/parameters_test.go
Labels: routing, bug fix

#6236 invoicesrpc: limit first pass of hop hint selection
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/invoicesrpc/addinvoice.go
  lnrpc/invoicesrpc/addinvoice_test.go
  lntest/itest/lnd_hold_persistence_test.go
Labels: bug fix, invoices

#6233 rpcwallet: disallow empty UTXO pk script [skip ci]
  lnwallet/rpcwallet/rpcwallet.go
Labels: error messages, remote signer

#6224 monitoring+cfg: add new option to export gRPC perf metrics
  docs/release-notes/release-notes-0.15.0.md
  lncfg/monitoring_on.go
  monitoring/monitoring_on.go
  sample-lnd.conf
Labels: enhancement, monitoring

#6221 multi: reliable hand-off from htlcswitch to contractcourt
  contractcourt/chain_arbitrator.go
  contractcourt/channel_arbitrator.go
  contractcourt/channel_arbitrator_test.go
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/test_utils.go
  peer/brontide.go
Labels: code health, htlcswitch
