Repository lightningnetwork/lnd, pull requests merged in 2022-03, with the labels that each got.

#6295 build: update go-pretty v6
  cmd/lncli/cmd_payments.go
  go.mod
  go.sum
Labels: golang/build system, security

#6246 htlcswitch: only pipeline settle if add is locked-in
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/link.go
  htlcswitch/link_test.go
Labels: safety, htlcswitch, P1

#6220 config: clamp channel-commit-interval to reasonable time
  config.go
  docs/release-notes/release-notes-0.15.0.md
  sample-lnd.conf
Labels: config, P2

#6278 discovery: refactor processNetworkAnnouncement into smaller functions
  discovery/gossiper.go
  docs/release-notes/release-notes-0.15.0.md
Labels: discovery, refactoring

#6332 invoices: fix deadlock in invoice registry
  docs/release-notes/release-notes-0.15.0.md
  invoices/invoiceregistry.go
Labels: P1, invoices

#6274 lnrpc+sweep: properly remove any unconfirmed descendant chains a to-be-swept input is spent
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lntest/itest/assertions.go
  lntest/itest/lnd_channel_force_close_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  rpcserver.go
  sweep/backend_mock_test.go
  sweep/interface.go
  sweep/sweeper.go
  sweep/txgenerator.go
Labels: wallet, P1, utxo sweeping, bug fix

#6232 htlcswitch: add an always on mode to htlc interceptor
  config.go
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/interceptable_switch.go
  htlcswitch/interfaces.go
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/switch_test.go
  htlcswitch/test_utils.go
  lnrpc/routerrpc/forward_interceptor.go
  lnrpc/routerrpc/router_server.go
  peer/test_utils.go
  sample-lnd.conf
  server.go
Labels: htlcswitch, P1, bug fix

#5476 lnrpc: Add destination output information (pkScript, output index, amount and if output belongs to the node)
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/marshall_utils.go
  lnrpc/rpc_utils.go
  lnrpc/walletrpc/walletkit.swagger.json
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  lnwallet/test/test_interface.go
Labels: rpc, wallet, P3

#6353 switch+test: fix race condition in the interceptor unit test
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/switch_test.go
Labels: htlcswitch, bug fix

#6358 channeldb: change to ErrTypeForDecodingErr for amp state
  channeldb/invoices.go
Labels: database, P3, bug fix

#6359 lnd: disable REST proxy HTTP method fallback
  docs/release-notes/release-notes-0.14.3.md
  lnd.go
Labels: bug, REST, bug fix

#6341 remote signer: fix SignOutputRaw RPC for incomplete key info, fix healthcheck connection leak
  config_builder.go
  docs/release-notes/release-notes-0.14.3.md
  lnrpc/walletrpc/walletkit_server.go
  lntest/itest/lnd_remote_signer_test.go
  lntest/itest/lnd_signer_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/utils.go
  lntest/mock/walletcontroller.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  lnwallet/rpcwallet/healthcheck.go
  lnwallet/rpcwallet/rpcwallet.go
Labels: rpc, signrpc, healthcheck, remote signer

#6383 build: update to latest btcutil/psbt version
  docs/release-notes/release-notes-0.15.0.md
  go.mod
  go.sum
Labels: bug fix, psbt

#6379 btcwallet: always make sure default scopes exist
  docs/release-notes/release-notes-0.15.0.md
  lnwallet/btcwallet/btcwallet.go
Labels: bug fix, taproot

#6380 lnrpc: fix websocket proxy data race
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/websocket_proxy.go
Labels: bug fix, websockets
