Repository lightningnetwork/lnd, pull requests merged in 2022-11, with the labels that each got.

#6573 cert: add TLS reloader
  cert/go.mod
  cert/go.sum
  cert/selfsigned.go
  cert/selfsigned_test.go
  cert/tls.go
  docs/release-notes/release-notes-0.16.0.md
Labels: enhancement, security, tls

#6766 routing: Fix possible infinite loop on first hop unknown next peer
  docs/release-notes/release-notes-0.16.0.md
  routing/integrated_routing_context_test.go
  routing/integrated_routing_test.go
  routing/mock_graph_test.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/router_test.go
Labels: bug fix, path finding

#7155 release: create v0.15.5-rc1 release branch
  docs/release-notes/release-notes-0.15.5.md
  funding/config_rpctest.go
  funding/manager.go
  go.mod
  go.sum
  keychain/btcwallet.go
  lntest/itest/assertions.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_remote_signer_test.go
  lntest/mock/secretkeyring.go
  lnwallet/rpcwallet/rpcwallet.go
Labels: releases

#6822 itest: continued itest refactor and fix - II
  .github/workflows/main.yml
  .golangci.yml
  docs/release-notes/release-notes-0.16.0.md
  lntemp/harness.go
  lntemp/harness_assertion.go
  lntemp/harness_miner.go
  lntemp/harness_node_manager.go
  lntemp/node/config.go
  lntemp/node/state.go
  lntemp/node/watcher.go
  lntemp/rpc/lnd.go
  lntemp/rpc/peers.go
  lntemp/rpc/wallet_kit.go
  lntemp/utils.go
  lntest/itest/assertions.go
  lntest/itest/list_on_test.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_balance_test.go
  lntest/itest/lnd_channel_force_close_test.go
  lntest/itest/lnd_channel_graph_test.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_funding_test.go
  lntest/itest/lnd_misc_test.go
  lntest/itest/lnd_network_test.go
  lntest/itest/lnd_payment_test.go
  lntest/itest/lnd_recovery_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/utils.go
  lntest/timeouts.go
  lntest/timeouts_remote_db.go
  lntest/wait/wait.go
  make/testing_flags.mk
Labels: code health, itests

#7135 revise help text for addinvoice lncli command
  cmd/lncli/cmd_invoice.go
  cmd/lncli/invoicesrpc_active.go
  lnrpc/invoicesrpc/addinvoice.go
  lnrpc/routerrpc/router_backend.go
  rpcserver.go
Labels: cli, lncli
