Repository lightningnetwork/lnd, pull requests merged in 2022-04, with the labels that each got.

#6373 mobile: Add macos and apple Makefile tasks
  Makefile
  docs/release-notes/release-notes-0.15.0.md
Labels: golang/build system, mobile, makefile

#6385 lnrpc: remove legacy onion payload as an option for SendToRoute
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/routerrpc/router_backend.go
Labels: rpc, onion routing, routing

#6212 htlcswitch: interceptor expiry check
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/interceptable_switch.go
  htlcswitch/mock.go
  htlcswitch/switch_test.go
  peer/test_utils.go
  server.go
Labels: htlcswitch, P1, bug fix

#6352 routing: fail in-flight attempts cleanly on terminal payment failure
  docs/release-notes/release-notes-0.15.0.md
  routing/payment_lifecycle.go
  routing/router_test.go
Labels: routing, P1, bug fix

#6389 wallet: fix p2tr addresses not being marked as used
  docs/release-notes/release-notes-0.15.0.md
  go.mod
  go.sum
Labels: wallet, bug fix, taproot

#6024 routing: add time preference parameter
  cmd/lncli/cmd_payments.go
  docs/release-notes/release-notes-0.15.0.md
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/routerrpc/router.pb.go
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnrpc/routerrpc/router_backend_test.go
  lnrpc/routerrpc/router_server.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/payment_session_test.go
  routing/router.go
  routing/router_test.go
Labels: enhancement, mission control, P2, path finding

#5810 routing: send payment metadata
  channeldb/payments.go
  channeldb/payments_test.go
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/hop/payload.go
  htlcswitch/hop/payload_test.go
  invoices/interface.go
  invoices/invoiceregistry.go
  invoices/test_utils_test.go
  invoices/update.go
  lnrpc/lightning.pb.go
  lnrpc/lightning.proto
  lnrpc/lightning.swagger.json
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_backend.go
  lnwire/features.go
  record/hop.go
  routing/pathfind.go
  routing/pathfind_test.go
  routing/payment_session.go
  routing/route/route.go
  routing/route/route_test.go
  routing/router.go
  rpcserver.go
  zpay32/decode.go
  zpay32/encode.go
  zpay32/invoice.go
  zpay32/invoice_test.go
Labels: P3

#6340 build: update to Go 1.18
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .travis.yml
  Dockerfile
  chainntnfs/bitcoindnotify/bitcoind_test.go
  discovery/gossiper_test.go
  discovery/syncer_test.go
  docs/INSTALL.md
  docs/release-notes/release-notes-0.15.0.md
  htlcswitch/circuit_test.go
  lnrpc/routerrpc/router_backend_test.go
  make/builder.Dockerfile
Labels: golang/build system

#6402 Warn about selecting synchronous replication mode
  docs/postgres.md
Labels: enhancement, docs, postgres

#5157 lnd: Adds addpeer flag
  config.go
  docs/release-notes/release-notes-0.15.0.md
  lncfg/address.go
  lntest/itest/lnd_network_test.go
  lntest/itest/lnd_test_list_on_test.go
  sample-lnd.conf
  server.go
Labels: enhancement, p2p, config

#6064 config: Add bitcoind.{config,rpccookie} configuration options
  config.go
  docs/release-notes/release-notes-0.15.0.md
  lncfg/bitcoind.go
  sample-lnd.conf
Labels: config, bitcoind, P3

#6419 peer: allow restart during cooperative close
  docs/release-notes/release-notes-0.15.0.md
  lnwallet/chancloser/chancloser.go
  peer/brontide.go
Labels: p2p, channel closing, spec
