Repository lightningnetwork/lnd, pull requests merged in 2023-01, with the labels that each got.

#7176 Fix bumpfee command doc, incorrect reference to pendingsweeps
  cmd/lncli/walletrpc_active.go
Labels: cli, lncli, inline documentation

#7310 routerrpc: update QueryProbability documentation
  lnrpc/routerrpc/router.proto
  lnrpc/routerrpc/router.swagger.json
  lnrpc/routerrpc/router_grpc.pb.go
Labels: routing, path finding, inline documentation

#6823 itest: continued itest refactor and fix - III
  docs/release-notes/release-notes-0.16.0.md
  funding/manager.go
  lntemp/harness.go
  lntemp/harness_assertion.go
  lntemp/harness_miner.go
  lntemp/harness_node_manager.go
  lntemp/node/config.go
  lntemp/node/harness_node.go
  lntemp/rpc/invoices.go
  lntemp/rpc/lnd.go
  lntemp/rpc/router.go
  lntemp/rpc/wallet_unlocker.go
  lntemp/rpc/watchtower.go
  lntest/harness_node.go
  lntest/itest/assertions.go
  lntest/itest/list_on_test.go
  lntest/itest/lnd_channel_backup_test.go
  lntest/itest/lnd_channel_force_close_test.go
  lntest/itest/lnd_channel_policy_test.go
  lntest/itest/lnd_etcd_failover_test.go
  lntest/itest/lnd_hold_invoice_force_test.go
  lntest/itest/lnd_hold_persistence_test.go
  lntest/itest/lnd_macaroons_test.go
  lntest/itest/lnd_max_channel_size_test.go
  lntest/itest/lnd_max_htlcs_test.go
  lntest/itest/lnd_multi-hop-error-propagation_test.go
  lntest/itest/lnd_multi-hop-payments_test.go
  lntest/itest/lnd_no_etcd_dummy_failover_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_open_channel_test.go
  lntest/itest/lnd_payment_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_res_handoff_test.go
  lntest/itest/lnd_rest_api_test.go
  lntest/itest/lnd_revocation_test.go
  lntest/itest/lnd_routing_test.go
  lntest/itest/lnd_rpc_middleware_interceptor_test.go
  lntest/itest/lnd_single_hop_invoice_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/lnd_wipe_fwdpkgs_test.go
  lntest/itest/lnd_wumbo_channels_test.go
  lnwallet/wallet.go
  routing/bandwidth.go
Labels: itests

#7055 watchtower: reduce AckedUpdate storage footprint
  channeldb/migration30/migration_test.go
  channeldb/migtest/migtest.go
  docs/release-notes/release-notes-0.16.0.md
  lnrpc/wtclientrpc/wtclient.go
  watchtower/log.go
  watchtower/wtclient/client.go
  watchtower/wtclient/interface.go
  watchtower/wtdb/client_db.go
  watchtower/wtdb/client_db_test.go
  watchtower/wtdb/codec_test.go
  watchtower/wtdb/log.go
  watchtower/wtdb/migration2/client_db.go
  watchtower/wtdb/migration2/client_db_test.go
  watchtower/wtdb/migration2/codec.go
  watchtower/wtdb/migration2/log.go
  watchtower/wtdb/migration3/client_db.go
  watchtower/wtdb/migration3/client_db_test.go
  watchtower/wtdb/migration3/codec.go
  watchtower/wtdb/migration3/log.go
  watchtower/wtdb/migration4/client_db.go
  watchtower/wtdb/migration4/client_db_test.go
  watchtower/wtdb/migration4/codec.go
  watchtower/wtdb/migration4/log.go
  watchtower/wtdb/migration4/range_index.go
  watchtower/wtdb/range_index.go
  watchtower/wtdb/range_index_test.go
  watchtower/wtdb/version.go
  watchtower/wtmock/client_db.go
Labels: watchtower, migration, disk space

#7157 brontide: retry enabling channels
  channelnotifier/channelnotifier.go
  docs/release-notes/release-notes-0.16.0.md
  htlcswitch/link.go
  htlcswitch/link_test.go
  htlcswitch/switch.go
  htlcswitch/test_utils.go
  peer/brontide.go
  peer/brontide_test.go
  peer/test_utils.go
  rpcserver.go
Labels: p2p, brontide

#6824 itest: continued itest refactor and fix - IV
  docs/release-notes/release-notes-0.16.0.md
  lntemp/harness.go
  lntemp/harness_assertion.go
  lntemp/harness_miner.go
  lntemp/node/harness_node.go
  lntemp/node/state.go
  lntemp/rpc/chain_notifier.go
  lntemp/rpc/lnd.go
  lntemp/rpc/router.go
  lntemp/rpc/signer.go
  lntemp/rpc/wallet_kit.go
  lntest/itest/assertions.go
  lntest/itest/list_on_test.go
  lntest/itest/lnd_amp_test.go
  lntest/itest/lnd_custom_message.go
  lntest/itest/lnd_forward_interceptor_test.go
  lntest/itest/lnd_mpp_test.go
  lntest/itest/lnd_nonstd_sweep_test.go
  lntest/itest/lnd_onchain_test.go
  lntest/itest/lnd_open_channel_test.go
  lntest/itest/lnd_payment_test.go
  lntest/itest/lnd_psbt_test.go
  lntest/itest/lnd_remote_signer_test.go
  lntest/itest/lnd_rpc_middleware_interceptor_test.go
  lntest/itest/lnd_send_multi_path_payment_test.go
  lntest/itest/lnd_signer_test.go
  lntest/itest/lnd_switch_test.go
  lntest/itest/lnd_taproot_test.go
  lntest/itest/lnd_test_list_on_test.go
  lntest/itest/lnd_trackpayments_test.go
  lntest/itest/lnd_wallet_import_test.go
  lntest/itest/lnd_zero_conf_test.go
  lntest/itest/utils.go
  lnwallet/channel.go
  lnwallet/channel_test.go
Labels: itests

#7303 Add Custom Message to Fuzz Testing
  docs/release-notes/release-notes-0.16.0.md
  lnwire/fuzz_test.go
Labels: testing, fuzzing

#7292 aliasmgr+channeldb: stop deleting zero-conf edges from graph if reorg occurs
  aliasmgr/aliasmgr.go
  aliasmgr/aliasmgr_test.go
  channeldb/graph.go
  docs/release-notes/release-notes-0.16.0.md
  lntest/itest/list_on_test.go
  lntest/itest/lnd_zero_conf_test.go
Labels: bug fix, zero conf

#6527 tls: Add ability to encrypt TLS key on disk
  config.go
  config_builder.go
  docs/release-notes/release-notes-0.16.0.md
  docs/safety.md
  go.mod
  go.sum
  lnd.go
  sample-lnd.conf
  server.go
  server_test.go
  tls_manager.go
  tls_manager_test.go
Labels: enhancement, security, tls
