Repository lightningnetwork/lnd, pull requests merged in 2023-12, with the labels that each got.

#8241 release: create v0.17.3-beta.rc1 release branch
  build/version.go
  channeldb/channel.go
  docs/release-notes/release-notes-0.17.3.md
  go.mod
  go.sum
  htlcswitch/link.go
  input/musig2_session_manager.go
  lntest/harness.go
  lnwallet/channel.go
  lnwallet/channel_test.go
  peer/brontide.go
  routing/router.go
Labels: releases, no-changelog

#7702 wtclient: Tower Client Multiplexer
  docs/release-notes/release-notes-0.18.0.md
  htlcswitch/interfaces.go
  htlcswitch/link.go
  lnrpc/wtclientrpc/config.go
  lnrpc/wtclientrpc/wtclient.go
  peer/brontide.go
  rpcserver.go
  server.go
  subrpcserver_config.go
  watchtower/wtclient/client.go
  watchtower/wtclient/client_test.go
  watchtower/wtclient/manager.go
  watchtower/wtclient/session_queue.go
  watchtower/wtclient/stats.go
Labels: code health, watchtower, P1

#8259 fn: create new sub-module
  fn/go.mod
  go.mod
Labels: no-changelog

#8266 build: bump to fn/v1.0.0
  go.mod
  go.sum
Labels: no-changelog

#7654 rpc: add gettx command to walletrpc
  cmd/lncli/commands.go
  cmd/lncli/walletrpc_active.go
  docs/release-notes/release-notes-0.18.0.md
  itest/lnd_misc_test.go
  lnrpc/walletrpc/walletkit.pb.go
  lnrpc/walletrpc/walletkit.pb.gw.go
  lnrpc/walletrpc/walletkit.pb.json.go
  lnrpc/walletrpc/walletkit.proto
  lnrpc/walletrpc/walletkit.swagger.json
  lnrpc/walletrpc/walletkit.yaml
  lnrpc/walletrpc/walletkit_grpc.pb.go
  lnrpc/walletrpc/walletkit_server.go
  lntest/mock/walletcontroller.go
  lntest/rpc/wallet_kit.go
  lnwallet/btcwallet/btcwallet.go
  lnwallet/interface.go
  lnwallet/mock.go
  lnwallet/test/test_interface.go
Labels: enhancement, rpc, P1

#8030 multi: query chan update timestamps
  channeldb/graph.go
  channeldb/graph_test.go
  discovery/chan_series.go
  discovery/gossiper.go
  discovery/sync_manager.go
  discovery/sync_manager_test.go
  discovery/syncer.go
  discovery/syncer_test.go
  docs/release-notes/release-notes-0.18.0.md
  lncfg/protocol.go
  lncfg/protocol_integration.go
  lnwire/encoding.go
  lnwire/lnwire.go
  lnwire/lnwire_test.go
  lnwire/query_channel_range.go
  lnwire/query_channel_range_test.go
  lnwire/query_options.go
  lnwire/query_short_chan_ids.go
  lnwire/query_short_chan_ids_test.go
  lnwire/reply_channel_range.go
  lnwire/reply_channel_range_test.go
  lnwire/timestamps.go
  lnwire/writer.go
  lnwire/writer_test.go
  routing/router.go
  sample-lnd.conf
  server.go
Labels: wire protocol, graph, gossip

#8121 tlv: add new RecordT[T] utility type
  tlv/go.mod
  tlv/go.sum
  tlv/internal/gen/gen_tlv_types.go
  tlv/record_type.go
  tlv/record_type_test.go
  tlv/tlv_type_param.go
  tlv/tlv_types_generated.go
Labels: no-changelog

#8261 Enable multiple outgoing channel ids in payments
  cmd/lncli/cmd_payments.go
  docs/release-notes/release-notes-0.18.0.md
Labels: lncli
