Repository lightningnetwork/lnd, pull requests merged in 2025-05, with the labels that each got.

#9793 tlv: catch unhandled type in SizeBigSize
  tlv/primitive.go
  tlv/record.go
Labels: no-changelog

#9785 build: bump Go version to v1.23.9
  .github/workflows/main.yml
  .github/workflows/release.yaml
  .golangci.yml
  Dockerfile
  Makefile
  dev.Dockerfile
  docker/btcd/Dockerfile
  docs/INSTALL.md
  lnrpc/Dockerfile
  make/builder.Dockerfile
  tools/Dockerfile
Labels: golang/build system

#9789 multi: use updated TLV SizeFunc signature
  channeldb/migration/lnwire21/msat.go
  go.mod
  go.sum
  lnwire/msat.go
Labels: no-changelog

#9787 graph+lnwire: start validating that extra lnwire msg bytes are valid TLV
  docs/release-notes/release-notes-0.20.0.md
  graph/db/graph_test.go
  lnwire/channel_announcement.go
  lnwire/channel_announcement_2.go
  lnwire/channel_update.go
  lnwire/channel_update_2.go
  lnwire/extra_bytes.go
  lnwire/node_announcement.go
Labels: graph

#8330 bimodal pathfinding probability improvements
  docs/release-notes/release-notes-0.19.0.md
  routing/probability_bimodal.go
  routing/probability_bimodal_test.go
Labels: routing, path finding

#9796 graph/db: add test coverage for all V1Store methods
  graph/db/graph_test.go
  graph/db/kv_store.go
Labels: graph, tests, no-changelog

#9798 graph/db: synchronous topology client subscriptions/cancellations
  docs/release-notes/release-notes-0.19.0.md
  graph/db/graph.go
  graph/db/notifications.go
Labels: graph, flake fix

#9811 build: bump version to v0.19.0-beta.rc5
  build/version.go
Labels: no-itest, no-changelog

#9814 Update release notes for LND 19 - lncli breaking change
  docs/release-notes/release-notes-0.19.0.md
Labels: no-itest, no-changelog

#9823 graph/db: final test preparation before SQL impl
  graph/db/addr_test.go
  graph/db/graph_test.go
Labels: graph, tests, no-changelog

#9864 sqlc: update sqlc compiler to 1.29.0
  scripts/gen_sqlc_docker.sh
  sqldb/sqlc/amp_invoices.sql.go
  sqldb/sqlc/db.go
  sqldb/sqlc/invoice_events.sql.go
  sqldb/sqlc/invoices.sql.go
  sqldb/sqlc/migration.sql.go
  sqldb/sqlc/models.go
  sqldb/sqlc/querier.go
Labels: no-itest, no-changelog
